 <div id="customer_sidebar" class="desktop-3 mobile-3" style="padding:3em; color:#737373;border-right:1px solid black;">
	<a id="Overview" href="/account/addresses">{{ 'MY ADDRESS' }}</a>
	<a id="view_address" href="/pages/personal">{{ 'PERSONAL' }} </a>
	<a id="view_address" href="/account/orders">{{ 'ORDERS' }} </a>
	<a id="view_address" href="/account/logout">{{ 'LOGOUT'}} </a>
</div>

    <div id="customer_menu" class="For Mobil" style = "display:none">
    
        <div id="demo_box">
            <span class="pop_ctrl"><i class="fa fa-bars"></i></span>
            <ul id="demo_ul">
                <li><a id="view" href="/account/addresses">{{ 'MY ADDRESS' }}</a></li>
              <li><a id="view" href="/pages/personal">{{ 'PERSONAL' }}</a></li>
              <li><a id="view" href="/account/orders">{{ 'ORDERS' }}</a></li>
              <li><a id="view" href="/account/logout">{{ 'LOGOUT'}} </a></li>
            </ul>
        </div>
	
    </div>

    <script>
        $(function(){
           
            $('#demo_box').popmenu();          
        })
    </script>


<script>


(function ($) {

    $.fn.popmenu = function (options) {

        var settings = $.extend({
            'controller': true,
            'width': '400px',
            'background': '#34495e',
            'focusColor': '#1abc9c',
            'border': '10px',
            'top': '50',
            'left': '10',
            'color': '#fff',
            'border': '0px'
        }, options);
        if (settings.controller === true) {
            var temp_display = 'none';
        } else {
            var temp_display = 'inline';
        }
        var tar = $(this);
        var tar_body = tar.children('ul');
        var tar_list = tar_body.children('li');
        var tar_a = tar_list.children('a');
        var tar_ctrl = tar.children('.pop_ctrl');

        function setIt() {
            tar_body.css({
                'display': temp_display,
                'position': 'absolute',
                'margin-top': '-2.6em',
                'margin-left': '2.6em',
                'background': settings.background,
                'width': 'auto',
                'float': 'left',
                'padding': '0',
                'border-radius': settings.borderRadius,
                'border': settings.border
            });
            tar_list.css({
                'display': 'inline',
                'color': settings.color,
                'float': 'left',
                'width': settings.iconSize,
                'height': 'auto',
                'text-align': 'center',
                'border-radius': settings.borderRadius,
              
            });
          

            tar_a.css({
                'text-decoration': 'none',
                'color': settings.color,
                'padding-left':'0.5em',
                'padding-right':'0.5em',
                'border-left': '1px solid White',
                 
              
            });
          tar_ctrl.css({
            'font-size':'3em',
          });
           
            tar_ctrl.hover(function () {
                tar_ctrl.css('cursor', 'pointer');
            }, function () {
              tar_ctrl.css('cursor', 'default')
            });
            tar_ctrl.click(function (e) {
                e.preventDefault();
                tar_body.show('fast');
              
                 
                $(document).mouseup(function (e) {
                    var _con = tar_body;
                    if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                        _con.hide();
                    }
                  
                });
            });
                 var menuVisible = false;
            tar_ctrl.click(function() {
    if (menuVisible) {
      $('this').css({'display':'none'});
      menuVisible = false;
      return;
    }
    $('this').css({'display':'block'});
    menuVisible = true;
  
  $('this').click(function() {
    $(this).css({'display':'none'});
    menuVisible = false;
  });
     }); 
        
            tar_list.hover(function () {
                $(this).css({
                    'background': '#F65063',
                    
                });
               
            }, function () {
                $(this).css({
                    'background': settings.background,
                    'cursor': 'default'
                });
            });
        }
        return setIt();

    };

}(jQuery));
</script>