<!--<div class="texte">
   <h3 style="color:#AAAAAA;font-size: 10pt;margin-bottom: 20px;"> JUST SPICES: SEASONINGS FOR ALL</h3>
   <p>   
      	Eating is not fun without spices involved! We don’t just want to make cooking enjoyable
		for you, but also for all your friends and family who taste your delicious creations! You
		can consider us your local dealer for ingredients that create taste adventures out of your
		dishes. Whether you’re cooking your favorite pizza recipe, your grandma’s classic
		casserole, or that trendy new recipe from your favorite food blogger, spices will not only
		refine a dish, but add a whole new twist in the best way possible.
   </p>
</div>
<div class="texte">
   <h3 style="color:#AAAAAA;font-size: 10pt;margin-bottom: 20px;"> SPICES AND SPICE BLENDS</h3>
   <p>
      	Are you bored with your food? Well, no wonder - you’re probably just missing a
		decent pinch of chili in your life! Or any other spice that instantly gives your dinner
		that “wow factor” that it’s missing. But that&#39;s why you&#39;re here; at our spice gallery you
		can find the best spice blends for your creative dishes. Our current collection is just the
		beginning: Last year we went on a world tour to discover the most authentic spice
		blends to add to the Just Spices collection for you. With us, you’ll have the whole world
		in your kitchen soon!
   </p>
</div>
<div class="texte">
   <h3 style="color:#AAAAAA;font-size: 10pt;margin-bottom: 20px;"> YOUR ONLINE SPICE STORE</h3>
   <p>
      	We send seasonings directly to your home! Conveniently, on our website you can find
		our complete collection of creative spice blends. You can order a range from our BBQ
		and Italian seasonings all the way to exotic spice blends that you can add to your
		oatmeal or homemade warm popcorn. At Just Spices you find seasonings for everyone.
		Of course, there are also salt and pepper!
   </p>
</div>
-->
