<div class="gridlock" style="margin-bottom: 1em;">
   <div class="row" style="margin-top: 1em;">
     <h1 class="bestSellerHeading">OUR BEST SELLING SEASONINGS</h1>
      <div class="desktop-12 best-seller">
         {% for product in collections.Best-Seller.products %}
         <div class="desktop-3 tablet-3 gridlock row mobile-half relative">           
            
            	{% for tag in product.tags %}{% if tag == 'new' %}<img class="new" src="{{ 'neu.png' | asset_url }}"  style="width:25%"/>{% endif %}{% endfor %}
            		<a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
               			<img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                      <div style="background-color:#F0F0F0;min-height: 66px;">
               			<h2 id="product-listing-font" style="margin:auto;text-align: center;background-color:#F0F0F0;text-transform:uppercase;font-size:16px;">{{ product.title }}</h2>
                      </div>
                        <div style="background-color:#F0F0F0;text-align: center;position: relative;padding: 1em;margin-top: -.8em;">
                  			<button id="product_button_collection" style="margin:auto;width:100%;">
                  				{% if product.price_varies %} {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %} | Buy now
                  			</button>
               			</div>
           	 		</a>
         </div>
        {% endfor %}
      </div>
   </div>
</div>
