<!--
<div class="content">
   <div class="row">
      <div id ="linkesBildStartseite" class="desktop-3" style="display:none;">
         <a href="/products/spicy-garlic-blend">
         <img src="{{ 'spicygarlicblend.jpg' | asset_url}}" id="bildObenLinks" alt="JUSTSPICES | spicygarlicblend"/>
         </a>
         <a href="/products/spicy-garlic-blend">
         <button id="buttonObenlinks" style="width: 40%;font-size:16px;">BUY</button>
         </a>
      </div>
      <div id ="rechtesBildStartseite" class="desktop-12 mobile-full" style="display:none;">
         <a href="https://yummy.justspices.com/oatmeal_guide/">
            <img src="{{ 'slider2_920x1920-oatmealguide.jpg' | asset_url}}" alt="JUSTSPICES | spice oatmeal"/>
            <div id="rechterTeilImBild" style="display:none;">
               <button id="buttonObenRechts">LET´S GO</button>
            </div>
         </a>
      </div>
   </div>
</div>
-->