{% if product.title == 'BBQ Popcorn Seasoning' %}
  <span style = "margin-right:10px" >Contains 3.17 oz,</span>

{% elsif product.title == 'BBQ Seasoning' %}
  <span style = "margin-right:10px" >Contains 1.94 oz,</span>

{% elsif product.title == 'Extra Spicy Seasoning' %}
  <span style = "margin-right:10px" >Contains 2.47 oz,</span>

{% elsif product.title == 'Flavors of Italy' %}
 <span style = "margin-right:10px" >Contains 2.47 oz,</span>

{% elsif product.title == 'Flavors of Mexico' %}
  <span style = "margin-right:10px" >Contains 1.94 oz,</span>

{% elsif product.title == 'Guacamole Seasoning' %}
  <span style = "margin-right:10px" >Contains 2.12 oz,</span>

{% elsif product.title == 'Hickory Rub' %}
  <span style = "margin-right:10px" >Contains 2.82 oz,</span>

{% elsif product.title == 'Murray River Salt' %}
  <span style = "margin-right:10px" >Contains 1.73 oz,</span>

{% elsif product.title == 'Oatmeal Spice Blend' %}
  <span style = "margin-right:10px" >Contains 2.05 oz,</span>

{% elsif product.title == 'Pancake Blend' %}
<span style = "margin-right:10px" >Contains 2.65 oz,</span>

{% elsif product.title == 'Pizza Seasoning' %}
<span style = "margin-right:10px" >Contains 1.87 oz,</span>

{% elsif product.title == 'Pork Rub' %}
<span style = "margin-right:10px" >Contains 3.00 oz,</span>

{% elsif product.title == 'Savory Eggs Blend' %}
<span style = "margin-right:10px" >Contains 2.58 oz,</span>

{% elsif product.title == 'Seafood Rub' %}
<span style = "margin-right:10px" >Contains 2.40 oz,</span>

{% elsif product.title == 'Smoothie Boost' %}
<span style = "margin-right:10px" >Contains 1.73 oz,</span>

{% elsif product.title == 'Spicy Garlic Blend' %}
<span style = "margin-right:10px" >Contains 1.73 oz,</span>

{% elsif product.title == 'Spicy Popcorn Seasoning' %}
<span style = "margin-right:10px" >Contains 3.46 oz,</span>

{% elsif product.title == 'Steak Rub' %}
<span style = "margin-right:10px" >Contains 2.58 oz,</span>

{% elsif product.title == 'Sweet Potato Seasoning' %}
<span style = "margin-right:10px" >Contains 2.58 oz,</span>

{% elsif product.title == 'Tellicherry Pepper' %}
<span style = "margin-right:10px" >Contains 2.05 oz,</span>

{% elsif product.title == 'Texas BBQ Dip Seasoning' %}
<span style = "margin-right:10px" >Contains 1.69 oz,</span>

{% elsif product.title == 'Vegetable Broth Seasoning' %}
<span style = "margin-right:10px" >Contains 2.47 oz,</span>

{% elsif product.title == 'Paprika Cream Cheese Seasoning' %}
<span style = "margin-right:10px" >Contains 2.47 oz,</span>

{% elsif product.title == 'Mushroom Seasoning' %}
<span style = "margin-right:10px" >Contains 2.12 oz,</span>

{% elsif product.title == 'Chipotle Chili Seasoning' %}
<span style = "margin-right:10px" >Contains 2.29 oz,</span>

{% elsif product.title == 'Fleur De Sel' %}
<span style = "margin-right:10px" >Contains 3.84 oz,</span>

{% elsif product.title == 'Exotic Rice Seasoning' %}
<span style = "margin-right:10px" >Contains 2.82 oz,</span>

{% elsif product.title == 'Spicy Jerk Rub Seasoning' %}
<span style = "margin-right:10px" >Contains 1.94 oz,</span>

{% elsif product.title == 'Garam Masala Seasoning' %}
<span style = "margin-right:10px" >Contains 2.12 oz,</span>

{% elsif product.title == 'Green Curry Seasoning' %}
<span style = "margin-right:10px" >Contains 1.76 oz,</span>

{% elsif product.title == 'Cajun Seasoning' %}
<span style = "margin-right:10px" >Contains 1.41 oz,</span>

{% elsif product.title == 'Purple Curry Seasoning' %}
<span style = "margin-right:10px" >Contains 2.12 oz,</span>

{% elsif product.title == 'Berry Yoghurt Seasoning' %}
<span style = "margin-right:10px" >Contains 1.23 oz,</span>

{% elsif product.title == 'Five Pepper Seasoning' %}
<span style = "margin-right:10px" >Contains 1.94 oz,</span>

{% elsif product.title == 'Chili con Carne Seasoning' %}
<span style = "margin-right:10px" >Contains 1.94 oz,</span>

{% elsif product.title == 'Mediterranean Herb Salt Seasoning' %}
<span style = "margin-right:10px" >Contains 3.53 oz,</span>

{% elsif product.title == 'Chicken Seasoning' %}
<span style = "margin-right:10px" >Contains 2.79 oz,</span>

{% elsif product.title == 'Flavors of India' %}
<span style = "margin-right:10px" >Contains 2.29 oz,</span>

{% elsif product.title == 'Vegetable Seasoning' %}
<span style = "margin-right:10px" >Contains 2.65 oz,</span>

{% elsif product.title == 'Clean Eating Allrounder' %}
<span style = "margin-right:10px" >Contains 1.41 oz,</span>

{% elsif product.title == 'Sweet Love' %}
<span style = "margin-right:10px" >Contains 2.08 oz,</span>

{% elsif product.title == 'Tofu Seasoning' %}
<span style = "margin-right:10px" >Contains 2.12 oz,</span>

{% elsif product.title == 'Herbs de Provence' %}
<span style = "margin-right:10px" >Contains 0.85 oz,</span>

{% elsif product.title == 'Blossom Mix' %}
<span style = "margin-right:10px" >Contains 0.39 oz,</span>

{% elsif product.title == 'Hash Brown Seasoning' %}
<span style = "margin-right:10px" >Contains 2.54 oz,</span>

{% elsif product.title == 'Ranch Seasoning' %}
<span style = "margin-right:10px" >Contains 0.81 oz,</span>

{% elsif product.title == 'Pasta Alfredo Seasoning' %}
<span style = "margin-right:10px" >Contains 1.59 oz,</span>

{% elsif product.title == 'Coffee Kiss Seasoning' %}
<span style = "margin-right:10px" >Contains 1.94 oz,</span>

{% elsif product.title == 'Sporty Spice Seasoning' %}
<span style = "margin-right:10px" >Contains 1.94 oz,</span>

{% elsif product.title == 'Chocolate Salt Popcorn Seasoning' %}
<span style = "margin-right:10px" >Contains 3.70 oz,</span>
{% endif %}
