<h3 class="fs-20" style = "font-family: sans-serif;text-align: center;margin-top:1em">OTHER CUSTOMERS ALSO LIKE</h3>
<span calss ="lovesProduct">
<div class = "text-center">
<ul class="sell">

             
               {% for product in collections.Best-Seller.products limit:4 %}
                 
                   
             <li class = "text-center">
            		<a class="Pro" href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                     <img class ="imagePro" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" /></a><br>
                    <h2 class="fs-16">{{ product.title }}</h2>
                    <h2 class="fs-22">{{ product.price | money }}</h2>
               </li>
 
  {% endfor %}           
  
           
</ul>
         
</div>    
 

<style>
  
 
  ul.sell{
    width:100%
    height: max-content;
    margin-top:2em;
    
   
 }
  ul.sell li{
  
  max-width: 20em;
  min-width: 10em;
  display: inline-block;
  margin-left: 1em;  

  
  }
  

  @media screen and (min-width: 500px) {
  
    .crossselltitle{font-size:20px !important}
    .lovesProduct{
    
    margin-left:0em  ! important;
      
    }
    ul.sell{ margin-left:0em ! important}
    ul.sell li{ max-width: 16em;}
  
  
  }
  
</style> 
</span> 