{% if template contains 'product' %}
  {% assign cscurrentpage = 'product' %}
{% endif %}  
{% if template == 'cart' %}
  {% assign cscurrentpage = 'cart' %}
{% endif %} 

{% if shop.metafields.shopCrosssell.settings != null %}

<script>!window.jQuery && document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"><\/script>')</script>
<script>if ((typeof Shopify.formatMoney) === 'undefined') {
 	document.write('<script src="{{ 'api.jquery.js' | shopify_asset_url  }}"><\/script>');
}
</script> 
 <script type="text/javascript" charset="utf-8">
  //<![CDATA[
  
  var crosssellsettings = eval({{ shop.metafields.shopCrosssell.settings | json }});
    
  {% if cscurrentpage == 'product' %}
    //product specific settings
    var crossselltitleproductpage = crosssellsettings[0]['titleproductpage'];
    var crossselltitleproductpagedefault = crosssellsettings[0]['titleproductpagedefault']; 
    var crosssellmaxitems = crosssellsettings[0]['productpagemaxitems'];
    var crosssellshowdefault = crosssellsettings[0]['showdefault']; 
  {% else %}
    //cart/basket settings
    var crossselltitlecheckoutpage = crosssellsettings[0]['titlecheckoutpage'];
    var crosssellmaxitems = crosssellsettings[0]['checkoutpagemaxitems'];
    var crosssellshowcheckout = crosssellsettings[0]['showcheckout'];
  {% endif %}

  //]]>
  </script> 

{% endif %}

<style type="text/css">
  #cross-sell{float:left;clear:both;width:100%;}
  h3.crossselltitle{margin:25px 0;font-family: DaftBrush;font-size: 30px;}
  .cross-sell{overflow:hidden;list-style-type:none;margin:0;padding:0;clear:both;}
  .cross-sell *{font-size:13px; text-align:center; padding:0;}
  .cross-sell h4{border:none;margin:5px 0 0 0;line-height:1.5;}
  .cross-sell div.image{height:180px;}
  .cross-sell li{float:left; padding:0 0 10px 0;margin:0 14px 30px 0;position:relative;width:174px;}
  .cross-sell li:last-child{margin-right:0;}
  .cross-sell li .image{}
  .cross-sell li .image img{margin:0px 0 10px 0px;float:left;width:100%;}
  .cross-sell li .producttitle{float:left;padding:5px 0;width:100%;min-height:56px;}
  .cross-sell li a{text-decoration:none;font-size:115%;line-height:20px;padding:5px;}
  .cross-sell li .money a{font-size:180%;float:left;text-align:center; padding:5px 0;width:100%;}
</style>

<div id="cross-sell"></div>

<script type="text/javascript" charset="utf-8">
  //<![CDATA[
  var tmpdata = '';
  var tmptitle = ''; 
  {% if cscurrentpage == 'product' %}
  
    //First of all, see if this product has any handpicked crosssell items
     if(crosssellshowdefault != '4')
    {  
      {% if product.metafields.productDetails.crosssell != null %}
        //See if the selected product has any cross-sell items
        tmpdata = eval({{ product.metafields.productDetails.crosssell | json }}); 
        if(crossselltitleproductpage.length) // if a title has been selected
        {
          tmptitle = '<h3 class="crossselltitle">'+crossselltitleproductpage+'</h3>';
        }
      {% endif %}
    }
    if(crosssellshowdefault == '1' || (crosssellshowdefault == '2' && tmpdata == '')) 
    {
      //Show default cross-sell items on all product pages? Override all
      //See if any default cross-sell items have been selected for the product page
      {% if shop.metafields.shopCrosssell.default != null %}
        tmpdata = eval({{ shop.metafields.shopCrosssell.default | json }}); 
        if(crossselltitleproductpagedefault.length) // if a default products title has been selected
        {
          tmptitle = '<h3 class="crossselltitle">'+crossselltitleproductpagedefault+'</h3>';
        }
      {% endif %} 
    } 
  {% else %}
    //We are not on the product page. //Has the merchant turned on checkout cross-sell items?
    if(crosssellshowcheckout == '2') 
    {
      //See if any checkout cross-sell items have been selected
      {% if shop.metafields.shopCrosssell.checkout != null %}
        tmpdata = eval({{ shop.metafields.shopCrosssell.checkout | json }}); 
        if(crossselltitlecheckoutpage) // if a default checkout title has been selected
        {
          tmptitle = '<h3 class="crossselltitle">'+crossselltitlecheckoutpage+'</h3>';
        }
      {% endif %} 
    }
  {% endif %}
 
  if(tmpdata)
  {
    jQuery('#cross-sell').append(tmptitle + '<ul class="cross-sell"></ul>'); // write the title and container to the page
    var crosssell = [];
    var order = '';
	var producthandle = '{{ product.handle }}';   
	    
    //Set the maximum number of items that should be shown?
    var numproducts = (crosssellmaxitems < tmpdata.length) ? crosssellmaxitems : tmpdata.length;
    //objects tend to randomize the output, so put the handles into an array first
    for (var i=0; i<tmpdata.length; i++)
    {
      order = (Number(tmpdata[i]['order']) - 1);
      crosssell[order] = tmpdata[i]['handle']; 
    } 
 
    if (crosssell.length && crosssell[0] !== '')
    { 
      var list = jQuery('ul.cross-sell');
      for (var j=0; j<numproducts; j++)
      {
        jQuery.ajax({
        cache: true,
        async: false,
        dataType: "json",
        error: function(response) {
            if(response['status'] == '404')
            {
                if(tmpdata.length > numproducts)
                {
                   numproducts++;
                }              
            }
			        
        },        
        success: function(product) {
			// Now output the products now that the data has loaded.
			if(product.available && (product.handle != producthandle))
			{               
		        if(product.images[0])
		        {          
		        	var imagename = product.images[0];
					var imagesize = 'large';
					var position = imagename.lastIndexOf('.');
					var csimage = [imagename.slice(0, position), '_' + imagesize, imagename.slice(position)].join('');
		        }
		        else
		        {
			    	var csimage = 'https://cdn.shopify.com/s/images/admin/no-image-'+imagesize+'.gif';
			    }
			    
			    var csprice = Shopify.formatMoney(product.price, '{{ shop.money_format }}');
        
				var xselloutput = '<li>'
								  	+ '<div class="image">'
								  		+ '<a href="' + product.url +'">'
								  			+ '<img src="' + csimage + '" />'
								  		+ '</a>'
								  	+ '</div>'
									+ '<div class="producttitle">'
							  			+ '<a href="' + product.url + '">' + product.title + '</a>'
						  			+ '</div>'
						  			+ '<div class="money">'
						  				+ '<a href="' + product.url + '">' + csprice + '</a>'
						  			+ '</div>'
					  			+ '</li>';

				list.append(xselloutput);
         	}
		 	else
		 	{
          		if(tmpdata.length > numproducts)
		  		{
		  		numproducts++;
            	}
          	}              
        },
        url: '/products/' + crosssell[j] + '.js?'
      }); 
    }
  } 
 }
//Cross-sell settings
var settingsoutput = '';
jQuery.each(crosssellsettings[0], function(key, value){
	settingsoutput += '<input type="hidden" name="' + key + '" id="cs_' + key + '" value="' + value + '" />';
});	       
jQuery('#cross-sell').append(settingsoutput);
//]]>
</script>