<!--
{% if handle contains 'seven-typical-seasoning-mistakes-that-you-should-be-aware-of' %}
<h2>Products related to this article</h2>
    <div id="product-loop" class="{% if settings.collection-sidebar %}desktop-9 tablet-4{% else %}desktop-12 tablet-6{% endif %} mobile-3">
    
    {% for product in collections.sporty-spice.products %}
    {% assign products-per-row = settings.products-per-row %}
    
    <div class="product-index {% if products-per-row == "6" %}desktop-2{% cycle ' first', '', '', '', '', ' last' %}{% elsif products-per-row == "4" %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products-per-row == "3" %}desktop-4{% cycle ' first', '', ' last' %}{% elsif products-per-row == "2" %}desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-half" id="prod-{{ product.id}}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">     
      {% include 'product-listing' %}
    </div>
    
    {% endfor %} 
    
    
  </div>

{% endif %}
-->