<style>
  .readmoreless{
    margin-top:15px;
  }
 .slider-dosen-faces div{
   		margin:10px 10px 10px 6px;
  }
  .active {
    	box-shadow: 0 0 10px 0 rgba(0,0,0,0.69);
  }
  .start{
    	box-shadow: 0 0 10px 0 rgba(0,0,0,0.69);
  }
  .textonfaces{
    	position: absolute;
    	width: 50%;
    	text-align: center;
  }
  .slider-faces h2{
    	font-family: "DaftBrush",sans-serif;
    	font-size: 40pt;
    	line-height: 44pt;
    	padding-bottom: 20px;
    	color: white !important;
    	margin-top: 10px;
    	margin-bottom: 10px;
  }
  .slider-faces p{
    	font-family: "BrandonText-Regular",sans-serif;
    	font-size: 17.5px;
    	line-height: 20pt;
    	color: #ffffff;
    	margin-bottom: 1.5em;
    	padding: 0 1em 0 1em;
  }
  .price-box{
   		border: 3px solid #FFFFFF;
    	background-color: transparent;
    	padding: 0.5em 1em 0.5em 1em;
    	font-size: 20px;
    	color: white;
  }
  .price-box:hover{
    	color:black;
}
  .facesh2{
  		text-align: center;
    	font-family: "DaftBrush",sans-serif;
    	font-size: 40pt;
    	line-height: 44pt;
    	margin-bottom: .5em;
    	margin-top: .5em;
    	text-transform: uppercase;
  }
  @media (min-width:1600px){
  	 .slider-faces p{
      	font-size:22pt;
     }
  }
  @media (max-width:500px){
  	.slider-faces h2{
    	font-size: 22pt;
  	}
    .textonfaces{
      	position: initial;
    	width: 100%;
    	height: 6em;
    	display: inline-block;
    	overflow: hidden;
    }
    .price-box{
     	color:black;
      	border: 3px solid black;
    }
    .readmoreless{
     	text-align:center;
    }
    .readless{
     	display:none;
      	padding: 2em;
    }
    .slider-faces-mobile .slick-dots{
     	top: -25px;
    	bottom: inherit;
    }
    .slider-faces-mobile p{
    	font-family: "BrandonText-Regular",sans-serif;
    	font-size: 15pt;
    	line-height: 20pt;
    	color: black;
    	margin-bottom: 1.5em;
    	padding: 0 1em 0 1em;
  	}
    .facesh2{
      	font-size: 24pt;
    }
  }
  */
</style>
<h2 class="facesh2">Get to know the characters<br> behind our delicious seasonings</h2>
<!-- Desktop -->
<div class="gridlock row mobile-hidden" style="margin:auto;margin-bottom:30px;">
   <div class="slider-dosen-faces">
     <div class="dosen start"><img src="{{ 'texasbbqdip.jpg' | asset_url }}" alt="Texas BBQ |{{ shop.name }}"/></div>
     <div class="dosen"><img src="{{ 'flavorsofitaly.jpg' | asset_url }}" alt="Flavor of Italy |{{ shop.name }}"/></div>
     <div class="dosen"><img src="{{ 'bbqseasoning.jpg' | asset_url }}" alt="BBQ |{{ shop.name }}" /></div>
     <div class="dosen"><img src="{{ 'guacamoleseasoning.jpg' | asset_url }}" alt="Guacamole |{{ shop.name }}"/></div>
     <div class="dosen"><img src="{{ 'flavorsofindia.jpg' | asset_url }}" alt="Flavor of India |{{ shop.name }}"/></div>
   </div>
</div>

<div class="gridlock row desktop-12 mobile-hidden" style="margin:auto;margin-bottom:30px;">
   <div class="slider-faces">
    <div><a href="https://www.justspices.com/products/texas-bbq-dip" target="_blank">
      	<div class="textonfaces">
      		<h2>Dedras Texas BBQ</h2>
      		<p>
            We asked a real Texan farmer’s daughter to prepare the BBQ spice with us. All of her barbecues are a success due to her kindness, her cheerfulness and her eye for detail. We can tell you that it doesn’t matter if you want to prepare meat, fish or veggies, this spice will be loved by everyone.
          </p>
      		<div class="desktop-12 tablet-6 mobile-3">
              <span class="price-box">$5.49 | Buy now</span>
          	</div>
      	</div>
      	<img src="{{ '160928_characters_dedra.jpg' | asset_url }}" alt="Texas BBQ |{{ shop.name }}" /></a>
     </div>
    <div><a href="https://www.justspices.com/collections/all-1" target="_blank">
      <div class="textonfaces">
      		<h2>Lucias Flavors of Italy</h2>
      		<p>
            Pasta e basta! We had the pleasure of trying the best pasta in the world when we visited Lucia in Melizzano, a small town in Italy. She made us realize that the most important ingredient is always love. Yet, a little oregano won’t hurt. Cheers to our lovely Italian pasta mamma.
          </p>
      		<div class="desktop-12 tablet-6 mobile-3">
              <span class="price-box">$5.99 | Buy now</span>
          	</div>
      	</div>
      <img src="{{ '160928_characters_lucia.jpg' | asset_url }}" alt="Flavor of Italy |{{ shop.name }}" /></a>
    </div>
    <div><a href="https://www.justspices.com/products/bbq-seasoning" target="_blank">
      <div class="textonfaces">
      		<h2>Shaws BBQ Seasoning</h2>
      		<p>
            Strong, stronger, Shaw. Shaw taught us how to live the American way of life. A full dose of Texan testosterone, that is what we experienced. He showed us how to prepare the perfect Smokey Beef. As a true barbecue expert, we asked him to develop the ultimate barbecue seasoning together with us. The result: A Barbecue Seasoning that turns every steak into a taste sensation! Prepare for lots of compliments during your next BBQ.
          </p>
      		<div class="desktop-12 tablet-6 mobile-3">
              <span class="price-box">$5.99 | Buy now</span>
          	</div>
      </div>
      <img src="{{ '160928_characters_shaw.jpg' | asset_url }}" alt="BBQ |{{ shop.name }}" /></a>
     </div>
    <div><a href="https://www.justspices.com/collections/all-1" target="_blank">
      <div class="textonfaces">
      		<h2 style="font-size: 32pt;">Rocios Guacamole Seasoning</h2>
      		<p>
            Our famous Mexican Spice was invented by Rocio, a fierce Mexican woman who lives in a heavenly place along the Caribbean Coast. Rocio loves everything Mexican, from nachos to quesadillas. Therefore she helped us create a seasoning that can be used in many of her favorite dishes. What could be better than preparing all your favorite Mexican dishes with this authentic Mexican seasoning?
          </p>
      		<div class="desktop-12 tablet-6 mobile-3">
              <span class="price-box">$5.99 | Buy now</span>
          	</div>
      </div>
      <img src="{{ '160928_characters_rocio.jpg' | asset_url }}" alt="Guacamole |{{ shop.name }}"/></a>
    </div>
    <div><a href="https://www.justspices.com/products/flavors-of-india" target="_blank">
      <div class="textonfaces">
      		<h2>Isaacs Flavors of India</h2>
      		<p>
            Isaac is from a city that carries the name “Thiruvananthapuram”, located in the South-West of India. Isaac loves to create new dishes and to experiment with his favorite spice; cardamom. When we visited Isaac he made us realize the taste explosion this spice can bring to any dish, which is why cardamom is now the key ingredient in our Flavors of India seasoning.
          </p>
      		<div class="desktop-12 tablet-6 mobile-3">
              <span class="price-box">$6.49 | Buy now</span>
          	</div>
      </div>
      <img src="{{ '160928_characters_isaak.jpg' | asset_url }}" alt="Flavor of India |{{ shop.name }}" /></a>
    </div>
   </div>
</div>

<!--Mobile-->

<div class="gridlock row desktop-12 desktop-hidden" style="margin:auto;margin-bottom:30px;">
   <div class="slider-faces-mobile">
    <div><a href="https://www.justspices.com/products/texas-bbq-dip" target="_blank">
      	<img src="{{ 'US_pola_dedra.png' | asset_url }}" alt="Texas BBQ |{{ shop.name }}" />
      <div class="textonfaces">
      	<p>
          We asked a real Texan farmer’s daughter to prepare the BBQ spice with us. All of her barbecues are a success due to her kindness, her cheerfulness and her eye for detail. We can tell you that it doesn’t matter if you want to prepare meat, fish or veggies, this spice will be loved by everyone.
        </p>
      	<div class="mobile-3">
        	<span class="price-box">$5.49 | Buy now</span>
        </div>
      </div>
      </a>
      <div class="readmoreless">
      	<span class="readmore">Read more</span>
      	<span class="readless">Read less</span>
      </div>
     </div>
    <div><a href="https://www.justspices.com/collections/all-1" target="_blank">
      		<img src="{{ 'US_pola_lucia.png' | asset_url }}" alt="Flavor of Italy |{{ shop.name }}" />
      <div class="textonfaces">
      	<p>
          Pasta e basta! We had the pleasure of trying the best pasta in the world when we visited Lucia in Melizzano, a small town in Italy. She made us realize that the most important ingredient is always love. Yet, a little oregano won’t hurt. Cheers to our lovely Italian pasta mamma.
        </p>
      	<div class="mobile-3">
        	<span class="price-box">$5.99 | Buy now</span>
        </div>
      </div>
      </a>
      <div class="readmoreless">
      	<span class="readmore">Read more</span>
      	<span class="readless">Read less</span>
      </div>
    </div>
    <div><a href="https://www.justspices.com/products/bbq-seasoning" target="_blank">
      <img src="{{ 'US_pola_shaw.png' | asset_url }}" alt="BBQ |{{ shop.name }}" />
      <div class="textonfaces">
      	<p>
          Strong, stronger, Shaw. Shaw taught us how to live the American way of life. A full dose of Texan testosterone, that is what we experienced. He showed us how to prepare the perfect Smokey Beef. As a true barbecue expert, we asked him to develop the ultimate barbecue seasoning together with us. The result: A Barbecue Seasoning that turns every steak into a taste sensation! Prepare for lots of compliments during your next BBQ.
        </p>
      	<div class="mobile-3">
        	<span class="price-box">$5.99 | Buy now</span>
        </div>
      </div>
      </a>
      <div class="readmoreless">
      	<span class="readmore">Read more</span>
      	<span class="readless">Read less</span>
      </div>
    </div>
    <div><a href="https://www.justspices.com/collections/all-1" target="_blank">
      <img src="{{ 'US_pola_rocio.png' | asset_url }}" alt="Guacamole |{{ shop.name }}" />
      <div class="textonfaces">
      	<p>
          Our famous Mexican Spice was invented by Rocio, a fierce Mexican woman who lives in a heavenly place along the Caribbean Coast. Rocio loves everything Mexican, from nachos to quesadillas. Therefore she helped us create a seasoning that can be used in many of her favorite dishes. What could be better than preparing all your favorite Mexican dishes with this authentic Mexican seasoning?
        </p>
      	<div class="mobile-3">
        	<span class="price-box">$5.99 | Buy now</span>
        </div>
      </div>
      </a>
      <div class="readmoreless">
      	<span class="readmore">Read more</span>
      	<span class="readless">Read less</span>
      </div>
    </div>
    <div><a href="https://www.justspices.com/products/flavors-of-india" target="_blank">
      <img src="{{ 'US_pola_isaac.png' | asset_url }}" alt="Flavors of India |{{ shop.name }}" />
      <div class="textonfaces">
      	<p>
          Isaac is from a city that carries the name “Thiruvananthapuram”, located in the South-West of India. Isaac loves to create new dishes and to experiment with his favorite spice; cardamom. When we visited Isaac he made us realize the taste explosion this spice can bring to any dish, which is why cardamom is now the key ingredient in our Flavors of India seasoning.
        </p>
      	<div class="mobile-3">
        	<span class="price-box">$6.49 | Buy now</span>
        </div>
      </div>
      </a>
      <div class="readmoreless">
      	<span class="readmore">Read more</span>
      	<span class="readless">Read less</span>
      </div>
    </div>
   </div>
</div>