<div id="email-invalid"></div>
<div>
    <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbxExnEXsp9jJ3eXFUQjr3jlxqPjDXNweF0uLC_5sB8VUYCphSGI/exec">
      <STRONG>1.What’s your nationality?</STRONG>
      <input type="text" name="nationality"><br>
      <STRONG>2.Did you ever use a Just Spices product?</STRONG><br>
      <INPUT TYPE="radio" NAME="q2" VALUE="y">Yes</INPUT><br>
      <INPUT TYPE="radio" NAME="q2" VALUE="n">No</INPUT><br>
      <STRONG>3.What persuades you the most about an influencer?</STRONG><br>
      <INPUT TYPE="radio" NAME="q3" VALUE="3a">That he/she is authentic</INPUT><br>
      <INPUT TYPE="radio" NAME="q3" VALUE="3b">When I can see myself in him/her</INPUT><br>
      <INPUT TYPE="radio" NAME="q3" VALUE="3c">That he/she is very famous (e.g. more than 100.000 IG followers)</INPUT><br>
      <input placeholder="others (please specify)" type="text" name="3others"><br>
      <STRONG>4.What kinds of recipes do you like?</STRONG><br>
      <INPUT TYPE="radio" NAME="q4" VALUE="4a">All kinds of recipes</INPUT><br>
      <INPUT TYPE="radio" NAME="q4" VALUE="4b">Recipes for a certain form of nutrition (e.g. vegan/vegetarian/clean-eating)</INPUT><br>
      <INPUT TYPE="radio" NAME="q4" VALUE="4c">Very healthy recipes</INPUT><br>
      <input placeholder="others (please specify)" type="text" name="4others"><br>
      <STRONG>5.Recipes should</STRONG><br>
      <INPUT TYPE="radio" NAME="q5" VALUE="5a">require only a few ingredients</INPUT><br>
      <INPUT TYPE="radio" NAME="q5" VALUE="5b">be easy to follow</INPUT><br>
      <INPUT TYPE="radio" NAME="q5" VALUE="5c">be quick</INPUT><br>
      <INPUT TYPE="radio" NAME="q5" VALUE="5c">be special</INPUT><br>
      <input placeholder="others (please specify)" type="text" name="5others"><br>
      <STRONG>6.Which of the following inspires you most when looking for new recipes?</STRONG><br>
      <INPUT TYPE="radio" NAME="q6" VALUE="6a">Instagram</INPUT><br>
      <INPUT TYPE="radio" NAME="q6" VALUE="6b">Snapchat</INPUT><br>
      <INPUT TYPE="radio" NAME="q6" VALUE="6c">Pinterest</INPUT><br>
      <input placeholder="others (please specify)" type="text" name="6others"><br>
      <input type="submit" value="Submit">
    </form>
  </div>

<!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none;" id="thankyou_message">
    <h2><em>Thanks</em> for contacting us!
      We will get back to you soon!</h2>
  </div>

<script>
function validEmail(email) { // see:
  var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  return re.test(email);
}
// get all data in form and return object
function getFormData() {
  var elements = document.getElementById("gform").elements; // all form elements
  var fields = Object.keys(elements).map(function(k) {
    if(elements[k].name !== undefined) {
      return elements[k].name;
    // special case for Edge's html collection
    }else if(elements[k].length > 0){
      return elements[k].item(0).name;
    }
  }).filter(function(item, pos, self) {
    return self.indexOf(item) == pos && item;
  });
  var data = {};
  fields.forEach(function(k){
    data[k] = elements[k].value;
    var str = ""; // declare empty string outside of loop to allow
                  // it to be appended to for each item in the loop
    if(elements[k].type === "checkbox"){ // special case for Edge's html collection
      str = str + elements[k].checked + ", "; // take the string and append 
                                              // the current checked value to 
                                              // the end of it, along with 
                                              // a comma and a space
      data[k] = str.slice(0, -2); // remove the last comma and space 
                                  // from the  string to make the output 
                                  // prettier in the spreadsheet
    }else if(elements[k].length){
      for(var i = 0; i < elements[k].length; i++){
        if(elements[k].item(i).checked){
          str = str + elements[k].item(i).value + ", "; // same as above
          data[k] = str.slice(0, -2);
        }
      }
    }
  });
  console.log(data);
  return data;
}

function handleFormSubmit(event) {  // handles form submit withtout any jquery
  event.preventDefault();           // we are submitting via xhr below
  var data = getFormData();         // get the values submitted in the form
  
    var url = event.target.action;  //
    var xhr = new XMLHttpRequest();
    xhr.open('POST', url);
    xhr.withCredentials = true;
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  
    xhr.onreadystatechange = function() {
        console.log( xhr.status, xhr.statusText )
        console.log(xhr.responseText);
        document.getElementById('gform').style.display = 'none'; // hide form
        document.getElementById('thankyou_message').style.display = 'block';
       
  }
    // url encode form data for sending as post data
    var encoded = Object.keys(data).map(function(k) {
        return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
    }).join('&')
    xhr.send(encoded);
    
}
function loaded() {
  console.log('contact form submission handler loaded successfully');
  // bind to the submit event of our form
  var form = document.getElementById('gform');
  form.addEventListener("submit", handleFormSubmit, false);
};
document.addEventListener('DOMContentLoaded', loaded, false);
  
                                            </script>