{% if shop.metafields.geolizr.redirect_widget_enabled == 'true' %}
<script>
    if(typeof geolizrEvents === "undefined") geolizrEvents = [];
    geolizrEvents.push(new CustomEvent("geolizr.init.redirect"));
    document.addEventListener('geolizr.init.redirect', function(e) {
        var $ = e.jquery;
        Geolizr.getGeoData(function() {
          Geolizr.redirects = {{ shop.metafields.geolizr.redirects }};
          Geolizr.countryToRedirect = {{ shop.metafields.geolizr.country_to_redirect }};
          Geolizr.redirect();
        }, true);
  });
</script>
{% endif %}