{% capture error_result %}
    {% include 'geolizr-config' %}
{% endcapture %}

{% unless geolizr-lib-js-url %}
{% assign geolizr-lib-js-url = 'geolizr-lib.js' | asset_url %}
{% endunless %}

{% unless geolizr-lib-css-url %}
{% assign geolizr-lib-css-url = 'geolizr-lib.css' | asset_url %}
{% endunless %}

<script async src="{{ geolizr-lib-js-url }}" type="text/javascript"></script>
<script>
    if(typeof Geolizr === "undefined")
        var Geolizr = {};

    Geolizr.addEventListener = function(name, callback) {
        if(typeof Geolizr.events === "undefined") Geolizr.events = {};
        if (!Geolizr.events[name]) Geolizr.events[name] = [];
        Geolizr.events[name].push(callback);
    };

    Geolizr.getGeoData = function(callback) {
        Geolizr.addEventListener('geolizr.init', function() {
            Geolizr.getGeoData(callback);
        })
    };

    Geolizr.init = function(callback) {
        Geolizr.addEventListener("geolizr.init", callback);
    };

    var geolizrCssFile = "{{ geolizr-lib-css-url }}";
    Geolizr.addEventListener("geolizr.init", function() {
        Geolizr.config({"currency_widget_enabled":"{% if shop.metafields.geolizr.currency_widget_enabled == 'true' %}true{% else %}false{% endif %}"});
        if(typeof geolizrCssFile === "string") {
            Geolizr.loadCSS( geolizrCssFile );
            geolizrCssFile = false;
        }
    });

    {% if shop.metafields.geolizr.currency_widget_enabled == 'true' %}
    Geolizr.appendShopfiyFormatMoney = function(method) {
        var modified = false;
        if("undefined" !== typeof method && Geolizr.currency_widget_enabled === true) {
            if (typeof method === 'function' && method(10000, "{% raw %}{{checkGeolizrExtension}}{% endraw %}") === "") {
                Geolizr.shopifyFormatMoneySet = true;
                Geolizr.shopifyFormatMoney = method;
                method = function(cents, format) {
                    if(format === "{% raw %}{{checkGeolizrExtension}}{% endraw %}")
                        return Geolizr.version;

                    "string" === typeof cents && (cents = cents.replace(".", ""));
                    if(Geolizr.formatMoneyInit === true) {
                        return Geolizr.formatMoney(cents, format);
                    } else {
                        return '<span class="geolizr-currency" data-geolizr-price="' + cents + '">' + Geolizr.shopifyFormatMoney(cents, format) + '</span>';
                    }
                };
                modified = true;
            }
        }

        return {m: method, modified: modified};
    };

    Geolizr.currency_widget_enabled = true;
    if(Geolizr.currency_widget_enabled === true) {

        /* watch from https://gist.github.com/eligrey/384583 */
        Object.prototype.geolizrWatch||Object.defineProperty(Object.prototype,"geolizrWatch",{enumerable:!1,configurable:!0,writable:!1,value:function(e,t){var r=this[e],n=r,c=function(){return n},i=function(c){return r=n,n=t.call(this,e,r,c)};delete this[e]&&Object.defineProperty(this,e,{get:c,set:i,enumerable:!0,configurable:!0})}}),Object.prototype.geolizrUnWatch||Object.defineProperty(Object.prototype,"geolizrUnWatch",{enumerable:!1,configurable:!0,writable:!1,value:function(e){var t=this[e];delete this[e],this[e]=t}});

        var watcher = function(id, oldMethod, newMethod) {
            Geolizr.currency_widget_enabled = true; // sometimes the disabled this in this context, but it's true
            var morph = Geolizr.appendShopfiyFormatMoney(newMethod);
            if(morph.modified) {
                return morph.m;
            }

            return newMethod;
        };

        var startCheck = false;
        var endIntervalTheme = false, endIntervalShopify = false;
        var interval = function() {
            if(startCheck === false) {
                startCheck = new Date() / 1000;
            } else {
                var now = new Date() / 1000;
                if(now - startCheck > 30)
                    return;
            }

            if(endIntervalTheme === true && endIntervalShopify === true) {
                return;
            }

            var fm;
            if(endIntervalTheme === false) {
                if("undefined" === typeof theme || "undefined" === typeof theme.Currency) {
                    setTimeout(interval, 10);
                } else {
                    theme.Currency.geolizrWatch("formatMoney", watcher);
                    fm = Geolizr.appendShopfiyFormatMoney(theme.Currency.formatMoney);
                    theme.Currency.formatMoney = fm.m;
                    endIntervalTheme = true;
                    return
                }
            }

            if(endIntervalShopify === false) {
                if ("undefined" === typeof Shopify) {
                    setTimeout(interval, 10);
                } else {
                    Shopify.geolizrWatch("formatMoney", watcher);
                    fm = Geolizr.appendShopfiyFormatMoney(Shopify.formatMoney);
                    if("undefined" !== typeof Shopify.money_format) Geolizr.money_format = Shopify.money_format;
                    Shopify.formatMoney = fm.m;
                    endIntervalShopify = true;
                }
            }
        };

        interval();
    }
    {% endif %}

</script>
<style>
    #geolizr-notification{position:fixed!important;top:0!important;left:0!important;margin:0!important;padding:0!important;width:100%!important;height:auto!important;min-height:0!important;max-height:none!important;z-index:10000000!important}
    #geolizr-notification>#geolizr-notification-message-wrapper{text-align:center!important;width:100%!important;padding:10px!important;-webkit-box-shadow:10px 10px 5px 0 rgba(143,143,143,.35);-moz-box-shadow:10px 10px 5px 0 rgba(143,143,143,.35);box-shadow:10px 10px 5px 0 rgba(143,143,143,.35)}
    #geolizr-dismiss-notification{box-sizing:content-box;padding:5px!important;margin:0!important;position:absolute!important;right:8px!important;text-decoration:none!important;font-family:Arial,serif ! important;top:8px!important;height:15px!important;border-radius:15px;width:15px!important;line-height:16px;font-size:20px;font-weight:700;cursor:pointer;display:inline-block}
    .geolizr-popup-background{position:fixed;top:0;left:0;right:0;bottom:0;height:100%;width:100%;z-index:10000000!important}
    .geolizr-popup{position:fixed!important;width:560px!important;height:400px!important;z-index:10000001!important;border:1px solid grey}
    .geolizr-popup.gp-center{top:50%!important;left:50%!important;margin-top:-200px!important;margin-left:-280px!important}
    .geolizr-popup.gp-mobile{width:84%!important;height:84%!important;top:0!important;left:0!important;margin:8%}
    #geolizr-popup-content-iframe{width:100%!important;height:100%!important;border:0}
    .slideInDown { -webkit-animation-name: slideInDown; animation-name: slideInDown; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
    @-webkit-keyframes slideInDown { 0% { -webkit-transform: translateY(-100%); transform: translateY(-100%); visibility: visible;} 100% {-webkit-transform: translateY(0); transform: translateY(0); } }
    @keyframes slideInDown { 0% {-webkit-transform: translateY(-100%); transform: translateY(-100%);visibility: visible; } 100% { -webkit-transform: translateY(0); transform: translateY(0); } }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

</style>
