<!--
<div class="guiderecipe gridlock row desktop-12" style="padding-top:3em;">
   <div class=" mobile-3 tablet-6 desktop-8 mobile-hidden">
      <a href="http://yummy.justspices.com/oatmeal_guide/">
      	<img src="{{ 'oatmeal_guide.jpg' | asset_url}}" id="guidebild" alt="JUSTSPICES | guide"/> 
      </a>
   </div>
  <div class=" mobile-3 tablet-6 desktop-8 desktop-hidden" style="margin-bottom:2em;">
      <a href="http://yummy.justspices.com/oatmeal_guide/">
      	<img src="{{ 'oatmeal_guide_1200x800.png' | asset_url}}" id="guidebild" alt="JUSTSPICES | guide"/> 
      </a>
   </div>
   <div class=" mobile-3 tablet-6 desktop-4" id="rezeptblock" style="margin-left:1.5%;">
      <a href="https://www.justspices.com/blogs/news/healthy-hazelnut-spread">
      	<img src="{{ 'recipe.jpg' | asset_url}}" id="guidebild" alt="JUSTSPICES | rezeptblock"/>
      </a>
   </div>
</div>
-->