<!--
<div id="alleDreiZusammen">
   <h2 id="ideeH1" class="bestSellerHeading">
      The idea behind Just Spices
   </h2>
   <div id ="bildIdee">
      <img src="{{ '160919_collage_idee.jpg' | asset_url}}" alt="JUSTSPICES | spicy gruender"/> 
   </div>
   <div id="textUnterIdeeBild">
      <div class="texteIdee">
         <p style="font-size: 18px;line-height: 25pt;">   
            Done are the days of boring dishes. No more pre-made meals and canned
			soups. With Just Spices you´re able to go beyond the ordinary pinch of salt and
			pepper to find the spices that will enrich your dishes and rather inspire you and
			keep you creative! Who we are - The Just Spices Founders Ole, Florian, and
			Bela supported by the best team you can imagine. From development to
			packaging - we’re a team full of passion.
         </p>
      </div>
      <div class="texteIdee">
         <p style="font-size: 18px;line-height: 25pt;">
            We traveled around the world, met the local people who cooked and introduced
			us to the spices that created the most incredibly delicious dishes we’ve ever
			tasted. We want to share this experience with you by bringing the spices and
			seasonings we tasted to your kitchen in our colorful cans. Selling boring spices is
			easy, but ours show character, even on the cans themselves. People with ideas.
			People with vision. People like you and like us.
         </p>
      </div>
      <div class="texteIdee">
         <p style="font-size: 18px;line-height: 25pt;">
            We are your new favorite online spice store for USDA organic seasonings
			sourced with love. We offer incredibly delicious spice blends for you as well as
			the most authentic and highest quality spices and seasonings. You need some
			cooking inspiration? We also feature recipe ideas that work perfectly with our
			spices.
         </p>
      </div>
   </div>
</div>
-->