

<form action ="/cart" type="minCart"  method="post" id="cartform2"> 
<tbody>
  <div id="allesimCart">
        {% for item in cart.items %}
        <tr>
          <td>
            <div class="cart-item_mini">
              <div class="cart-image-mini-cart">
                <a href="{{ item.url }}" title="{{ item.product.title }}">
                  <img src="{{ item | img_url: 'small' }}"  alt="{{ item.title | escape }}" style = "border-radius:12px"/>         
                </a>
              </div>
              
              <div id="item_text">
               <table class="info-wrapper">
                 <tr>
              <p class = "quantityCart" style="clear: right;float: left;margin-top: -1em;margin-left: -1.3em;">{{item.quantity}}</p>     
              <p style="float: left;margin-top: 0.5em;">{{ item.title }}</p>
                <p style="float: right;margin-right: 1em;font-weight: bold;font-size: 16px;margin-top: 0.5em;">{{ item.price | money }}</p>

              
               </table>
                 </div>
              
            </div>
          </td>
         
        </tr>
        {% endfor %}
    </div>
  <div id="basket-mini" > 
    <ul>
    <h4 class="first" style="float: left;;margin-top:0em;margin-right:1em;">{{ 'cart.general.subtotal' | t }} </h4>
      <h4 class="second" style="text-align:right;margin-top: 2em;margin-right:1em;">{{ cart.total_price | money }}</h4>
    </ul>
      <ul>
    <a href="/cart">
      <input type="button" name="update" value="{{ 'Cart' }}" class="button" style="color:white;float: left;width: 100%;text-align: center;"/>
    
      <!--<input type="submit" name="checkout" id="checkout" value="{{ 'cart.general.checkout' | t }}" class="button" style=" background: black; color:white;float: right;
     width: 45%;"/>-->
     </a>
    </ul>
    </div>
 </tbody>
</form> 

<script>


$( document ).ready(function() {

 $( ".fbAddToCart" ).click(function() {
   
   setTimeout(
       function() 
  {
  jQuery.getJSON('/cart.js', function(cart) {
    var counter = cart.item_count;
    
    
  console.log(cart);
 		  
  //  If there are items in cart      
         
         if(counter > 0) {

        
          $( "#allesimCart" ).empty();
           $('.second').empty();
         
          //alert(cart.total_price/100); 
          
        for(var i=0;i<counter;i++)
        {
          
				var product_title = cart['items'][i]['title'];
				var quantity = cart['items'][i]['quantity'];
				var product_price = cart['items'][i]['line_price']/100;
				var url = cart['items'][i]['url'];
				var image_url = cart['items'][i]['image'];
                
            
          $("#allesimCart").append('<div id="#allesimCart" style = " font-size: 20px ;width: 100%"><tr><td><div'+
           '<a href= '+url+' title='+product_title+'>'+
                                   '<div id="item_text_refresh" style"display: inline-flex">'+ 
                                   '<img src= '+image_url+ ' style="border-radius:12px;width:70px;float:left;margin-top: 0.5em"></a>'+
                                   '<p class = "quantityCart" style="clear: right;float: left;left: -1em;">'+ quantity +'</p>'+
                                  '<p class = "pr1" style="float: left;margin-top: 1.5em;" >'+product_title+'</p>'+     
             '<p class = "pr2" style="float: right;margin-right: 1em;font-weight: bold;font-size: 16px;margin-top: 1.5em;">'+'$'+product_price +'</p></div></td></tr></div>');
          var total = cart.total_price/100;
          $('.second').text('$'+total);
  
                  }

         }       
             
         });
  }, 1000);
  });
   
});  
 
 </script> 




