<nav class="shifter-navigation">
  <div class="search">
    <form action="/search" method="get">
      <input type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" />
    </form>           
  </div>
  <script type="text/javascript">
    $(document).ready(function($) {
      $('#accordion').find('.accordion-toggle').click(function(){

        //Expand or collapse this panel
        $(this).next().slideToggle('fast');

        //Hide the other panels
        $(".accordion-content").not($(this).next()).slideUp('fast');

      });

      $('#accordion').find('.accordion-toggle2').click(function(){

        //Expand or collapse this panel
        $(this).addClass('open');
        $(this).next().slideToggle('fast');

        //Hide the other panels

        $(".accordion-content2").not($(this).next()).slideUp('fast');

      });        


    });
  </script>    

  <ul id="accordion">    
    {% for link in linklists.main-menu.links %}
    {% capture child_list_handle %}{{ link.title | handleize }}{% endcapture %}
    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}


    <li class="accordion-toggle">{{ link.title }}</li>
    <div class="accordion-content{% if forloop.first %} default{% endif %}">
      <ul class="sub">

        {% for l in linklists[child_list_handle].links %}
        {% capture child_list_handle %}{{ l.title | handleize }}{% endcapture %}
        {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %} 
        <div class="accordion-toggle2">{{ l.title }}</div>
        <div class="accordion-content2{% if forloop.first %} default{% endif %}">

          <ul class="sub">
            {% for l in linklists[child_list_handle].links %}
            <li><a href="{{ l.url }}">{{ l.title }}</a></li>
            {% endfor %}
          </ul>

        </div>

        {% else %}
        <li><a href="{{ l.url }}">{{ l.title }}</a></li>
        {% endif %}

        {% endfor %}

      </ul>
    </div>


    {% else %}
    <li>{{ link.title | link_to: link.url }}</li>
    {% endif %}

    {% endfor %}  
  </ul>    
  <div class="desktop-12 tablet-6 mobile-3">
         <div id="top-bar-check">
            <i class="fa fa-car" aria-hidden="true"></i>
            <font face="BrandonGrotesque-Regular" style="font-weight: bold;color: #b3b3b3;font-size: 12px;">
              FREE SHIPPING ON ORDERS OVER $35
           </font> 
         </div>
         <div id="top-bar-check">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>    
            <font face="BrandonGrotesque-Regular" style="font-weight: bold;color: #b3b3b3;font-size: 12px;">        	
            SECURE PAYMENT        
            </font>          	
         </div>
         <div id="top-bar-check">
            <i class="fa fa-rocket" aria-hidden="true"></i>    
            <font face="BrandonGrotesque-Regular" style="font-weight: bold;color: #b3b3b3;font-size: 12px;">       
            USDA ORGANIC       
            </font>          
         </div>
         <div id="top-bar-check">
            <i class="fa fa-heart" aria-hidden="true"></i>    
            <font face="BrandonGrotesque-Regular" style="font-weight: bold;color: #b3b3b3;font-size: 12px;">       
            NO FLAVOR ENHANCERS
            </font>   
         </div>
      </div>


</nav> 