<script>
	$(document).ready(function() {
		var variant_id = {{ product.selected_or_first_available_variant.id }};
		console.log(variant_id + ' vid');

		$('#input#product_button').bind( 'click', function(){
			console.log('click');
			fbq('track', 'AddToCart', {
				content_ids: ['shopify_{{ product.id }}_' + variant_id],
				content_type: 'product'
			});
		});
	});
</script>