{%comment%}

<div id="notify" style="display:none;background-color: red;width: 200px;height: 200px;z-index: 1;position: fixed;border:1px solid black;margin-top: 10em;">
 <span id ="notify-text">
  </span>
</div>
{%endcomment%}
