{% if product.title == 'BBQ Popcorn Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4 desktop-12">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>8.01</p>CALORIES</td>
            <td class="tabledata1"><p>0.31</p>PROTEIN (G)<p class="tableDIV">0.63% DV</p></td>      	
            <td class="tabledata1"><p>0.18</p>FAT (G)<p class="tableDIV">0.28% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.06% DV</p></td>
            <td class="tabledata1"><p>1.19</p>CARBS (G)<p class="tableDIV">0.40% DV</p></td>
            <td class="tabledata1"><p>0.66</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.57</p>FIBER (G)<p class="tableDIV">2.28% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'BBQ Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>11.19</p>CALORIES</td>
            <td class="tabledata1"><p>0.37</p>PROTEIN (G)<p class="tableDIV">0.74% DV</p></td>      	
            <td class="tabledata1"><p>0.22</p>FAT (G)<p class="tableDIV">0.34% DV</p></td>
            <td class="tabledata1"><p>0.04</p>SATURATED FAT (G)<p class="tableDIV">0.18% DV</p></td>
            <td class="tabledata1"><p>1.80</p>CARBS (G)<p class="tableDIV">0.60% DV</p></td>
            <td class="tabledata1"><p>1.54</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.45</p>FIBER (G)<p class="tableDIV">2.28% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Extra Spicy Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>8.78</p>CALORIES</td>
            <td class="tabledata1"><p>0.25</p>PROTEIN (G)<p class="tableDIV">0.5% DV</p></td>      	
            <td class="tabledata1"><p>0.32</p>FAT (G)<p class="tableDIV">0.5% DV</p></td>
            <td class="tabledata1"><p>0.06</p>SATURATED FAT (G)<p class="tableDIV">0.29% DV</p></td>
            <td class="tabledata1"><p>1.20</p>CARBS (G)<p class="tableDIV">0.4% DV</p></td>
            <td class="tabledata1"><p>1.16</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.58</p>FIBER (G)<p class="tableDIV">2.33% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Flavors of Italy' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>7.15</p>CALORIES</td>
            <td class="tabledata1"><p>0.27</p>PROTEIN (G)<p class="tableDIV">0.53% DV</p></td>      	
            <td class="tabledata1"><p>0.12</p>FAT (G)<p class="tableDIV">0.19% DV</p></td>
            <td class="tabledata1"><p>0.03</p>SATURATED FAT (G)<p class="tableDIV">0.16% DV</p></td>
            <td class="tabledata1"><p>1.08</p>CARBS (G)<p class="tableDIV">0.36% DV</p></td>
            <td class="tabledata1"><p>0.90</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.42</p>FIBER (G)<p class="tableDIV">1.67% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Flavors of Mexico' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>10.55</p>CALORIES</td>
            <td class="tabledata1"><p>0.45</p>PROTEIN (G)<p class="tableDIV">0.91% DV</p></td>      	
            <td class="tabledata1"><p>0.37</p>FAT (G)<p class="tableDIV">0.57% DV</p></td>
            <td class="tabledata1"><p>0.04</p>SATURATED FAT (G)<p class="tableDIV">0.21% DV</p></td>
            <td class="tabledata1"><p>1.28</p>CARBS (G)<p class="tableDIV">0.43% DV</p></td>
            <td class="tabledata1"><p>0.68</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.43</p>FIBER (G)<p class="tableDIV">1.73% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Guacamole Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>8.17</p>CALORIES</td>
            <td class="tabledata1"><p>0.33</p>PROTEIN (G)<p class="tableDIV">0.65% DV</p></td>      	
            <td class="tabledata1"><p>0.06</p>FAT (G)<p class="tableDIV">0.09% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.06% DV</p></td>
            <td class="tabledata1"><p>1.33</p>CARBS (G)<p class="tableDIV">0.44% DV</p></td>
            <td class="tabledata1"><p>0.78</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.52</p>FIBER (G)<p class="tableDIV">2.07% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Hickory Rub' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>12.27</p>CALORIES</td>
            <td class="tabledata1"><p>0.15</p>PROTEIN (G)<p class="tableDIV">0.3% DV</p></td>      	
            <td class="tabledata1"><p>0.05</p>FAT (G)<p class="tableDIV">0.08% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.05% DV</p></td>
            <td class="tabledata1"><p>2.69</p>CARBS (G)<p class="tableDIV">0.90% DV</p></td>
            <td class="tabledata1"><p>2.66</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.48</p>FIBER (G)<p class="tableDIV">0.93% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Oatmeal Spice Blend' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>13.48</p>CALORIES</td>
            <td class="tabledata1"><p>0.30</p>PROTEIN (G)<p class="tableDIV">0.60% DV</p></td>      	
            <td class="tabledata1"><p>1.17</p>FAT (G)<p class="tableDIV">1.80% DV</p></td>
            <td class="tabledata1"><p>0.57</p>SATURATED FAT (G)<p class="tableDIV">2.85% DV</p></td>
            <td class="tabledata1"><p>0.33</p>CARBS (G)<p class="tableDIV">0.11% DV</p></td>
            <td class="tabledata1"><p>0.24</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.49</p>FIBER (G)<p class="tableDIV">1.98% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Pancake Blend' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>10.93</p>CALORIES</td>
            <td class="tabledata1"><p>0.09</p>PROTEIN (G)<p class="tableDIV">0.18% DV</p></td>      	
            <td class="tabledata1"><p>0.06</p>FAT (G)<p class="tableDIV">0.09% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.07% DV</p></td>
            <td class="tabledata1"><p>2.42</p>CARBS (G)<p class="tableDIV">0.81% DV</p></td>
            <td class="tabledata1"><p>2.39</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.78</p>FIBER (G)<p class="tableDIV">3.11% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Pizza Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>2.87</p>CALORIES</td>
            <td class="tabledata1"><p>0.11</p>PROTEIN (G)<p class="tableDIV">0.22% DV</p></td>      	
            <td class="tabledata1"><p>0.04</p>FAT (G)<p class="tableDIV">0.06% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.05% DV</p></td>
            <td class="tabledata1"><p>0.47</p>CARBS (G)<p class="tableDIV">0.16% DV</p></td>
            <td class="tabledata1"><p>0.41</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.21</p>FIBER (G)<p class="tableDIV">0.82% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Pork Rub' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>8.09</p>CALORIES</td>
            <td class="tabledata1"><p>0.34</p>PROTEIN (G)<p class="tableDIV">0.67% DV</p></td>      	
            <td class="tabledata1"><p>0.05</p>FAT (G)<p class="tableDIV">0.08% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.05% DV</p></td>
            <td class="tabledata1"><p>1.44</p>CARBS (G)<p class="tableDIV">0.48% DV</p></td>
            <td class="tabledata1"><p>0.65</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.26</p>FIBER (G)<p class="tableDIV">1.06% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Savory Eggs Blend' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>5.90</p>CALORIES</td>
            <td class="tabledata1"><p>0.28</p>PROTEIN (G)<p class="tableDIV">0.56% DV</p></td>      	
            <td class="tabledata1"><p>0.06</p>FAT (G)<p class="tableDIV">0.10% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.07% DV</p></td>
            <td class="tabledata1"><p>0.86</p>CARBS (G)<p class="tableDIV">0.29% DV</p></td>
            <td class="tabledata1"><p>0.78</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.39</p>FIBER (G)<p class="tableDIV">1.58% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Seafood Rub' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>5.65</p>CALORIES</td>
            <td class="tabledata1"><p>0.21</p>PROTEIN (G)<p class="tableDIV">0.41% DV</p></td>      	
            <td class="tabledata1"><p>0.11</p>FAT (G)<p class="tableDIV">0.17% DV</p></td>
            <td class="tabledata1"><p>0.03</p>SATURATED FAT (G)<p class="tableDIV">0.13% DV</p></td>
            <td class="tabledata1"><p>0.73</p>CARBS (G)<p class="tableDIV">0.24% DV</p></td>
            <td class="tabledata1"><p>0.51</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.33</p>FIBER (G)<p class="tableDIV">1.32% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Smoothie Boost' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>6.31</p>CALORIES</td>
            <td class="tabledata1"><p>0.12</p>PROTEIN (G)<p class="tableDIV">0.25% DV</p></td>      	
            <td class="tabledata1"><p>0.03</p>FAT (G)<p class="tableDIV">0.05% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.04% DV</p></td>
            <td class="tabledata1"><p>1.09</p>CARBS (G)<p class="tableDIV">0.36% DV</p></td>
            <td class="tabledata1"><p>1.02</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.48</p>FIBER (G)<p class="tableDIV">1.90% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Spicy Garlic Blend' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>6.33</p>CALORIES</td>
            <td class="tabledata1"><p>0.25</p>PROTEIN (G)<p class="tableDIV">0.49% DV</p></td>      	
            <td class="tabledata1"><p>0.09</p>FAT (G)<p class="tableDIV">0.13% DV</p></td>
            <td class="tabledata1"><p>0.02</p>SATURATED FAT (G)<p class="tableDIV">0.11% DV</p></td>
            <td class="tabledata1"><p>1.03</p>CARBS (G)<p class="tableDIV">0.34% DV</p></td>
            <td class="tabledata1"><p>0.59</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.32</p>FIBER (G)<p class="tableDIV">1.27% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Spicy Popcorn Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>9.79</p>CALORIES</td>
            <td class="tabledata1"><p>0.28</p>PROTEIN (G)<p class="tableDIV">0.55% DV</p></td>      	
            <td class="tabledata1"><p>0.17</p>FAT (G)<p class="tableDIV">0.26% DV</p></td>
            <td class="tabledata1"><p>0.03</p>SATURATED FAT (G)<p class="tableDIV">0.17% DV</p></td>
            <td class="tabledata1"><p>1.65</p>CARBS (G)<p class="tableDIV">0.55% DV</p></td>
            <td class="tabledata1"><p>1.20</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.38</p>FIBER (G)<p class="tableDIV">1.52% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Steak Rub' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>8.79</p>CALORIES</td>
            <td class="tabledata1"><p>0.28</p>PROTEIN (G)<p class="tableDIV">0.56% DV</p></td>      	
            <td class="tabledata1"><p>0.13</p>FAT (G)<p class="tableDIV">0.19% DV</p></td>
            <td class="tabledata1"><p>0.08</p>SATURATED FAT (G)<p class="tableDIV">0.40% DV</p></td>
            <td class="tabledata1"><p>1.42</p>CARBS (G)<p class="tableDIV">0.47% DV</p></td>
            <td class="tabledata1"><p>1.19</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.55</p>FIBER (G)<p class="tableDIV">2.21% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Sweet Potato Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>9.18</p>CALORIES</td>
            <td class="tabledata1"><p>0.30</p>PROTEIN (G)<p class="tableDIV">0.59% DV</p></td>      	
            <td class="tabledata1"><p>0.24</p>FAT (G)<p class="tableDIV">0.37% DV</p></td>
            <td class="tabledata1"><p>0.05</p>SATURATED FAT (G)<p class="tableDIV">0.27% DV</p></td>
            <td class="tabledata1"><p>1.37</p>CARBS (G)<p class="tableDIV">0.46% DV</p></td>
            <td class="tabledata1"><p>1.15</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.34</p>FIBER (G)<p class="tableDIV">1.36% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Texas BBQ Dip Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>2.87</p>CALORIES</td>
            <td class="tabledata1"><p>0.11</p>PROTEIN (G)<p class="tableDIV">0.22% DV</p></td>      	
            <td class="tabledata1"><p>0.04</p>FAT (G)<p class="tableDIV">0.06% DV</p></td>
            <td class="tabledata1"><p>0.01</p>SATURATED FAT (G)<p class="tableDIV">0.05% DV</p></td>
            <td class="tabledata1"><p>0.47</p>CARBS (G)<p class="tableDIV">0.16% DV</p></td>
            <td class="tabledata1"><p>0.41</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.21</p>FIBER (G)<p class="tableDIV">0.82% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
{% elsif product.title == 'Vegetable Broth Seasoning' %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>5.64</p>CALORIES</td>
            <td class="tabledata1"><p>0.19</p>PROTEIN (G)<p class="tableDIV">0.37% DV</p></td>      	
            <td class="tabledata1"><p>0.07</p>FAT (G)<p class="tableDIV">0.10% DV</p></td>
            <td class="tabledata1"><p>0.04</p>SATURATED FAT (G)<p class="tableDIV">0.18% DV</p></td>
            <td class="tabledata1"><p>0.93</p>CARBS (G)<p class="tableDIV">0.31% DV</p></td>
            <td class="tabledata1"><p>0.80</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.43</p>FIBER (G)<p class="tableDIV">1.71% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div>
<!--  product.title == 'Paprika Cream Cheese Seasoning'  or product.title == 'Mushroom Seasoning' or product.title == 'Chipotle Chili Seasoning' 
or product.title == 'Fleur De Sel' or product.title == 'Exotic Rice Seasoning' or product.title == 'Spicy Jerk Rub Seasoning' or product.title == 'Garam Masala Seasoning'
or product.title == 'Green Curry Seasoning' or product.title == 'Cajun Seasoning' or product.title == 'Purple Curry Seasoning' or product.title == 'Berry Yoghurt Seasoning'
or product.title == 'Five Pepper Seasoning' or product.title == 'Chili con Carne Seasoning' or product.title == 'Mediterranean Herb Salt Seasoning'
or product.title == 'Chicken Seasoning' or product.title == 'Flavors of India' or product.title == 'Vegetable Seasoning' or product.title == 'Clean Eating Allrounder'
or product.title == 'Sweet Love' or product.title == 'Tofu Seasoning' or product.title == 'Herbs de Provence' or product.title == 'Blossom Mix'
or product.title == 'Hash Brown Seasoning' or product.title == 'Ranch Seasoning' or product.title == 'Pasta Alfredo Seasoning'%}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
		<table style="border-spacing: 1em;border-collapse: separate;">
          <tr>
            <th class="">Serving size 1/4 Tsp</th>
          </tr>
          <tr>
            <td class="tabledata1"><p>0.00</p>CALORIES</td>
            <td class="tabledata1"><p>0.00</p>PROTEIN (G)<p class="tableDIV">0.00% DV</p></td>      	
            <td class="tabledata1"><p>0.00</p>FAT (G)<p class="tableDIV">0.00% DV</p></td>
            <td class="tabledata1"><p>0.00</p>SATURATED FAT (G)<p class="tableDIV">0.00% DV</p></td>
            <td class="tabledata1"><p>0.00</p>CARBS (G)<p class="tableDIV">0.00% DV</p></td>
            <td class="tabledata1"><p>0.00</p>SUGAR (G)</td>
            <td class="tabledata1"><p>0.00</p>FIBER (G)<p class="tableDIV">0.00% DV</p></td>
          </tr> 
		</table>  
    </div>
  </div>
</div> -->

{% endif %}





