{% if product.title == 'BBQ Popcorn Seasoning' %}
  <span>$2.05 per ounce</span>

{% elsif product.title == 'BBQ Seasoning' %}
  <span>$3.60 per ounce</span>

{% elsif product.title == 'Extra Spicy Seasoning' %}
  <span>$3.23 per ounce</span>

{% elsif product.title == 'Flavors of Italy' %}
  <span>$3.40 per ounce</span>

{% elsif product.title == 'Flavors of Mexico' %}
  <span>$3.09 per ounce</span>

{% elsif product.title == 'Guacamole Seasoning' %}
  <span>$3.06 per ounce</span>

{% elsif product.title == 'Hickory Rub' %}
  <span>$2.66 per ounce</span>

{% elsif product.title == 'Murray River Salt' %}
  <span>$4.26 per ounce</span>

{% elsif product.title == 'Oatmeal Spice Blend' %}
  <span>$3.86 per ounce</span>

{% elsif product.title == 'Pancake Blend' %}
  <span>$2.30 per ounce</span>

{% elsif product.title == 'Pizza Seasoning' %}
  <span>$4.87 per ounce</span>

{% elsif product.title == 'Pork Rub' %}
  <span>$2.50 per ounce</span>

{% elsif product.title == 'Savory Eggs Blend' %}
  <span>$4.08 per ounce</span>

{% elsif product.title == 'Seafood Rub' %}
  <span>$3.86 per ounce</span>

{% elsif product.title == 'Smoothie Boost' %}
  <span>$3.69 per ounce</span>

{% elsif product.title == 'Spicy Garlic Blend' %}
  <span>$5.65 per ounce</span>

{% elsif product.title == 'Spicy Popcorn Seasoning' %}
  <span>$2.16 per ounce</span>

{% elsif product.title == 'Steak Rub' %}
  <span>$3.53 per ounce</span>

{% elsif product.title == 'Sweet Potato Seasoning' %}
  <span>$2.45 per ounce</span>

{% elsif product.title == 'Tellicherry Pepper' %}
  <span>$3.17 per ounce</span>

{% elsif product.title == 'Texas BBQ Dip Seasoning' %}
  <span>$6.81 per ounce</span>

{% elsif product.title == 'Vegetable Broth Seasoning' %}
  <span>$2.43 per ounce</span>

{% elsif product.title == 'Paprika Cream Cheese Seasoning' %}
  <span>$2.25 per ounce</span>

{% elsif product.title == 'Mushroom Seasoning' %}
  <span>$2.83 per ounce</span>

{% elsif product.title == 'Chipotle Chili Seasoning' %}
  <span>$2.91 per ounce</span>

{% elsif product.title == 'Fleur De Sel' %}
  <span>$1.69 per ounce</span>

{% elsif product.title == 'Exotic Rice Seasoning' %}
  <span>$2.12 per ounce</span>

{% elsif product.title == 'Spicy Jerk Rub Seasoning' %}
  <span>$3.60 per ounce</span>

{% elsif product.title == 'Garam Masala Seasoning' %}
  <span>$2.83 per ounce</span>

{% elsif product.title == 'Green Curry Seasoning' %}
  <span>$3.97 per ounce</span>

{% elsif product.title == 'Cajun Seasoning' %}
  <span>$4.25 per ounce</span>

{% elsif product.title == 'Purple Curry Seasoning' %}
  <span>$3.30 per ounce</span>

{% elsif product.title == 'Berry Yoghurt Seasoning' %}
  <span>$5.66 per ounce</span>

{% elsif product.title == 'Five Pepper Seasoning' %}
  <span>$3.06 per ounce</span>

{% elsif product.title == 'Chili con Carne Seasoning' %}
  <span>$2.95 per ounce</span>

{% elsif product.title == 'Mediterranean Herb Salt Seasoning' %}
  <span>$1.41 per ounce</span>

{% elsif product.title == 'Chicken Seasoning' %}
  <span>$2.51 per ounce</span>

{% elsif product.title == 'Flavors of India' %}
  <span>$2.83 per ounce</span>

{% elsif product.title == 'Vegetable Seasoning' %}
  <span>$2.45 per ounce</span>

{% elsif product.title == 'Clean Eating Allrounder' %}
  <span>$4.95 per ounce</span>

{% elsif product.title == 'Sweet Love' %}
  <span>$2.88 per ounce</span>

{% elsif product.title == 'Tofu Seasoning' %}
  <span>$3.07 per ounce</span>

{% elsif product.title == 'Herbs de Provence' %}
  <span>$7.08 per ounce</span>

{% elsif product.title == 'Blossom Mix' %}
  <span>$18.01 per ounce</span>

{% elsif product.title == 'Hash Brown Seasoning' %}
  <span>$2.36 per ounce</span>

{% elsif product.title == 'Ranch Seasoning' %}
  <span>$9.44 per ounce</span>

{% endif %}
