{% if product.description contains '<!-- split -->' %}

	{% if product.images.size > 2 and  collection.handle != 'box-sets' %}

  		<div class="beschreibung" id="split-description" class="desktop-12 tablet-6 mobile-3">
    		<h2 style="30px"> DESCRIPTION</h2>
    		<p style="font-size:16px;">{{ product.description | split: '<!-- split -->' | last }}</p>
  		</div>
 		<div class="beschreibungsBild text-center">
			<img src="{{  product.images[1] | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" style = "width:250px;height:250px" />
		</div> 
	{%else%}
		<div class="beschreibung" id="split-description" class="desktop-12 tablet-6 mobile-3" style="width:62%;">
    		<h2 style="30px"> DESCRIPTION</h2>
    		<p style="font-size:16px;">{{ product.description | split: '<!-- split -->' | last }}</p>
  		</div>
	{% endif %}
{% endif %}

{% if template == 'product' %}
<div style="max-width: 1220px; margin: auto; padding: 0 40px;" tm="{{template}}">
{% capture the_snippet_reviews %}{% include 'socialshopwave-widget-recommends' %}{% endcapture %}
{% unless the_snippet_reviews contains 'Liquid error' %}
    {{ the_snippet_reviews }}
{% endunless %}
</div>
{% endif %}