<div class="product-index-inner">
  
  {% capture the_snippet_fave_icon %}{% include 'ssw-widget-faveicon' with product.id %}{% endcapture %}
{% unless the_snippet_fave_icon contains 'Liquid error' %}
    {{ the_snippet_fave_icon }}
{% endunless %}
  
  {% if product.available %}
    {% for col in product.collections %}
    {% if col.handle == 'new' %}
    <div class="new icn">{{ 'products.general.new' | t }}</div>
    {% endif %}
    {% endfor %}

    {% if product.price < product.compare_at_price %}
    <div style="display:none;" class="sale-item icn">{{ 'products.general.sale' | t }}</div>
    {% endif %}

    {% else %}
    <div class="so icn">{{ 'products.general.sold' | t }}</div>
    {% endif %}    
  
    {% if collection.handle == 'all-1' %}
  <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
    <img class="img1" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
    <img class="img2" src="{{ product.images[2] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
  </a> 
   {% elsif collection.handle == 'box-sets'%}
  <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
    <img class="img1" src="{{  product.images[1] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
    <img class="img2" src="{{ product.images[2] | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
  </a>   
  {% else %}
  
  {% for tag in product.tags %}
  {% if tag == 'new' %}
  <img class="new" src="{{ 'neu.png' | asset_url }}"  style="width:25%"/>
  {% elsif tag == '10%'%}
  <img class="new" src="{{ 'zehprozentrabatt.png' | asset_url }}"  style="width:25%"/>
  {% endif %}
  {% endfor %}
  <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
    <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
  </a>  
  {% endif %}

  {%comment%}
  <a class="fancybox.ajax product-modal button" href="{{ product.url }}?view=quick">{{ 'products.general.quick_view' | t }}</a>  
          {%endcomment%}

</div>  

<div class="product-info" style="background-color:gainsboro;"> 

  <div class="product-info-inner">
    <a href="{{ product.url | within: collection }}"> 
      <h3 id="product-listing-font" >{{ product.title }}</h3>
    </a>        
{% comment %}
    <div class="price">
      {% if product.price < product.compare_at_price %}
      	<div class="onsale">{{ product.price | money }}</div>
     	<div class="was">{{ product.compare_at_price | money }}</div>
      {% else %}
      
      	<div class="prod-price">{% if product.price_varies %} {{ 'products.general.from' | t }} {{ product.price_min | money }} - {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %}</div>
      
      {% endif %}	
    </div>
{% endcomment %}    
    
{% if collection.title == "Gift Card" %} 
	<a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}"> 
    	<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    	<input style="display: block; margin: auto;" class="fbAddToCart" id="product_button_collection" type="submit" value="Buy now" onclick="myFunction()"/>
	</a>
    {% assign variant = product.variants.first %}
{% if variant.inventory_quantity <= 0 and variant.available and variant.inventory_management != '' %}
    {% if product.title == "Gift Card" %}
    {%else%}
    {%endif%}
{% endif %}
    
{%else%}
    
    <form method="post" action="/cart/add">
    	<input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    	{%comment%}
      		<input class="fbAddToCart product_button_collection" id="Button-{% increment counter %}" type="submit" value="{% if product.price_varies %} {{ 'products.general.from' | t }} {{ product.price_min | money }} - {{ product.price_max | money }} {% else %}{{ product.variants[0].price | money }}{% endif %} | Buy now"/>
		{%endcomment%}
      		<input class= "fbAddToCart product_button_collection "  id="Button-{% increment counter %}" type="submit" value="{% if product.price_varies %}  {{ product.variants[0].price | money }} {% else %}{{ product.variants[0].price | money }}{% endif %}| Buy now" />
    </form>
    <script type="text/javascript">
      /*
    function print() {
      falert("test me pleas");
      allesimCart.reload();
      
}
*/
</script>
    {% assign variant = product.variants.first %}
{% if variant.inventory_quantity <= 0 and variant.available and variant.inventory_management != '' %}
<p style="color:#ff0000;text-align:center;font-size:15px;">This item is currently out of stock. It will take up to 1 weeks to ship.</p>
{% endif %}
    
{%endif%}
    
  </div>

</div>
