{% if product.title == 'Flavors of Italy' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Tagliatelle with vegetables</h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">¾ lb tagliatelle</li>
<li class="p-ingredient">2 tablespoons olive oil</li>
<li class="p-ingredient">3 cloves garlic, finely chopped</li>
<li class="p-ingredient">1 small red onion, thinly sliced</li>
<li class="p-ingredient">2 cups sliced zucchini</li>
<li class="p-ingredient">1⁄2 cup Vegetable Broth Seasoning</li>
<li class="p-ingredient">2 medium tomatoes, chopped</li>
<li class="p-ingredient">1⁄2 teaspoon grated fresh lemon peel</li>
<li class="p-ingredient">1 teaspoons Muray River Salt</li>
<li class="p-ingredient">1 teaspoons Tellicherry Pepper</li>
<li class="p-ingredient">2.5 teaspoons Flavors of Italy Seasoning</li>
<li class="p-ingredient">For garnish:
Extra virgin olive oil 
1⁄4 cup grated parmesan cheese
Roasted pine nuts 
    Fresh basil</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Cook pasta according to package instructions (best when cooked in salted water) <br>
2. Meanwhile, in a large frying pan, add olive oil, chopped garlic, and sliced onion. Saute' for about 2 minutes, while stirring occasionally. Now add sliced zucchini and continue to saute' for another 2 minutes, stirring occasionally. <br>
3. Add broth and Flavors of Italy Seasoning and cook for 1 minute. Reduce heat to medium. <br>
4. Once the pasta is ready, drain well and transfer to a large bowl. Let it aside. <br>
  5. Add tomatoes to sauteed vegetables and cook for 5 minutes, stirring frequently.  <br>
  6. Stir in lemon rind and cook covered for 2 minutes.  <br>
  7. When done, add cooked mixture to pasta and toss to coat well. <br>
  8. Season to taste with Murray River Salt and Tellicherry Pepper. Sprinkle with parmesan cheese, roasted pine nuts or basil. 
  
</p>
   </div>
</article>  
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;">
  <img  class="photo" src="{{ 'flavorofitaly.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Flavor of Italy - Just Spices"/>
</div>

{% elsif product.title == 'Oatmeal Spice Blend' %}
<div class="gridlock row desktop-12">
<div class="gridlock row mobile-3 tablet-6 desktop-7" style="height:100%;display:flex;"> 
<article class="h-recipe" style="display:flex;">
<div id="text" style="box-shadow: 0 0 10px #ccc;">
<h2 class="p-name">ALMOND SPICED OVERNIGHT OATS</h2>

<h3>Ingredients: </h3>
<ul>
  <li class="p-ingredient">Oatmeal spice blend</li>
<li class="p-ingredient">2 cups almond milk</li>
<li class="p-ingredient">1 cup oatmeal</li>
<li class="p-ingredient">Handful of sliced almonds</li>
<li class="p-ingredient">½ cup of raspberries or sliced fruit of choice</li>
  </ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. The night before, add the oats to your favorite mason jar.<br>
2. Next, sprinkle in our oatmeal spice blend.<br>
3. After that, pour in the almond milk, mix everything and leave it in the fridge until it’s time for breakfast.<br>
4. In the morning, add the sliced almonds and fruit to the top and enjoy!
</p>
   </div>
  </article>
  </div>
  <div class="gridlock row mobile-3 tablet-6 desktop-5" style="display:flex;">
  <div id="bild" style="box-shadow: 0 0 10px #ccc;">
  <img src="{{ 'Oatmeal_Spice_Blend_Recipe.png ' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Oatmeal - Just SPices"/>
</div>
  </div>
</div>
{% elsif product.title == 'BBQ Popcorn Seasoning' %}
  <article class="h-recipe">
<div id="textrezeptBBQ">
<p>Trying to eat healthy again but are still craving for a snack? Do not ignore the appetite! Just stay away from the tipical sweets or chocolate. Popcorn is you friend even in healthy days! There is more pop to it than the basic salt or sugared version.
<br><br>
This is our favorite popcorn recipe, ready in just a few minutes!</p>

<h3>Ingredients:</h3>
<ul>
  <li class="p-ingredient">1/2 cup corn kernels</li>
  <li class="p-ingredient">2 – 4 tablespoons butter</li>
  <li class="p-ingredient">1/2 teaspoon BBQ Popcorn Seasoning (or even more to taste)</li>
  <li class="p-ingredient">A pinch of brown sugar</li>
  
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
Heat half of the butter and half kernels of corn in a large covered stock pot over medium heat. When the kernels have popped, after 2-3 minutes, turn up the heat a little and add the remaining kernels, cover, and continuously shake the pot. I use pot holder-clad hands to simultaneously shake and hold the lid on.<br><br>

Now its important that you are really fast: After the popping has slowed add the residual butter, wait a few seconds and then turn the popcorn into a large bowl. Season immediately and mix thoroughly.<br><br>

In case you are on a strict diet feel free to ignore the brown sugar.
</p>
   </div>
    </article>
  <div id="bildrezeptBBQ" >
  <img class="photo" src="{{ 'FOOD_US_bbqpopcornseasoning_popcorn-1.jpg' | asset_url }}"  alt="BBQ Seasoning Popcorn - Just Spices"/>
</div>

{% elsif product.title == 'Sweet Potato Seasoning' %}
<article class="h-recipe">
<div id="textrezeptsweetpotatoMurrayriversalt" style="box-shadow: 0 0 10px #ccc;padding:1em;height:100%;">
<h2 class="p-name">Roasted sweet potatoes with fresh herbs </h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">4 sweet potatoes, peeled and cut into 1-inch cubes</li>
<li class="p-ingredient">1/4 cup extra-virgin olive oil</li>
<li class="p-ingredient">1-2 teaspoons Sweet Potato Seasoning </li>
<li class="p-ingredient">½ teaspoon Murray River Salt (to taste)</li>
<li class="p-ingredient">Optional:
Fresh herbs for garnish. We recommend dill or parsley 
Extra olive oil to drizzle on meal before serving.</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Preheat your oven to 375 degrees F. <br>
2. Once the oven reaches a high temperature, you can lay the sweet potatoes out in a single layer on a roasting tray. <br>
3. Drizzle the oil, the Sweet Potato Seasoning and the Murray River Salt over the sweet potatoes and roast for 25 to 30 minutes until tender. <br>
4. Take the sweet potatoes out of the oven, place on a serving platter and drizzle with more extra-virgin olive oil and fresh herbs for garnish.
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;">
  <img class="photo" src="{{ 'sweetpotato.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Sweet Potato - Just Spices"/>
</div>

{% elsif product.title == 'Smoothie Boost' %}
<article class="h-recipe">
<div id="textesmoothieboost" style="box-shadow: 0 0 10px #ccc;padding:4em;height:100%;">
<h2 class="p-name">Mixed berries & banana smoothie</h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">1 cup (frozen) mixed berries</li>
<li class="p-ingredient">1 ripe banana</li>
<li class="p-ingredient">1/2 cup milk or water (or even more to taste) </li>
<li class="p-ingredient">1/2 teaspoon Smoothie Boost</li>
<li class="p-ingredient">1 teaspoon honey (optional)</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Slice the banana and add it together with berries of your choice into your blender.<br>
2. Add the Smoothie Boost Seasoning & blend until you get a smooth texture.  <br>
3. With the blades whirring, pour in milk or water to reach the consistency you like.<br>
4. Now you can toss a few extra fruits on top and drizzle with honey to taste. Enjoy & Share!
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc">
  <img class="photo" src="{{ 'smoothboost.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Smooth Boost - Just Spices"/>
</div>

{% elsif product.title == 'Savory Eggs Blend' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:2em;">
<h2 class="p-name">Bagel with scrambled egg & vegetables</h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">¾ cup egg whites</li>
<li class="p-ingredient">1 ripe banana</li>
<li class="p-ingredient">6 tbsp single cream or full cream milk</li>
<li class="p-ingredient">2 teaspoons butter</li>
<li class="p-ingredient">cream cheese</li>
  <li class="p-ingredient">  4 fresh lettuce leaves</li>
  <li class="p-ingredient">2 slices tomato</li>
  <li class="p-ingredient">2-4 slices cucumber</li>
  <li class="p-ingredient">2 tsp Savory Eggs Blend </li>
  <li class="p-ingredient">Murray River Salt (to taste)</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Whisk the eggs with milk and Savory Eggs Blend in a medium bowl until finely blended together.<br>
2. Heat the butter in a pan over medium heat and pour in your prepared egg mixture.<br>
3. Continue cooking, stirring occasionally, until egg mixture is thickened but still moist. <br>
4. In the meantime, cut the tomato and cucumber into slices and toast the bagel.<br>
5. Take the scrambled eggs from the heat once you reach your preferred texture and let sit.<br>
6. Spread cream cheese on the toasted bagel. <br>
7. Place scrambled egg, lettuce, cucumber & tomatoes on the bagel and enjoy!  
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;">
  <img class="photo" src="{{ 'savoryeggblend.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Savory Eggs Blend - Just Spices"/>
</div>

{% elsif product.title == 'Pancake Blend' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Banana Pancakes</h2>

<h3>Ingredients (8 small pancakes): </h3>
<ul>
<li class="p-ingredient">1 medium ripe banana</li>
<li class="p-ingredient">2 large eggs</li>
<li class="p-ingredient">1 teaspoon Pancake Blend</li>
<li class="p-ingredient">Butter or oil</li>
<li class="p-ingredient">1/8 teaspoon baking powder, for fluffier pancakes</li>
  <li>optional: 
1 cup fresh fruits. We recommend blueberries or chopped apples
1/2 cup chopped nuts
    1 tablespoon honey</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Peel the banana and break it up into several big chunks in a bowl. <br>
2. Use a dinner fork to thoroughly mash the banana. Continue mashing until the banana has a pudding-like consistency and no large lumps remain ( a few small lumps are okay). You should have 1/3 to 1/2 cup of mashed bananas. <br>
3. Whisk in Pancake blend. These pancakes are pretty great on their own, but a few extras never hurt. Add 1/8 teaspoon of baking powder for fluffier, lighter pancakes and save any chunky, heavy ingredients — like nuts — for when the pancakes are on the griddle.<br>
4. Whisk the eggs together until the yolks and whites are completely combined. Then pour the eggs over the banana mixture and stir until everything is completely combined.<br>
5. Melt a little butter or warm a little vegetable oil in the pan to prevent the pancakes from sticking to the griddle, if you like.<br>
6. Drop 2 tablespoons of batter onto the hot griddle. It should sizzle immediately — if not, turn up the heat slightly. <br>
7. Cook the pancakes until the bottoms look browned and golden when you lift a corner (roughly 1 minute). The edges should also be starting to look set, but the middle will still be loose like barely set Jell-O. <br>
8. Cook the other side for another minute or so, until it’s is also golden-brown. You can flip the pancakes a few times if you need to in order to get them evenly browned. (Flipping is much easier once the second side is set!)
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;">
  <img class="photo" src="{{ 'pancakerezept.jpg' | asset_url }}" style="display: none;margin-left: auto;margin-right: auto;" alt="Pancake - Just Spices"/>
</div>

{% elsif product.title == 'Guacamole Seasoning' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;height:100%;">
<h2 class="p-name">Fresh and Authentic Mexican Guacamole</h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">3 avocados - peeled, pitted, and mashed</li>
<li class="p-ingredient">1 lime, juiced</li>
<li class="p-ingredient">1 teaspoon Murray River Salt</li>
<li class="p-ingredient">1 teaspoon Guacamole Seasoning</li>
<li class="p-ingredient">2 roma (plum) tomatoes, diced</li>
  <li class="p-ingredient">3 tablespoons chopped fresh cilantro (optional)</li>
</ul>
<h2 >Directions: </h2>
<p class="e-instructions">
1. In a medium bowl, mash together the avocados. Then <br>
2. Add lime juice, salt and Guacamole Seasoning and mix it together. <br>
3. Optionally, add in chopped tomatoes and cilantro. <br>
4. Refrigerate for 1 hour for best flavor, or serve immediately. You can top the guacamole with some extra tomatoes. <br>
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'guacamole.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Guacamole - Just Spices"/>
</div>

{% elsif product.title == 'Flavors of Mexico' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Refried beans tacos </h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">1 lb dried pinto beans</li>
<li class="p-ingredient">2 teaspoons Flavors of Mexico</li>
<li class="p-ingredient">2 cloves garlic minced</li>
<li class="p-ingredient">6 cups water</li>
<li class="p-ingredient">1.5 teaspoon Murray River Salt</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Sort through the beans to ensure that they are good. <br>
2. Rinse with water in a strainer to clean. <br>
3. Add the beans and the minced garlic to a large pot or pan.  <br>
4. Pour the water in. Beans should be fully submerged in water. <br>
  5. Bring water to boil, then turn the heat to low and continue to simmer covered.  <br>
  6. Cook for about 1.5 hours, stirring every half hour, until beans are soft. <br>
  7. Once the beans are soft, remove the lid and continue to cook uncovered until all water is absorbed. <br>
  8. Mash the beans to desired consistency and add Flavors of Mexico and Murray River Salt. <br>
  9. If beans are not as soft as desired add more water! Stir to combine. <br>
  10. Once you get the texture right, put the refried beans into your taco. Add some fresh vegetables, salsa or sour cream to taste. <br>
  11. Serve warm and enjoy!<br>
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'flavorofmaxico.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Flavor of Mexico - Just Spices"/>
</div>
{% elsif product.title == 'Vegetable Broth Seasoning' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Asparagus quiche with carrots</h2>

<h3>Ingredients: </h3>
<ul style="float: left;margin-right: 11em;">
<li class="p-ingredient">0.5 lb. green asparagus</li>
<li class="p-ingredient">0.5 lb. white asparagus</li>
<li class="p-ingredient">4 green onions</li>
<li class="p-ingredient">1 garlic clove</li>
<li class="p-ingredient">0.5 lb. cream cheese</li>
<li class="p-ingredient">0.5 lb. green asparagus</li>
<li class="p-ingredient">4 tablespoons milk</li>
<li class="p-ingredient">0.1 lb. curd</li>
<li class="p-ingredient">1 teaspoon cornstarch</li>
  </ul>
<ul>
<li class="p-ingredient">2 carrots</li>
<li class="p-ingredient">1 teaspoon freshly grated Parmesan</li>
<li class="p-ingredient">0.3 lb. cold butter cut into small pieces</li>
<li class="p-ingredient">1.7 fl. oz. cold water</li>
<li class="p-ingredient">0.5 lb. flour</li>
<li class="p-ingredient">Murray River Salt to taste</li>
<li class="p-ingredient">Tellicherry Pepper to taste</li>
<li class="p-ingredient">½ teaspoon Vegetable Broth</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Knead flour, butter, water and the Just Spices Murray River Salt together<br>
2. Wrap up the dough in a plastic wrap and cool for at least one hour while you are preparing the filling. (You can prepare the dough the evening before)<br>
3. Combine cream cheese, curd, milk and cornstarch and stir until smooth. Add Just Spices Vegetable Broth Seasoning for some extra flavor.  <br>
4. Press the garlic clove and chop the green onion finely.<br>
5. Clean, peel and cut off the dry ends of the asparagus. Peel the carrots and cut with a vegetable peeler into thin strips.  <br>
6. Take the dough out of the refrigerator and let the sit at room temperature for 15 minutes. <br>
7. Thinly roll out and pour the dough into a greased pan. <br>
8. Smear the dough with the cream mixtures and layer asparagus, carrots, green onions and parmesan cheese.on top. <br>
9. Bake the quiche in a convection oven at 375 degrees F. at static upper and lower heat for about 40 minutes. <br>
10. Finally, take the tray out of the oven, let the quiche cool down and serve.
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'vegetablebroth.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="vegetable Broth - Just Spices"/>
</div>

{% elsif product.title == 'Spicy Garlic Blend' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Risotto with asparagus and strawberries</h2>

<h3>Ingredients: </h3>
<ul style="float: left;margin-right: 11em;">
<li class="p-ingredient">2 tablespoons olive oil</li>
<li class="p-ingredient">1 onion</li>
<li class="p-ingredient">1 garlic clove</li>
<li class="p-ingredient">7 oz. strawberries</li>
<li class="p-ingredient">1 cup risotto rice</li>
<li class="p-ingredient">0.5 lb. white asparagus</li>
<li class="p-ingredient">3.5 oz. white wine, dry</li>
  </ul>
  <ul>
<li class="p-ingredient">1 tablespoon brown cane sugar</li>
<li class="p-ingredient">A handful mixed nuts</li>
<li class="p-ingredient">3 tablespoons parmesan</li>
<li class="p-ingredient">½ teaspoon Spicy Garlic Blend</li>
<li class="p-ingredient">3 tablespoon Vegetable Broth Seasoning</li>
<li class="p-ingredient">Murray River Salt to taste</li>
<li class="p-ingredient">Tellicherry Pepper to taste</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. First, peel the onion and garlic clove and chop them finely. Heat the stock and keep it warm. <br>
2. In another pot, heat oil and sauté onion and the garlic clove until it softens. Now, you can stir in the risotto rice and cook until it becomes translucent.<br>
3. Then, add the white wine and keep stirring until the liquid has cooked into the rice. Now, turn the heat down to a simmer and keep adding ladles of vegetable stock, stirring and massaging the starch out of the rice.  <br>
4. Carry on adding stock until the rice is soft but with a slight bite. This will take about 30 minutes. <br>
5. Add Just Spices Murray River Salt, Tellicherry Pepper & the Spicy Garlic Blend. Now, chop the nuts and caramelize with sugar. Be careful - the nuts can burn quickly! Set aside to cool.  <br>
6. Next, clean, peel and cut the asparagus in bite-sized pieces. Fry with 1 tablespoon olive oil. <br>
7. Stir in the butter and the Parmesan. You want it to be creamy and oozy in texture, so add a bit more stock if you think it's necessary. <br>
8. Add the asparagus pieces and mix everything together. <br>
9. Top risotto with fresh strawberries, asparagus, a pinch of freshly grated Parmesan and nuts. Enjoy!
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;">
  <img class="photo" src="{{ 'spicygarlicblendblog.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Spicy Garlic Blend - Just Spices"/>
</div>

{% elsif product.title == 'Murray River Salt' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Oven baked vegetables with Tahini Yogurt Dip</h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">2 tablespoons olive oil</li>
<li class="p-ingredient">1 beetroot</li>
<li class="p-ingredient">1 zucchini</li>
<li class="p-ingredient">4 small tomatoes</li>
<li class="p-ingredient">1 parsnip</li>
<li class="p-ingredient">1 carrot</li>
<li class="p-ingredient">1 red onion</li>
<li class="p-ingredient">A handful rocket salad</li>
<li class="p-ingredient">1 teaspoon tahini</li>
<li class="p-ingredient">half cup of yoghurt</li>
<li class="p-ingredient">1 splash lemon juice</li>
<li class="p-ingredient">Just Spices Murray River Salt</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Preheat your oven to 375 degrees F. <br>
2. Peel the red beet, parsnip and onion and cut everything in equal pieces. <br>
3. Wash the zucchini and cut it in thick slices.  <br>
4. Next, divide the tomatoes in half and gently mix all the vegetables with the olive oil <br>
5. Now, you can lay the vegetables out in a single layer on a baking tray and bake for 25 minutes.  <br>
6. In the meantime, mix the yoghurt with the lemon juice, tahini and Murray River Salt together. <br>
7. Finally, wash the rocket salad and spread over the baked vegetables. <br>
8. Serve with the dip and enjoy.
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'murrayriversaltblog.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Murray River Salt - - Just Spices"/>
</div>

{% elsif product.title == 'Seafood Rub' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Salmon deviled eggs (6 Portions)</h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">3 large eggs</li>
<li class="p-ingredient">5.5 oz. smoked salmon</li>
<li class="p-ingredient">1 teaspoon Just Spices Seafood Rub</li>
<li class="p-ingredient">1 green onion</li>
<li class="p-ingredient">1 tablespoon lime juicep</li>
<li class="p-ingredient">Lime peels</li>
<li class="p-ingredient">Dill for garnish</li>
<li class="p-ingredient">1 tablespoon olive oil</li>
<li class="p-ingredient">Just Spices Murray River Salt to taste</li>
<li class="p-ingredient">Just Spices Tellicherry pepper to taste</li>
<li class="p-ingredient">2 tablespoons radish (grated)</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Bring the eggs to the boil over a high heat and simmer for 6 minutes. <br>
2. Drain and pop the eggs in cold water to cool. <br>
3. Chop the smoked salmon and the green onion finely and mix with lime juice, olive oil and Just Spices Seafood Rub. Add Murray River Salt & Tellicherry Pepper if necessary.  <br>
4. Peel the eggs and halve them lengthways. Spread the salmon mixture and the radish over the eggs. <br>
5. Garnish with lime peels or dill & enjoy!
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'seafoodrubblog.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Sea Food Rub - Just Spices"/>
</div>

{% elsif product.title == 'Hickory Rub' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Smoky chicken and pineapple skewers </h2>

<h3>Ingredients: </h3>
<ul>
<li class="p-ingredient">1 chicken breast</li>
<li class="p-ingredient">¼ pineapple cut into cubes</li>
<li class="p-ingredient">10 bacon tranches</li>
<li class="p-ingredient">3 green onion</li>
<li class="p-ingredient">6 small tomatoes</li>
<li class="p-ingredient">2 teaspoons honey</li>
<li class="p-ingredient">1 teaspoon mustardh</li>
<li class="p-ingredient">2 tablespoons olive oil</li>
<li class="p-ingredient">1 teaspoon Just Spices Hickory Rub</li>
<li class="p-ingredient">Just Spices Murray River Salt and Tellicherry Pepper to taste</li>
</ul>
<h2>Directions: </h2>
<p class="e-instructions">
1. Cut the chicken breast into cubes and wrap the bacon around the pineapple cubes. <br>
2. Cut the green onions into equal pieces. <br>
3. Next, stick the pineapple, chicken, tomato and green onion in alternating order onto the skewers. <br>
4. Mix honey, mustard, olive oil and the Just Spices Hickory Rub together and add Murray River Salt & Tellicherry Pepper if necessary. <br>
5. Marinate the skewers with the sauce and roast for 10 minutes on the grill. <br>
6. Serve & Enjoy!  
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'hickoryrubrezept.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Hickory Rub - Just Spices"/>
</div>

{% elsif product.title == 'Extra Spicy Seasoning' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Grilled halloumi with mango chutney</h2>


<ul style="float:left; margin-right:3em;">
  <h3>Ingredients: </h3>
<li class="p-ingredient">2 courgettes</li>
<li class="p-ingredient">1 halloumi</li>
<li class="p-ingredient">2 tablespoons olive oil</li>
<li class="p-ingredient">Just Spices Murray River Salt</li>
<li class="p-ingredient">Just Spices Tellicherry Pepper</li>
</ul>
<ul >
  <h2>For the mango chutney:</h2>
<li class="p-ingredient">1 mango</li>
<li class="p-ingredient">2 tablespoons rape oil</li>
<li class="p-ingredient">1 onion</li>
<li class="p-ingredient">1 teaspoon Just Spices Extra Spicy Seasoning</li>
<li class="p-ingredient">5 oz. brown cane sugar</li>
<li class="p-ingredient">4 tablespoons white wine vinegar</li>
</ul>
  <h2>Directions: </h2>
<p class="e-instructions">
1. Wash the courgettes and cut into thin slices. <br>
2. Put the courgette slices into boiling water for 2 minutes and lay out on a dry surface. <br>
3. Divide halloumi in half, mix olive oil, Just Spices Murray River Salt and Just Spices Tellicherry Pepper together and marinate the halloumi. Wrap the courgette slices around the halloumi. <br>
4. Sprinkle olive oil on a kitchen foil and put it on the grill. <br>
5. Lay halloumi on the foil and grill for 15 minutes until the cheese is soft. <br>
6. Cut onion into cubes and finely chop the ginger. Heat the oil in a pan over medium-high heat and add the onion and the ginger. Deglaze with the white wine vinegar. <br>
7. Peel the mango and cut the pulp into cubes.  <br>
8. Add mango, sugar and 5 fl. oz. of water to the onion and ginger. <br>
9. Add the Just Spices Extra Spicy Seasoning and cook for about 20 minutes. <br>
10. Serve with roasted corn on the cob and enjoy!
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'extraspicyseasoningrezept.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Extra Spicy Seasoning - Just Spices"/>
</div>

{% elsif product.title == 'Pizza Seasoning' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Homemade Bruschetta Pizza</h2>


<ul>
  <h3>Ingredients: </h3>
<li class="p-ingredient">0.5 lb. flour</li>
<li class="p-ingredient">¼ cube dry yeast</li>
<li class="p-ingredient">5 tablespoons olive oil</li>
<li class="p-ingredient">0.8 lb. small tomatoes</li>
<li class="p-ingredient">1 garlic clove</li>
<li class="p-ingredient">1 package mozzarella</li>
<li class="p-ingredient">3 tablespoons balsamic vinegar</li>
<li class="p-ingredient">Basil</li>
<li class="p-ingredient">1 teaspoon Just Spices Pizza Seasoning</li>
<li class="p-ingredient">Just Spices Murray River Salt and Tellicherry Pepper to taste</li>
</ul>
  <h2>Directions: </h2>
<p class="e-instructions">
1. Preheat oven to 375 degrees F. <br>
2. Add flour in a large bowl and make a little hollow in the middle.<br> Mix the dry yeast with 5 fl. oz. warm water and pour it in the hollow. <br>
3. Stir softly to produce a smooth dough and let it rest for 10 minutes at room temperature. <br>
4. Add 1 tablespoon olive oil, Just Spices Murray River Salt and knead it thoroughly into the dough. <br>
5. Cover and rest at room temperature for 30 minutes. <br>
6.  In the meantime, cut the tomatoes into large pieces and finely chop the garlic clove.<br> 
Add olive oil, Just Spices Murray River Salt, Just Spices Tellicherry Pepper, balsamic vinegar and the Pizza Seasoning.
Cut the mozzarella into cubes and mix everything together.<br>
7. Sprinkle a clean work surface with flour and stretch the dough into an oval piece on the covered surface. Divide dough in half.  <br>
8. Lay the dough out on a baking tray, sprinkle with olive oil and bake for 15 minutes. <br>
9. Take pizza bread out of the oven and spread the tomato salsa mixture you prepared on top.
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;">
  <img class="photo" src="{{ 'pizzarezept.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Pizza - Just Spices"/>
</div>

{% elsif product.title == 'BBQ Seasoning' %}
<article class="h-recipe">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">BBQ Steak</h2>


<ul>
  <h3>Ingredients: </h3>
<li class="p-ingredient">2 (12-ounce) lean strip steaks</li>
<li class="p-ingredient">1-2 teaspoons Just Spices BBQ Seasoning</li>
<li class="p-ingredient">1 tablespoon olive oil</li>
<li class="p-ingredient">2 tablespoons butter</li>
<li class="p-ingredient">2 garlic cloves, crushed</li>
<li class="p-ingredient">Thyme branches</li>
</ul>
  <h2>Directions: </h2>
<p class="e-instructions">
1. Let steaks stand 30 minutes at room temperature for a better roasting. <br>
2. Rub the steaks all over with the Just Spices BBQ Seasoning and heat a large cast-iron skillet over high heat. Make sure that your pan is super-hot before you start. <br>
3. Next, add oil and the steaks into the pan and cook 6 minutes turning every minute. Now, reduce heat to medium-low and add butter, thyme, and garlic to pan. <br>
4. Remove steaks from pan, cover loosely with foil and let stand 10 minutes to collect all the lovely juice. <br>
5. Discard thyme and garlic, spoon reserved butter mixture over steak. <br>
6. You can serve with fresh salad or grilled vegetables.
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'bbqseasoningrezept.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="BBQ Seasoning - Just Spices"/>
</div>

{% elsif product.title == 'Pork Rub' %}
<article class="h-recipe" style="display:flex;">
<div id="textesavoryeggsblend" style="box-shadow: 0 0 10px #ccc;padding:1em;">
<h2 class="p-name">Pork Steaks</h2>


<ul>
  <h3>Ingredients: </h3>
<li class="p-ingredient">¼ cup butter</li>
<li class="p-ingredient">¼ cup soy sauce</li>
<li class="p-ingredient">1 bunch green onions</li>
<li class="p-ingredient">6 pork butt steaks</li>
<li class="p-ingredient">1-2 teaspoons Just Spices Pork Rub</li>
<li class="p-ingredient">Just Spices Murray River Salt</li>
<li class="p-ingredient">Just Spices Tellicherry Pepper</li>
<li class="p-ingredient">Fresh herbs such as parsley</li>
</ul>
  <h2>Directions: </h2>
<p class="e-instructions">
1. Melt butter in a skillet, and mix in the soy sauce. Saute the green onions and garlic. <br>
2. Rub the steaks all over with the Just Spices Pork Rub. <br>
3. Place the pork steaks in the skillet, cover, and cook 8 to 10 minutes on each side, Remove cover, and continue cooking 10 minutes. <br>
4. Serve with fresh herbs such as parsley. 
</p>
   </div>
  </article>
  <div id="bildrezeptBBQ" style="box-shadow: 0 0 10px #ccc;width: 100%;">
  <img class="photo" src="{{ 'porkrubrezept.jpg' | asset_url }}" style="display: block;margin-left: auto;margin-right: auto;" alt="Pork Rub - Just Spices"/>
</div>
{% endif %}


