<script>
	var SUBParams = {
		"id" : "7ba8fc5c4fd77c34329f618dee596ccd",
        "app_id" : "1",		"product" : {{ product | json }},
		"moneyFormat" : "{{ shop.money_with_currency_format }}",
		"productView": "sub-json"
	};
</script>
<script src="{% if shop.metafields.sh_sub['debug_mode'] == '1' %}https://s3.amazonaws.com/shopify-extensions/upsell-bundles/js/common.js{% else %}https://s3.amazonaws.com/shopify-extensions/upsell-bundles/js/common.min.js{% endif %}"></script>
