<div class="desktop-12">
  <img src="{{ 'unterschriften_newsletter-usa.jpg' | asset_url }}" alt="Thank you | {{ shop.name }}"/>
  <div class="articleShare" style="padding: 18px 16px 16px 16px;">
    <span class="uppercaseGray" style="float: left;margin-right: 1em;"><h2 style="width: 46px;">Share</h2></span>
    <span>
      <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
		<a href="https://twitter.com/share" class="twitter-share-button"data-url="{{ shop.url }}{{ article.url }}"data-via="your_screen_name"data-text="{{ article.title | escape }}"data-count="horizontal">Tweet</a>
    </span>
	<span>
    <a href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ article.url }}&amp;media=http:{{ article | img_url: '1024x1024' | split: '?' | first }}&amp;description={{ article.title | strip_html | truncate: 200, '' | url_param_escape }}{% for tag in article.tags limit: 3 %}{{ tag | replace: ' ', '-' | prepend: ' #' | url_param_escape }}{% endfor %}" data-pin-do="buttonPin" data-pin-config="none">
  		<img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
	</a>
	<script async src="//assets.pinterest.com/js/pinit.js"></script>
	</span>
    <span>
  		<div class="fb-like" data-href="{{shop.url}}{{article.url}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
	</span>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
