{% capture ssw_login_helper %}{% include 'ssw-login-helper' %}{% endcapture %}
{% unless ssw_login_helper contains 'Liquid error' %}
	{{ ssw_login_helper }}
{% endunless %}
{% capture ssw_community_helper %}{% include 'ssw-community-helper' %}{% endcapture %}
{% unless ssw_community_helper contains 'Liquid error' %}
	{{ ssw_community_helper }}
{% endunless %}
{% capture ssw_instagram_helper %}{% include 'ssw-instagram-helper' %}{% endcapture %}
{% unless ssw_instagram_helper contains 'Liquid error' %}
	{{ ssw_instagram_helper }}
{% endunless %}
{% capture ssw_questions_helper %}{% include 'ssw-questions-helper' %}{% endcapture %}
{% unless ssw_questions_helper contains 'Liquid error' %}
	{{ ssw_questions_helper }}
{% endunless %}
{% capture ssw_review_helper %}{% include 'ssw-review-helper' %}{% endcapture %}
{% unless ssw_review_helper contains 'Liquid error' %}
	{{ ssw_review_helper }}
{% endunless %}
{% capture ssw_sharing_helper %}{% include 'ssw-sharing-helper' %}{% endcapture %}
{% unless ssw_sharing_helper contains 'Liquid error' %}
	{{ ssw_sharing_helper }}
{% endunless %}