{% if shop.customer_accounts_enabled %}
  <script type="text/javascript">
    if(typeof sswReviewBarInterval == 'undefined'){
      var sswReviewBarInterval = setInterval(function(){
        if(typeof sswJqLoaded != 'undefined' && sswJqLoaded){
          clearInterval(sswReviewBarInterval);
          ssw.get(sswProxyUrl + '/lite2/core/widget/index', {'_sid': sswCookie('hesid'), 'module': 'recommendation', 'name': 'reviewsPopup'}, function (response) {
            if (ssw('#site-body').length) {
              ssw('#site-body').append(response);
            }
            else {
              ssw('body').append(response);
            }
          }, "html");
        }
      }, 300);
    }
  </script>
{% endif %}