<div class="ssw-fbconnect ssw-social-btn ssw-btn-medium">
  <a title="{{ 'socialshopwave.sign_in_facebook' | t }}" href="javascript://">
    <i class="ssw-icon-facebook"></i><span>{{ 'socialshopwave.social_login_facebook' | t }}</span>
  </a>
</div>
<div class="ssw-gconnect ssw-social-btn ssw-btn-medium">
  <a title="{{ 'socialshopwave.sign_in_gplus' | t }}" href="javascript://">
  	<i class="ssw-icon-gplus"></i><span>{{ 'socialshopwave.social_login_gplus' | t }}</span>
  </a>
</div>
<div class="ssw-inconnect ssw-social-btn ssw-btn-medium">
  <a title="{{ 'socialshopwave.sign_in_instagram' | t }}" href="javascript://">
    <i class="ssw-icon-instagram"></i><span>{{ 'socialshopwave.social_login_instagram' | t }}</span>
  </a></div>
<div class="ssw-azconnect ssw-social-btn ssw-btn-medium">
  <a title="{{ 'socialshopwave.sign_in_amazon' | t }}" href="javascript://">
    <i class="ssw-icon-amazon"></i><span>{{ 'socialshopwave.social_login_amazon' | t }}</span>
  </a>
</div>