<div class="ssw-row-fluid">
  <div class="ssw-span12">
    <div id="ssw-share-review-page" class="ssw-share-review-page ssw-reviews-page">
      <div class="ssw-page-loading">
        <span class="ssw-spin ssw-loader"></span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  if (typeof sswShareReviewPageInterval == 'undefined') {
    var sswShareReviewPageInterval = setInterval(function () {
      if (typeof sswJqLoaded != 'undefined' && sswJqLoaded) {
        clearInterval(sswShareReviewPageInterval);
        var path_name = window.location.pathname;
        var ssw_substr = '/pages/';
        var ssw_index = path_name.indexOf(ssw_substr) + ssw_substr.length;
        var ssw_request_url = sswProxyUrl + '/lite2/' + path_name.substr(ssw_index);
        var params = location.search.substring(1);
        if(params){
          ssw_request_url += '?' + params;
        }
        var data = {'_sid': sswCookie('hesid'), 'hash_key' : sswCookie('hash_key')};
        ssw.get(ssw_request_url, data, 'html').done(function(response){
          ssw('#ssw-share-review-page').css('opacity', 0);
          ssw('#ssw-share-review-page').html(response).animate({
            opacity: "1"
          }, 50, function () {
            if (typeof window.afterSswPageLoadedCallback === 'function') {
              window.afterSswPageLoadedCallback(response);
            }
          });
        });
      }
    }, 200);
  }
</script>