<li id="view_profile_link"><a tabindex="-1" href="/pages/profile">{{ 'socialshopwave.view_profile' | t }}</a></li><li id="edit_profile_link"><a tabindex="-1" href="/pages/profile-edit">{{ 'socialshopwave.edit_profile' | t }}</a></li>