{% include 'nutritionFacts' %}
<div id="symboleInnen">
<ul id="symboleListe">
  <li class="symboleAnordnen"><img src="{{ 'vegan.png ' | asset_url }}" style="width:50%"/> <p class="schriftSymbole">ONLY NATURAL INGREDIENTS</p> </li>
  {% for tag in product.tags %}{% if tag == 'usda' %}
  <li class="symboleAnordnen"><img src="{{ 'usda.png ' | asset_url }}" style="width:46%"/> <p class="schriftSymbole">USDA ORGANIC</p> </li>
  {%endif%}
    {%endfor%}
  <li class="symboleAnordnen"><img src="{{ 'nr1.png ' | asset_url }}" style="width:30%"/> <p class="schriftSymbole">BEST QUALITY SPICES</p> </li>
  <li class="symboleAnordnen"><img src="{{ 'explosion.png ' | asset_url }}" style="width:33%"/> <p class="schriftSymbole">100% TASTE SENSATION</p> </li>
  <li class="symboleAnordnen"><img src="{{ 'world.png ' | asset_url }}" style="width:44%"/> <p class="schriftSymbole">SOURCED WORLDWIDE</p> </li>
  <li class="symboleAnordnen"><img src="{{ 'noflavorenhancers.png ' | asset_url }}" style="width:46%"/> <p class="schriftSymbole">NO FLAVOR ENHANCERS</p> </li>
</ul>
</div>

