<!-- Hotjar Tracking Code for https://www.justspices.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:691296,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nxwb1');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
<!-- Sumome tracking -->
<!-- SUMO ACCOUNT VERIFICATION - karn@justspices.de  -->
<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='f9b146a252ee6c667980bdb887ae49381a8bee0f5b5e9ed304c58387c01d39d2';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
<!-- Reddit Conversion Pixel -->
<script>
var i=new Image();i.src="https://alb.reddit.com/snoo.gif?q=CAAHAAABAAoACQAAABV6QdRBAA==&s=LRw-bEODpM_M3OhXBHWQ7ixVbzh9cTHBhDgNqP1KQGY=";
</script>
<noscript>
<img height="1" width="1" style="display:none"
src="https://alb.reddit.com/snoo.gif?q=CAAHAAABAAoACQAAABV6QdRBAA==&s=LRw-bEODpM_M3OhXBHWQ7ixVbzh9cTHBhDgNqP1KQGY="/>
</noscript>
<!-- DO NOT MODIFY -->
<!-- End Reddit Conversion Pixel -->