<!--
<style>
#videoMobile {
    position:relative;
    padding-bottom:56.25%; /* aspect ration for 16:9 */
    /*padding-top: 20px;*/ /* you can add padding-top if needed */
    height:0;
    overflow:hidden;
}

#videoMobile iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
</style>
<div style="margin-top: 3.5em; text-align: center; margin-bottom: 2em;">
   <h2 class="bestSellerHeading facesh2">SEASONINGS THAT TELL A STORY</h2>
</div>
<div id="videoMobile">
  <div id="player"></div>
</div>
<script async>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '500px',
          width: '100%',
          videoId: 'z2HkLDkLLEw',
          playerVars: {
            rel: 0,
      		autoplay: 1,        // Auto-play the video on load
      		controls: 1,        // Show pause/play buttons in player
      		showinfo: 1,        // Hide the video title
      		modestbranding: 1,  // Hide the Youtube Logo
      		loop: 1,            // Run the video in a loop
      		fs: 1,              // Hide the full screen button
      		cc_load_policy: 0, // Hide closed captions
      		iv_load_policy: 3,  // Hide the Video Annotations
      		autohide: 0         // Hide video controls when playing
    		},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
           event.target.setVolume(0);
       event.target.playVideo();
      }
      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
                  done = true;
        }
           event.target.setVolume(0);
      }
</script>
-->