{% if product.title == 'BBQ Popcorn Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">PAPRIKA, SEA SALT, TOMATO POWDER, GARLIC, ONION, BROWN CANE SUGAR, BLACK PEPPER, CORIANDER SEEDS
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Best when mixed into homemade popcorn while warm - it sticks better to it.
    
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Popcorn, topping, natural chips</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div>  


{% elsif product.title == 'BBQ Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">BLACK PEPPER, BROWN CANE SUGAR, GARLIC, CAYENNE PEPPER, YELLOW MUSTARD SEEDS, CHILI FLAKES
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Use to marinate meat for your barbeque or sprinkle on top after cooking.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Beef, poultry. beef, tofu, vegetables</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div>  

{% elsif product.title == 'Extra Spicy Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">CHILI, SALT AND NATURAL SMOKE FLAVOR, BROWN CANE SUGAR, CAYENNE PEPPER, BLACK PEPPER
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
    Just dare and add to your meal. Attention!! Only take pinch and adjust to your sharpness level. This is not an ordinary spice.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Everything that is not spicy enough for you!</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Flavors of Italy' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">BLACK PEPPER, SEA SALT, TOMATO POWDER, PAPRIKA, ONIONS, ROSEMARY, GARLIC, CHILI, SAGE, THYME, FENNEL SEEDS, BASIL, MARJORAM, OREGANO
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
    Just sprinkle on top of meal or mix into your sauce.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Fish, poultry, beef, vegetables, pasta, and tomato sauce. Basically for every meal you want to give an Italian touch! </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Flavors of Mexico' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">PAPRIKA, CUMIN, GARLIC, CAYENNE PEPPER, CHILI
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
    Just sprinkle on top of meal or mix into your sauce. 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">tacos, carnitas, enchiladas, quesadillas, and all other things mexican</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Guacamole Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">GARLIC, TOMATO POWDER, BLACK PEPPER, LEMON PEEL, ONION, CHILI
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
    Prepare Guacamole in your favorite way. Add our seasoning and lime according to taste.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Guacamole, fresh avocados</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Hickory Rub' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SALT AND NATURAL SMOKE FLAVOR, BROWN CANE SUGAR, BLACK PEPPER, ORANGE PEEL, CARDAMOM SEEDS
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Ideally rub the spice mixture into your ingredients a few minutes before you put it on the grill or roast on a pan.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Fish, poultry, vegetables, lamb, beef, pork, or tofu</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Oatmeal Spice Blend' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">GROUND ALMOND, COCONUT FLAKES, COCOA, VANILLA BEAN, CINNAMON, GINGER
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Simply mix into your oatmeal or granola when preparing (also great for overnight oats).
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Oatmeal, granola, cereals, yoghurt or curd</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 
  
{% elsif product.title == 'Pancake Blend' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">BROWN CANE SUGAR, CINNAMON, LEMON PEEL, CARDAMOM SEED, VANILLA BEAN
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Best when mixed directly into batter. Of course, also delicious when sprinkled on top!
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Pancake, waffles, desserts</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Pizza Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">GARLIC, OREGANO, ONIONS, MARJORAM, BASIL
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Best when mixed into your marinara for homemade pizzas. Or just sprinkle on your pizza!
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Pizza, marinara or tomato soup</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Pork Rub' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">PAPRIKA, BROWN CANE SUGAR, SEA SALT, BLACK PEPPER, ONIONS, GARLIC, CAYENNE PEPPER
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Great on pork for barbecues. Just rub the spice mixture onto the meat and let it absorb the flavors for 5 minutes before you put it on the grill.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">Everything pork! pork chops, pulled pork, pork shoulder - just always great.</p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Savory Eggs Blend' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SEA SALT, BLACK PEPPER, PAPRIKA, PARSLEY, CHIVES
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Mix eggs with a touch of milk and the blend according to taste in a bowl. Fry the egg in your favorite way!
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Scrambled egg, omelette or any creative dish with eggs
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Seafood Rub' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SEA SALT, THYME, LEMON GRASS, GARLIC, LEMON PEEL, FENNEL SEEDS, CHILI, CARDAMOM SEEDS
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Rub into your fish or seafood and let sit for a few minutes before you grill or fry it.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Fish soup or any kinds of seafood
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Smoothie Boost' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">LEMON PEEL, GINGER, HOLLYHOCK BLOSSOM, ORANGE PEEL, MINT
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   For best results put into blender with fruits before you mix it.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Smoothies, fruit, muesli
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Spicy Garlic Blend' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">GARLIC, ONIONS, OREGANO, SEA SALT, THYME, CHILI
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
   Just sprinkle on top of your prepared dish and enjoy. To make the dip use one tbsp. of the blend and mix with two tbsp. oil and water each. Alternatively, use yoghurt or curd as a base for the dip.  
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Bread, fish, poultry, lamb, beef, potatoes, salad, oil and dips
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Spicy Popcorn Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SEA SALT, GARLIC, CHILI, BROWN CANE SUGAR, GINGER
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  
    Best when mixed into homemade popcorn while warm - it sticks better to it.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Popcorn, topping, natural chips
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Steak Rub' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">BLACK PEPPER, BROWN CANE SUGAR, SEA SALT, OREGANO, PAPRIKA, GARLIC, SALT AND NATURAL SMOKE FLAVOR, ONION, LEMON PEEL, PINK PEPPER,CHILI, CUMIN, DRY MUSTARD
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Rub into beef and let sit for 3 to 5 minutes. Grill the meat or fry it in a pan.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Beef steak, beef brisket, beef ribs
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Sweet Potato Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SEA SALT, BLACK PEPPER, BROWN CANE SUGAR, GINGER, YELLOW MUSTARD SEEDS, GARLIC, PAPRIKA, CHILI, NUTMEG
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Simply sprinkle on top of your baked sweet potatoes or mix into mashed sweet potatoes.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Sweet potato, pumpkin
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Texas BBQ Dip Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">BROWN CANE SUGAR, THYME, PARSLEY, CHIVES, PAPRIKA, ROSEMARY, SEA SALT, GARLIC, SALT AND NATURAL SMOKE FLAVOR, TOMATO POWDER, ONIONS
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Simply take 1 tbsp. of the blend and mix it with four tbsp. sour cream and a pinch of milk. Alternatively, try yoghurt or curd as the base of your dip!
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Bread, eggs, fish, poultry, lamb, oil and dips
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Vegetable Broth Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SEA SALT, BROWN CANE SUGAR, ONION, DICED CARROT, GARLIC, CELERY SEEDS, TOMATO POWDER, PARSLEY, BLACK PEPPER, LOVAGE LEAVES, TURMERIC, NUTMEG
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Just mix with boiled water to have a delicious and fast vegetable broth.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Vegetable broth, risotto or any kinds of savory soups.
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Tellicherry Pepper' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">TELLICHERRY PEPPER
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Add to your meal while preparing and then take to table to adjust according to taste.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Everything
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Murray River Salt' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">MURRAY RIVER SALT
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Add to your meal while preparing and then take to table to adjust according to taste.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Everything
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Paprika Cream Cheese Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">PAPRIKA, TOMATO, SWEET PAPRIKA, SEA SALT, BROWN CANE SUGAR, LEMON PEEL, CHILI, TELLICHERRY PEPER
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Take cream cheese and add our delicious Paprika Cream Cheese seasoning. Your breakfast will be guaranteed to the moment of pleasure.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Everything
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Mushroom Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p  class = "uppercaseGray" style="font-size:16px">TELLICHERRY PEPPER, SEA SALT, GARLIC FLAKES, Parsley, CORIANDER LEAVES, RAMSON
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Refine your delicious mushroom pan or alternatively any ragout with several pinches of this seasoning. 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Stew, fish, vegetables, rice
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Chipotle Chili Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">CHIPOTLE CHILI, TOMATO POWDER, SEA SALT, BROWN CANE SUGAR, ONIONS, BROWN CANE SUGAR AND NATURAL SMOKE FLAVOR, CUMIN, GARLIC 
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Add the seasoning into your dish and repeat until you build to the heat level you desire 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Fish, poultry, vegetables, pasta, rice, beef, pork, tofu
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Fleur De Sel' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">FLEUR DE SEL 
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Fleur de Sel, the queen among the salt crystals. The very delicate and deliciously crispy salt is making true revelations out of your steak, fish and even sweets. Produced in a facility that also processes nuts, soya, gluten, celery, sesame and mustard.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Bread, dessert, eggs, stew, fish, poultry, vegetables, potatoes, lamb, pasta, oil and dips, rice, beef, raw food, salad, pork, soup, tofu 
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Exotic Rice Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SEA SALT, LEMON PEEL, LEMON GRASS, ORANGE BLOSSOMS, GINGER, ORANGE PEEL
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Rice=boring? Not with this seasoning! Depending on taste, add several pinches of this seasoning.  
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Stew, poultry, lamb, rice, beef, pork, soup 
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Spicy Jerk Rub Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">ONIONS, CAYENNE PEPPER, THYME, TELLICHERRY PEPPER, BROWN CANE SUGAR, PIMENTO, CINNAMON, NUTMEG 
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Brilliant for BBQ or roasting chicken or any other meat. Prepare your meat by marinating it with the seasoning and just enjoy the finished dish! 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Poultry, oil and dip 
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Garam Masala Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">FENUGREEK SEEDS, TELLICHERRY PEPPER, CUMIN, CORIANDER SEEDS, GINGER, CINNAMON, GARLIC FLAKES, ANISE, CLOVES, CARAWAY  
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Rub or marinate the seasoning into the meat before preparation or use it to refine your dishes. 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Fish, poultry, vegetables, pasta, rice, beef, pork, tofu
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Green Curry Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:14px">FENUGREEK SEEDS, GARLIC, BROWN CANE SUGAR, CORIANDER SEEDS, CUMIN, LEMON PEEL, CARDAMOM SEEDS, GINGER, TELLICHERRY PEPPER, CHILI, BASIL, JALAPEÑOS, MINT, TARRAGON, LEMON GRASS   
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Add the seasoning directly with your finger while cooking or refine finished dishes. 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Stew, fish, poultry, vegetables, potatoes, lamb, rice, beef, pork, tofu 
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Cajun Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">TELLICHERRY PEPPER, WHITE PEPPER, THYME, OREGANO, CAYENNE PEPPER, GARLIC FLAKES, ONIONS   
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Add Cajun Seasoning to refine stews, fish, rice and vegetables. 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Fish, poultry, vegetables, pasta, rice, beef, pork, tofu
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Purple Curry Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:14px">HIBISCUS FLOWER, CHILI, TURMERIC, ROSE PETALS, CORIANDER SEEDS, CUMIN, JALAPEÑOS, FENUGREEK SEEDS, CARDAMOM SEEDS, TELLICHERRY PEPPER, YELLOW MUSTARD SEEDS, GINGER, MACIS, PIMENTO, CINNAMON, GARLIC    
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Add the seasoning directly with your finger while cooking or refine finished dishes.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Stew, fish, poultry, vegetables, potatoes, lamb, rice, beef, pork, tofu 
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Berry Yoghurt Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">RASPBERRY POWDER, BLUEBERRY POWDER, STRAWBERRY POWDER, ACAI BERRY POWDER, MINT, LEMON PEEL, VANILLA     
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Mix your Berry Yoghurt Spice into your plain yoghurt. Our secret hint: Warm milk with our berry yoghurt spice will send you directly into the berry heaven. 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Desserts 
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Five Pepper Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">TELLICHERRY PEPPER, BLACK PEPPER, TIGER PEPPER, CUBEB PEPPER, GREEN PEPPER   
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  The perfect seasoning for everyone who is tired of always using the same type of pepper. Refines your meat or fish. Of course, Just Spices style with your fingertips. 
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Bread, eggs, fish, poultry, vegetables, potatoes, cheese, lamb, pasta, oil and dips, rice, beef, rice, raw food, lettuce, pork, tofu 
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div> 

{% elsif product.title == 'Chili con Carne Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SEA SALT, CHILI, SWEET PAPRIKA, CAYENNE PEPPER, CUMIN, OREGANO, CLOVES, CINNAMON  
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Add to your Chili con Carne while preparing.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Once cooked served with rice, tortillas, crusty bread or a simple salad  
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div>

{% elsif product.title == 'Mediterranean Herb Salt Seasoning' %}
<div id="dreiTextall">
<div class="dreiText">
  <h3>INGREDIENTS</h3>
  <p style="font-size:16px">SEA SALT, ROSEMARY, BASIL, PARLEY, CHERVIL, SAGE, RAMSON, CHIVES, LOVAGE LEAVES
</p>
  
</div>
<div class="dreiText">
  <h3>INSTRUCTIONS</h3>
  <p style="font-size:16px">
  Use as a table salt for already served dishes or while cooking.
  </p>
  
</div>
<div class="dreiText">
  <h3>WELL SUITED WITH</h3>
  <p style="font-size:16px">
  Stew, fish, poultry, potatoes, lamb, pasta, oil and chips, rice, beef, raw food, lettuce, pork, soup, tofu
  </p>
</div>
</div>
<div class="clear"></div>  

  {% include 'symbole' %}

<div class="clear" style="margin-bottom:1.5em;"></div>

{% elsif product.title == 'Chicken Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:14px">SEA SALT, TABLE SALT, BROWN CANE SUGAR, TOMATO FLAKES, SWEET PAPRIKA, GARLIC FLAKES, CHILLI WITHOUT NUCLEUS, ROSEMARY, THYME, SAGE, CORIANDER, TURMERIC, FENUGREEK SEED, CUMIN, FENNEL SEED, BLACK PEPPER</p>
   </div>
   <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Just rub the spice mixture into the chicken and let it absorb the flavors before you put it in the oven.
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Everything chicken!
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Flavors of India' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">FENUGREEK SEEDS, GINGER, SWEET PAPRIKA, ONIONS, CORIANDER GRAINS, CARDAMOM SEEDS, CURCUMA</p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Chicken, vegetable, rice, beef, pork, tofu
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Vegetable Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">SEA SALT, TELLICHERRY PEPPER, GARLIC FLAKES, ONIONS, SWEET PAPRIKA, CUMIN, LEMON PEEL, CAYENNE PEPPER</p>
   </div>
   <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Vegetables bought and no idea which spice fits? No problem, the Vegetable Seasoning fits easily to any vegetables whether cooked, fried, or stewed.
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Vegetables, pasta
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Clean Eating Allrounder' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">GINGER, ROSEMARY, HORSERADISH, MINT, CUMIN, CEYLON CINNAMON, CURCUMA, CAYENNE PEPPER, CARDAMOM SEED</p>
   </div>
   <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         The natural flavors of cardamom seeds, turmeric, cinnamon, ginger, and cayenne pepper add a delicious spiciness to your dishes.
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Vegetables, pasta
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Sweet Love' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">BROWN CANE SUGAR, ALMONDS, CINNAMON, LEMON PEEL, ORANGE PEEL, MARIGOLD BLOSSOM LEAVES</p>
   </div>
   <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Simply spread on desserts or hot drinks 
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Desserts, fruits, cereals, yoghurt, curd cheese
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Tofu Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:14px">FENUGREEK SEEDS, GARLIC FLAKES, TELLICHERRY PEPPER, SWEET PAPRIKA, CORIANDER GRAINS, MUSTARD SEED - YELLOW, CURCUMA, GINGER, ROSEMARY, FENNEL SEEDS, THYME, CARAWAY, SAGE, LEMONGRASS</p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Vegetables, potatoes, cheese, pasta, curd cheese, raw vegetables, tofu
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Herbs de Provence' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">ROSEMARY, THYME, SAVORY, MARJORAM, OREGANO, TARRAGON LEAVES</p>
   </div>
  <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Ideal to provide any dish with a Mediterranean touch. 
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Stew, fish, poultry, potatoes, lamb, noodles, oil & dips, curd, rice, beef, raw vegetables, lettuce, pork, soup, tofu, venison
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Blossom Mix' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">ROSE PETALS, MAUVE FLOWERS / HIBISCUS FLOWERS, MARIGOLD PETALS, CORNFLOWER PETALS</p>
   </div>
  <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Refinish desserts with a floral note or decorate it with a pinch of the Blossom Mix. 
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Bread, dessert, egg, fish, fruits, vegetables, potatoes, cheese, lamb, cereals, curd, rice, lettuce, tofu
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Hash Brown Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:14px">SEA SALT, FENUGREEK SEEDS, SWEET PAPRIKA, GARLIC FLAKES, CORIANDER GRAINS, ONIONS, TABLE SALT, NUTMEG, TURMERIC, CUMIN, FENNEL SEEDS, BLACK PEPPER, CLOVES, CHILI, SMOKE</p>
   </div>
  <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Just add the spice with your fingers to your potato dish and enjoy!
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Potatoes
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Ranch Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">ONIONS, THYME, CHIVES, PARSLEY, BASIL, CORIANDER LEAVES</p>
   </div>
  <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         7 tbsp of water, 2 tbsp olive oil, 1 tsp of vinegar, 2 tsp Ranch Dressing and ready is your yummy herbal dressing.
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         Egg, oil and dips, curd, raw vegetables, salad, tofu
      </p>
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% elsif product.title == 'Pasta Alfredo Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">PAPRIKA FLAKES, GARLIC, PARSLEY, SEA SALT, TELLICHERRY PEPPER, NUTMEG, LEMON PEEL </p>
   </div>
  <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Melt butter in a saucepan at low heat until creamy. Now add the Pasta Alfredo Seasoning. Stir in the parmesan at the end to get the creamiest sauce ever.
      </p>
   </div>
</div>
{% elsif product.title == 'Coffee Kiss Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">VANILLA SUGAR, GROUND ALMONDS, COCOA, CINNAMON, MARIGOLD BLOSSOMS</p>
   </div>
  <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Sprinkle on top of your coffee and mix it well.
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         desserts, fruits, cereals, and quark
   </div>
</div>
{% elsif product.title == 'Sporty Spice Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">FENUGREEK SEEDS, GINGER, TELLICHERRY PEPPER, CHILI, CARDAMOM SEEDS, PAPRIKA</p>
   </div>
  <div class="dreiText">
      <h3>INSTRUCTIONS</h3>
      <p style="font-size:16px">
         Refine salads or vegetables through 2 or 3 pinches of the Sporty Spice seasoning. 
      </p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         fish, poultry, vegetables, pasta, rice, cattle, pig, and tofu 
   </div>
</div>
{% elsif product.title == 'Chocolate Salt Popcorn Seasoning' %}
<div id="dreiTextall">
   <div class="dreiText">
      <h3>INGREDIENTS</h3>
      <p style="font-size:16px">BROWN CANE SUGAR, COCOA, SEA SALT, LEMON PEEL, CHILI</p>
   </div>
   <div class="dreiText">
      <h3>WELL SUITED WITH</h3>
      <p style="font-size:16px">
         popcorn, desserts 
   </div>
</div>
<div class="clear"></div>
{% include 'symbole' %}
<div class="clear" style="margin-bottom:1.5em;"></div>
{% endif %}


