{% layout settings.customer_layout %} 

<div id="customer-wrapper" class="desktop-12 mobile-3">
 
   {% include 'accountMenu' %}
  
  <div id="customer_orders" class="desktop-9 mobile-3">
    <h5 class="name">{{ 'customer.orders.title' | t }}</h5>
    <script>alert({{'customer.orders.date'}});</script>
    {% if customer.orders.size != 0 %}
 
   <table class = "orderhistoryTable" style = "width:120%">
      <thead class = "CustomerOrderHeader">
        <tr id = "tableTr">          
          <th class="headerTable" style="border: 1px solid black;">{{ 'customer.orders.order_number' | t }}</th>
          <th class="headerTable" style="border: 1px solid black;">{{ 'customer.orders.date' | t }}</th>
          <th class="headerTable" style="border: 1px solid black;">Product Name</th>
          <th class="headerTable" style="border: 1px solid black;">{{ 'customer.orders.payment_status' | t }}</th>
          <th class="headerTable" style="border: 1px solid black;">{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th class="headerTable" style="border: 1px solid black;">{{ 'customer.orders.total' | t }}</th>
          <th class="headerTable" style="border: 1px solid black;">carrier</th>
          <th class="headerTable" style="border: 1px solid black;">track your order</th>
        </tr>
        
      </thead>

      <tbody id = "Tb" >
        
        {% for order in customer.orders %}
        <tr id = "tableTr" class = "offner" style = "display:none">
           <td id= "orderRow" class = "plus" data-label="Order" >{{ order.name }}<i id = "crossRotate" class="fa fa-plus fa-custom-icon-3" aria-hidden="true" style = "float:right"></i></td>
        </tr>
         
          <tr id  ="tableTr" class="{% cycle 'odd' %} {% if order.cancelled %}cancelled_order{% endif %}">
          
          <td class = "order" data-label="Order" style="border: 1px solid black;">{{ order.name | link_to: order.customer_url }}</td> 
          <td id= "orderRow" data-label="Date" style="border: 1px solid black;"><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
          <td id= "orderRow" data-label="items" style="border: 1px solid black;"><a href= "#" class = "popupintable" id = "popup_{{ forloop.index0 }}" onclick="myFunction({{ forloop.index0 }})" >Show Orders
            <ul class="popuptext" id="myPopup_{{ forloop.index0 }}"  >
               
            {% for line_item in order.line_items%}
         
            <li><span href="#">{{line_item.quantity}}-{{line_item.title }}</span></li>
            {% endfor %}
             
            </ul></a></td>
          
           <td id= "orderRow" data-label="Payment Status" style="border: 1px solid black;"><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
        
           <td id= "orderRow" data-label="fulfillment_status"style="border: 1px solid black;"><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
          
           <td id= "orderRow" data-label="Total"style="border: 1px solid black;"><span class="total money">{{ order.total_price | money }}</span></td>
           
            {% for line_item in order.line_items%}
            
            {% if line_item.fulfillment.tracking_number != null  %}
          
            <td id= "orderRow" data-label="carrier" style="border: 1px solid black;"><span class="total money">{{ line_item.fulfillment.tracking_company}}</span></td>
          
            <td id= "orderRow" data-label="track you order" style="border: 1px solid black;">
            <a class = "summe_money_mobil"  href="http://webtrack.dhlglobalmail.com/?trackingnumber= {{line_item.fulfillment.tracking_number }}" target="_blank" style= "display:none;color:red;text-decoration: underline; cursor: pointer">Click me to Track your Order</a>
            <span class="summe_money" onclick="doTrack('{{line_item.fulfillment.tracking_number }}')" style = "color:red;text-decoration: none; cursor: pointer">Track your Order</span>
            </td>
            
            {%else%}
            <td id= "orderRow" data-label="carrier" style="border: 1px solid black;"><span class="total money">not available</span></td>
            <td id= "orderRow" data-label="track you order" style="border: 1px solid black;"> <span class="total money">not available</span></td>
           {%endif%}
            {% endfor %}
            </tr>
   
             {% endfor %}
             <div id="TRNum"></div>

         </tbody>
    </table>  
    
   <div class="row">
    {% include 'tracking-pixel' %}
    {% else %}
    <h5>{{ 'customer.orders.none' | t }}</h5>
    {% endif %}
    </div>

 <script type="text/javascript" language="javascript">

$(document).ready(function(){
  
  
  $(".offner").click(function(){
      
      if($(this).next().is(":hidden")){ 
        

        $(this).next().slideDown("fast");
        
      }
      else{
         
        $(this).next().hide();
     
      }

    });
});
  
 </script> 
   
        <!--tracking result will be floated on this element--> 
    <!--The button is used to call script method-->
<script type="text/javascript" src="//s.trackingmore.com/plugins/v1/plugins.min.js"></script><script type="text/javascript">// <![CDATA[
function doTrack(num) {
TRACKINGMORE.trackMynumber({
    TR_ElementId:"TRNum",      //Required, Specify float position element ID.
    TR_Width:800,        //Optional, Specify tracking result width, min width 600px, default is filled the container.
    TR_Height:600,       //Optional, Specify tracking result height, max height 800px, default is filled the container.
    TR_ExpressCode: "0",       //Optional, Select carrier, default is auto-identify.
    TR_Lang:"en",        //Optional, Specify UI language, default language is automatically detected based on browser settings.
    TR_Num:num       //Required, Specify number need to be tracked.
});
}
// ]]></script>

<script>

function myFunction(b) {
  
  
    var pop = document.getElementById("myPopup_"+b);
    pop.classList.toggle("show");
    
  
}
</script>