{% layout settings.customer_layout %}

  <div id="admin_header">
    {% comment%}
    <h2>{{ 'customer.addresses.title' | t }}</h2>
    
    {% if customer.last_name == blank%}
     <h2>{{ 'Hi ' }}{{ customer.first_name }}{{ ', ' }}{{ ' this is all about you' }}</h2>
    {%elsif customer.first_name == blank%}
     <h2>{{ 'Hi ' }}{{ customer.last_name }}{{ ', ' }}{{ ' this is all about you' }}</h2>
    {%elsif customer.first_name and customer.last_name == blank%}
    <h2>{{ 'Hi ' }}{{ 'Customer' }}{{ ', ' }}{{ ' this is all about you' }}</h2>
    {%else%}
    <h2>{{ 'Hi ' }}{{ customer.first_name }}{{ ', ' }}{{ ' this is all about you' }}</h2>
    {%endif%}
    {%endcomment%}
    
  </div>

{% include 'accountMenu' %}
{%comment%}
<div id="customer_sidebar" class="desktop-3 mobile-3">
    <div id="customer_detail" class="group">
      <h5 class="name">{{ customer.name }}</h5>
      <p class="email note">{{ customer.email }}</p>
      <div class="address note">
        {% if customer.default_address != nil %}
        <p>{{ customer.default_address.address1 }}</p>
        {% if customer.default_address.address2 != "" %}
        <p>{{ customer.default_address.address2 }}</p>
        {% endif %}
        <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
        <p>{{ customer.default_address.zip}}</p>
        <p>{{ customer.default_address.phone }}</p>
        {% endif %}
        {% comment %}
        <a id="view_address" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
        {%endcomment%}
      </div>

    </div>
  </div>
{%endcomment%}
<br>

<span class="action_link action_new" style="border:1px solid;padding:1em;"><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a></span>

<div id="add_address" class="customer_address edit_address desktop-8 mobile-3" style="display:none;">

      {% form 'customer_address', customer.new_address %}

      <h4 id="add_address_title">{{ 'customer.addresses.add_new' | t }}</h4>

      <table class="customer_address_table">
        <tr>
          <td class="label"><label for="address_first_name_new">{{ 'customer.addresses.first_name' | t }}</label></td>
          <td class="value"><input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_last_name_new">{{ 'customer.addresses.last_name' | t }}</label></td>
          <td class="value"><input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_company_new">{{ 'customer.addresses.company' | t }}</label></td>
          <td class="value"><input type="text" for="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_address1_new">{{ 'customer.addresses.address1' | t }}</label></td>
          <td class="value"><input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_address2_new">{{ 'customer.addresses.address2' | t }}</label></td>
          <td class="value"><input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_city_new">{{ 'customer.addresses.city' | t }}</label></td>
          <td class="value"><input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_country_new">{{ 'customer.addresses.country' | t }}</label></td>
          <td class="value">
            <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
          </td>
        </tr>
        <tr id="address_province_container_new" style="display:none">
          <td class="label"><label for="address_province_new">{{ 'customer.addresses.province' | t }}</label></td>
          <td class="value">
            <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
          </td>
        </tr>
        <tr>
          <td class="label"><label for="address_zip_new">{{ 'customer.addresses.zip' | t }}</label></td>
          <td class="value"><input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_phone_new">{{ 'customer.addresses.phone' | t }}</label></td>
          <td class="value"><input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="value">{{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}</td>
        </tr>
      </table>
      <div class="action_bottom">
        <input class="secondary button" type="submit" value="{{ 'customer.addresses.add' | t }}" />
        <span class="note"><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a></span>
      </div>
      {% endform %}
    </div>

<div id="customer-wrapper" class="desktop-12 mobile-3" style="margin-left:15em;">

<h2 style="margin-top:2em;">{{ 'Your adresses'}}</h2>
  {% paginate customer.addresses by 12 %}

  {% for address in customer.addresses %}

    <div id="view_address_{{address.id}}" class="customer_address desktop-4 mobile-3">
      <h4 class="address_title">
        {{ address.street }} 
        {% if address == customer.default_address %}<span class="default_address note">({{ 'customer.addresses.default' | t }})</span>{% endif %}
      </h4>

      <p class="address_actions">
        {% comment %}
        <span class="action_link action_new"><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a></span>
        {% endcomment%}
        <span class="action_link action_edit">{{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}</span>
        <span class="action_link action_delete">{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</span>
      </p>

      <div class="view_address">
        <p>{{ address.first_name }} {{address.last_name }}</p>
        <p>{{ address.company }}</p>
        <p>{{ address.street }}</p>
        <p>{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</p>
        <p>{{ address.country }} {{ address.zip }}</p>
        <p>{{ address.phone }}</p>
      </div>
    </div>


       


    <div id="edit_address_{{address.id}}" class="customer_address edit_address desktop-8 desktop-push-2 mobile-3" style="display:none;">
      {% form 'customer_address', address %}
      <table class="customer_address_table">
        <tr>
          <td class="label"><label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label></td>
          <td class="value"><input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label></td>
          <td class="value"><input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}</label></td>
          <td class="value"><input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label></td>
          <td class="value"><input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label></td>
          <td class="value"><input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}</label></td>
          <td class="value"><input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_country_{{form.id}}">{{ 'customer.addresses.country' | t }}</label></td>
          <td class="value">
            <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
          </td>
        </tr>
        <tr id="address_province_container_{{form.id}}" style="display:none">
          <td class="label"><label for="address_province_{{form.id}}">{{ 'customer.addresses.province' | t }}</label></td>
          <td class="value"><select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select></td>
        </tr>
        <tr>
          <td class="label"><label for="address_zip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label></td>
          <td class="value"><input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label></td>
          <td class="value"><input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
        </tr>      
        <tr>
          <td class="label"></td>
          <td class="value">{{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}</td>
        </tr>
      </table>
      <div class="action_bottom">
        <input class="secondary button" type="submit" value="{{ 'customer.addresses.update' | t }}" />
        <span class="note"><a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">{{ 'customer.addresses.cancel' | t }}</a></span>
      </div>        
      {% endform %}
    </div>
  {% endfor %}


  <div id="address_pagination">{{ paginate | default_pagination }}</div>  
  {% endpaginate %}


</div>

<!-- Add Address Form -->


    <div id="add_address" class="customer_address edit_address desktop-8 mobile-3" style="display:none;">

      {% form 'customer_address', customer.new_address %}

      <h4 id="add_address_title">{{ 'customer.addresses.add_new' | t }}</h4>

      <table class="customer_address_table">
        <tr>
          <td class="label"><label for="address_first_name_new">{{ 'customer.addresses.first_name' | t }}</label></td>
          <td class="value"><input type="text" id="address_first_name_new" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_last_name_new">{{ 'customer.addresses.last_name' | t }}</label></td>
          <td class="value"><input type="text" id="address_last_name_new" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_company_new">{{ 'customer.addresses.company' | t }}</label></td>
          <td class="value"><input type="text" for="address_company_new" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_address1_new">{{ 'customer.addresses.address1' | t }}</label></td>
          <td class="value"><input type="text" id="address_address1_new" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_address2_new">{{ 'customer.addresses.address2' | t }}</label></td>
          <td class="value"><input type="text" id="address_address2_new" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_city_new">{{ 'customer.addresses.city' | t }}</label></td>
          <td class="value"><input type="text" id="address_city_new" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_country_new">{{ 'customer.addresses.country' | t }}</label></td>
          <td class="value">
            <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
          </td>
        </tr>
        <tr id="address_province_container_new" style="display:none">
          <td class="label"><label for="address_province_new">{{ 'customer.addresses.province' | t }}</label></td>
          <td class="value">
            <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
          </td>
        </tr>
        <tr>
          <td class="label"><label for="address_zip_new">{{ 'customer.addresses.zip' | t }}</label></td>
          <td class="value"><input type="text" id="address_zip_new" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"><label for="address_phone_new">{{ 'customer.addresses.phone' | t }}</label></td>
          <td class="value"><input type="text" id="address_phone_new" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
        </tr>
        <tr>
          <td class="label"></td>
          <td class="value">{{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}</td>
        </tr>
      </table>
      <div class="action_bottom">
        <input class="secondary button" type="submit" value="{{ 'customer.addresses.add' | t }}" />
        <span class="note"><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a></span>
      </div>
      {% endform %}
    </div>


    <!-- End Add Address Form --> 
<script type="text/javascript" charset="utf-8">
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
  {% for address in customer.addresses %}
  new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
                                      {% endfor %}
</script>