{% layout settings.customer_layout %}
<div id="customer-wrapper" class="desktop-12 mobile-3">

  <!-- Left Side -->

  <div id="template" class="desktop-5 mobile-3">

    <!-- Customer Login -->


    <div id="customer" class="desktop-12 mobile-3">
      <div class="template_header">
        <h2>{{ 'customer.login.title' | t }}</h2>
      </div>

      {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <div id="login_email" class="clearfix large_form">
        <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label>
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
      </div>

      {% if form.password_needed %}

      <div id="login_password" class="clearfix large_form">
        <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
        <div id="forgot_password">
          <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
        </div>
      </div>

      {% endif %}

      <div class="action_bottom">
        <input class="secondary button" type="submit" value="{{ 'customer.login.sign_in' | t }}" />
      </div>

      {% endform %}
    </div>


    <!-- End Customer Login -->
    <!-- Password Recovery -->


    <div id="recover-password" class="desktop-12 mobile-3" style='display:none'>
      <div class="template_header">
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>
      </div>

      {% form 'recover_customer_password' %}

      {{ form.errors | default_errors }}

      <div id="recover_email" class="clearfix large_form">
        <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
      </div>

      <div class="action_bottom" >
        <input class="secondary button" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
        <span class="note"><a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a></span>
      </div>

      {% endform %}
    </div>

  </div>

  <!-- End Left Side -->  


  <!-- End Password Recovery -->    
  <!-- Create Account -->    


  <!-- Create Customer -->
  <div id="create-customer" class="desktop-push-2 desktop-5 mobile-3">
    <div class="template_header">
      <h2 class="title">{{ 'customer.register.title' | t }}</h2>
    </div>

    {% form 'create_customer' %}
    {{ form.errors | default_errors }}


    <div id="first_name" class="clearfix large_form">
      <label for="first_name" class="login">{{ 'customer.register.first_name' | t }}</label>
      <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
    </div>

    <div id="last_name" class="clearfix large_form">
      <label for="last_name" class="login">{{ 'customer.register.last_name' | t }}</label>
      <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
    </div>

    <div id="email" class="clearfix large_form">
      <label for="email" class="login">{{ 'customer.register.email' | t }}</label>
      <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
    </div>

    <div id="password" class="clearfix large_form">
      <label for="password" class="login">{{ 'customer.register.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
    </div>
    
    <div id="company" class="clearfix large_form">
      <label for="company" class="login">{{ 'Company' }}</label>
      <input type="company" value="" name="customer[company]" id="company" class="large password" size="30" />
    </div>

    

    <div class="action_bottom" >
      <input class="secondary button" type="submit" value="{{ 'customer.register.submit' | t }}"/>
    </div>
    {% endform %}
  </div>


  <!-- End Create Account -->     

</div>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'inline-block';
    document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
</script>


