<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <!--<![endif]-->
<html lang="en">
<head>
{% include 'geolizr-init' %}
	<!-- IS+ --><script async src="//acp-magento.appspot.com/js/acp-magento.js?v=3&mode=shopify&UUID=15c9f71b-fdbc-42c5-899f-931b6781efdc&store=14546178"></script><!-- IS+ -->

  {% if template == '404' %}<meta http-equiv="refresh" content="0;URL={{ shop.url }}" />{% endif %}
  {% include 'SEOMetaManager' %}
  <script>
    
    {% if customer.tags.size > 0 %}
    window.checkout_hero_customer_tags = "{{customer.tags |join: ','}}";
    {% endif %}
    window.gift_variant_ids = "{{shop.metafields.ch_variant_ids.ch_variant_ids}}";</script>


    {% include 'social-media-tags' %}


  <!-- Meta
  ================================================== -->
  <meta name="google-site-verification" content="Aj6Nw_wahrqd1oY4IR4n614AkNLl2iiAfN2kG0k1ZIQ" />
  <meta name="google-site-verification" content="8YpHrOdw0Ml9qIbiyqn2Ud9b4jlvfqFN7rHJY3z_DaI" />
  <meta name="google-site-verification" content="8elJeowxCAh7WoOW3iZc4Da1gFcsMfbxXAGJYWK2pb8" />
  <meta name="google-site-verification" content="KSTlRtF__eQcbOvUSkWzj9fru1MsTCUR5NZO1Kztgas" />
  <meta name="keywords" content="spices, seasonings, herbs, buy spice online, order spices online, spice store, organic spices, spice kit" />
  <meta name="p:domain_verify" content="8ffcfd3ae66f8fd20f2c3f0385ffd0dc"/>

  <meta http-equiv="content-language" content="en-us">
  {% if template == 'index' %}
  	<link rel="alternate" href="https://www.justspices.com/" hreflang="en" />
    <link rel="alternate" href="https://www.justspices.com/" hreflang="en-us" />
	<link rel="alternate" href="https://www.justspices.de" hreflang="de" />
  {% endif %}
  {% if handle contains 'friends' or handle contains 'personal' or handle contains 'deal_unlocked' or current_tags contains 'savory' or current_tags contains 'sweet' or current_tags contains 'spicy'%}
    <meta name="robots" content="noindex">
  {% endif %}
  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS <link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}" media="none" onload="if(media!='all')media='all'"><noscript><link rel="stylesheet" href="{{ 'stylesheet.css' | asset_url }}"></noscript>
  ================================================== -->
  	 {{ 'stylesheet.css' | asset_url | stylesheet_tag }}
  	 {{ 'layout.css' | asset_url | stylesheet_tag }}
	   {{ 'flexslider.css' | asset_url | stylesheet_tag }}
	   {{ 'jquery.fs.selecter.css' | asset_url | stylesheet_tag }}
	   {{ 'jquery.fancybox.css' | asset_url | stylesheet_tag }}
     {{ 'font-awesome.css' | asset_url | stylesheet_tag }}

  <!--[if IE 7]>
{{ 'ie7.css' | asset_url | stylesheet_tag }}
<![endif]-->

  <!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

  <!-- JS
  ================================================= -->

  {{ 'jquery.min.js' | asset_url | script_tag }}
  	
  {{ 'jquery.fs.shifter.min.js' | asset_url | script_tag }}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {%comment%}
  {{ 'jquery.elevatezoom.js' | asset_url | script_tag }}
  {%endcomment%}
  {{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
  {{ 'jquery.easing.1.3.min.js' | asset_url | script_tag }}
  {{ 'jquery.flexslider.js' | asset_url | script_tag }}
  {{ 'jquery.fs.selecter.min.js' | asset_url | script_tag }}
  {{ 'jquery.placeholder.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.min.js' | asset_url | script_tag }}

{% if template == 'index' %} 
  {{'instafeed.js' | asset_url | script_tag }}
  {{'slick.min.js' | asset_url | script_tag }}
  {{ 'jquery-fancybox_2_1_7.min.js' | asset_url | script_tag }}
{% endif %}
 
  <!--[if (gte IE 6)&(lte IE 8)]>
  {{ 'selectivizr-min.js' | asset_url | script_tag }}
  <![endif]-->

  {{ content_for_header }}

  {% if template contains 'customers' %}
  {{ "shopify_common.js" | shopify_asset_url | script_tag }}
  {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">
  <script type="text/javascript" src="{{ 'instafeed.js' | asset_url }}"></script>.
  <!-- Hits Analytics tracking code -->
  {% if shop.customer_accounts_enabled %}
  {% if customer %}
  <script type="text/javascript">
    function hitsReady() {
      if (typeof hits != 'undefined')
        hits('user','identify', {'id' : '{{ customer.id }}'});
      else
        setTimeout(hitsReady,500);
    }
    window.attachEvent ? window.attachEvent('onload', hitsReady) : window.addEventListener('load', hitsReady, false);
  </script>

  {%else%}
  {% endif %}
  {% endif %}
  <!-- end of Hits Analytics code -->


<!-- Google Analytics-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36612284-4', 'auto');
    ga('require', 'ecommerce');
    ga('ecommerce:send');
    ga('send', 'pageview');
  </script>

{% include 'sca.freegifts' %}
{% include 'scapp-customerinfo' %}
{% include 'nosto-script' with 'shopify-14546178' %}
</head>

<body class="gridlock shifter {% if template == 'index' %}{{ template }}{% endif %}">
{% capture the_snippet_content %}{% include 'socialshopwave-helper' %}{% endcapture %}
            {% unless the_snippet_content contains 'Liquid error' %}
              {{ the_snippet_content }}
            {% endunless %}

  {% include 'notify-bar' %}
<div id="top-bar">
   <div class="row">
      <div class="desktop-12 tablet-6 mobile-3" style = "width: 100%" >
         {%comment%} {{ settings.top_bar_message }} {%endcomment%}

    <!-- TrustBox widget - Review Collector 
         <div class="top-bar-icons" >
          <a calss = "trust" href="https://www.trustpilot.com/review/justspices.com" target="_blank"> <img src="{{'Trustpilot-logo-iloveimg.jpg' | asset_url }}" alt ="trustpilot_logo" style = "padding-left: 2px;border: 1px solid gray"/></a>

        </div>-->
<!--          <div  class="top-bar-icons">
            <img src="{{ 'ssl_small.png' | asset_url }}" alt="ssl_small_logo"/>
         </div> -->
         <div  class="top-bar-icons">
            <img src="{{ 'usda.png' | asset_url }}" alt="usda_small_logo"/>
         </div>
         <div id="top-bar-check">
            <i class="fa fa-car" aria-hidden="true"></i>
            <font face="BrandonGrotesque-Regular" style="font-weight: bold;color: #b3b3b3;font-size: 12px;">FREE SHIPPING ON ORDERS OVER $35</font>
         </div>
         <div id="top-bar-check">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <font face="BrandonGrotesque-Regular" style="font-weight: bold;color: #b3b3b3;font-size: 12px;">
            SECURE PAYMENT
            </font>
         </div>
         <div id="top-bar-check">
            <i class="fa fa-rocket" aria-hidden="true"></i>
            <font face="BrandonGrotesque-Regular" style="font-weight: bold;color: #b3b3b3;font-size: 12px;">
            USDA ORGANIC
            </font>
         </div>
         <div id="top-bar-check">
            <i class="fa fa-heart" aria-hidden="true"></i>
            <font face="BrandonGrotesque-Regular" style="font-weight: bold;color: #b3b3b3;font-size: 12px;">
            NO FLAVOR ENHANCERS
            </font>
         </div>
      </div>
   </div>
</div>

<div id="mobile-header">
   <div class="row">
      <ul id="mobile-menu" class="mobile-3">
         {% if shop.customer_accounts_enabled %}
         <a href="https://www.justspices.com">
         <img src="{{ 'logo_justspices.png' | asset_url }}" alt="{{ shop.name }}" style="width:40px;float:left;margin-top: -1em;"/>
           <img src="{{ 'usda.png' | asset_url }}"style="width:40px;float:left;margin-top: -1em;margin-left: 1em;"/ alt="{{ shop.name }}">
        </a>
         <li>
           <a href="https://yummy.justspices.com/guides"><i class="fa fa-book"></i></a>
         </li>
        {% if customer %}
         <li style="margin-right: -2em;">
            <a href="/account"><i class="fa fa-user"></i></a>

         <li>
            <a href="/account/logout"><i class="fa fa-user-times"></i></a>
         </li>
         {% else %}
         <li style="margin-bottom:2.4em">
            <a href="/account/login"><i class="fa fa-user"></i></a>
         </li>
         {% endif %} {% endif %}
         <li>
            <a href="/cart"><i class="fa fa-shopping-cart"></i> <span class="cart-count">{{ cart.item_count }}</span></a>
         </li>
         <li>
            <span class="shifter-handle">Menu</span>
         </li>
      </ul>
   </div>
   <hr />
</div>

<div class="shifter-page">
	<div id="wrapper">
		<div id="header" class="row">
			<div id="search" class="desktop-5 tablet-2 mobile-hide">
    			<form action="/search" method="get">
        			<i class="fa fa-search" style="color: #969696;"></i>
        			<input type="text" name="q" id="searchfeld" class="search-field" placeholder="Enter search" />
        			<div style="width:25em; height:1em;border:solid 3px #000;border-color:grey transparent transparent transparent;border-radius: 50%/1em 1em 0 0;"></div>
    			</form>
			</div>
			<div id="logo" class="desktop-2 tablet-2 mobile-3 mobile-hide" >
                {% if settings.use_logo_image %}
                <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" width="125px" style="border: 0;"/></a>
                {% else %}
                <a href="/">{{ shop.name }}</a>
                {% endif %}
			</div>
<!-- Eingeloggter Kunde -->
          
          <ul id="cart" class="desktop-5 tablet-2 mobile-hide">
            {% if shop.customer_accounts_enabled %}
         	{% if customer  %}
<!-- Account/Einkaufwagen icons-->
			<li class="hoverme">
                <a href="https://yummy.justspices.com/guides">
                  <i class="fa fa-book" aria-hidden="true" style="font-size:2.5em;margin-top:0.5em;margin-right: 1em;color:#969696;"></i>
                </a>
                <a href="/account">
                  <i class="fa fa-user" aria-hidden="true" style="font-size:2.5em;margin-top:0.5em;margin-right: 2.08em;color:#969696;"></i>
                </a>
                  <span>
                    <a href="/cart" >
                      <i  id = "shopping-cart" class="fa fa-shopping-cart fa-custom-icon-2"  aria-hidden="true" style="font-size:2.3em;margin-top:0.5em;color:#969696;"></i>
                      <div id="miniCart" >
                        {% include 'miniCart' %}
                      </div>
                      <script>
                      </script>
                    </a> </span>
                    <span class="cart-count">{{ cart.item_count }}</span>
                  </li>
<!-- Text reihe -->
                  <li class="hoverme">
              		<a href="https://yummy.justspices.com/guides"  class="uppercaseGray">{{ 'GUIDES' }} </a>
                    {% capture the_snippet_auth %}{% include 'ssw-widget-auth-dropdown' %}{% endcapture %}
                    {% if the_snippet_auth contains 'Liquid error' %}
                    {% else %}
                    {{ the_snippet_auth }}
                    {% endif %}
                    <span>
                      <a href="/cart"  class="uppercaseGray" style="margin-left: 1.5em;margin-right: 1em;">{{ 'Cart' }}</a>
                    </span>
                  </li>
              {% else %}
<!-- Nicht eingelogger Kunde -->
<!--Icon reihe-->
               <li class="hoverme">
                <a href="https://yummy.justspices.com/guides">
                  <i class="fa fa-book" aria-hidden="true" style="font-size:2.5em;margin-top:0.5em;margin-right: 2.08em;color:#969696;"></i>
                </a>
                <a href="/account">
                  <i class="fa fa-user" aria-hidden="true" style="font-size:2.5em;margin-top:0.5em;margin-right: 2.08em;color:#969696;"></i>
                </a>
                  <span>

                      <i  id = "shopping-cart" class="fa fa-shopping-cart fa-custom-icon-2"  aria-hidden="true" style="font-size:2em;margin-top:0.5em;color:#969696;"></i>

                      <div id="miniCart" >
                        {% include 'miniCart' %}
                      </div>



                 </span>
                    <span class="cart-count">{{ cart.item_count }}</span>
                </li>
<!-- Text reihe -->
                  <li class="hoverme">
              		<a href="https://yummy.justspices.com/guides"  class="uppercaseGray" style="margin-right:0em;">{{ 'GUIDES' }}</a>
                    {% capture the_snippet_auth %}{% include 'ssw-widget-auth-dropdown' %}{% endcapture %}
                    {% if the_snippet_auth contains 'Liquid error' %}
                    {% else %}
                    {{ the_snippet_auth }}
                    {% endif %}
                    <span>
                      <a href="/cart" class="uppercaseGray" style="margin-left: 1.5em;margin-right: 1em;">{{ 'Cart' }}</a>
                    </span>
                  </li>
                  {% endif %}
                  {% endif %}
                </ul>
              </div>
<!-- End Header -->
              <div class="clear"></div>
                <div class="popup" data-popup="popup-1" >
              <div class="popup-inner">
               <img style = "width: 100%;" src="{{ 'germany_popup_mobile.jpg' | asset_url }}" alt="{{ shop.name }} |  Clean Eating Guide "/>
                <div class = "pragraph" style= "margin-bottom:6em">
                  <h2>Du suchst unseren deutschen Online Shop?</h2>
                </div>
                <a href="https://www.justspices.de" style="color:white;font-size:16px;">
                	<button class = "popupbtn" data-popup-btnclose="popup-1">→ Hier geht’s lang</button>
				</a>
              <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
              </div>
              </div> 
              <div class="row">

<!--Navigation bei Produkten -->
<div class="nav2" style="width:100%;">
     <div class="nav2Container" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
       <div id="uebersicht" >
     <a href ="/collections/all-1" style="margin-right:2em;">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> DISCOVER OTHER SPICES
       </a>
         <a href ="/cart">
      VIEW SHOPPING CART<i class="fa fa-chevron-right" aria-hidden="true"></i>
       </a>
       </div>
{%if product.title == "Gift Card" %}
<div id="preisUndButton" style="opacity:0;">
    <p id="product-price" style="margin-top: 1.2em;">
        {% if product.available %} {% if product.compare_at_price > product.price %}
        <span class="product-price" itemprop="price">{{ product.price | money }}</span>&nbsp;<span class="was">{{ product.compare_at_price | money }}</span> {% else %}
        <span class="product-price" itemprop="price">{{ product.price | money }}</span> {% endif %} {% else %}
        <span class="product-price" itemprop="price">Sold Out</span> {% endif %}
    </p>

    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

    <form method="post" action="/cart/add" style="width: 20%;float: right;position: relative;">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <input type="submit" style="margin-top:.8em;" class="fbAddToCart" value="BUY NOW" id="product_button" onclick="myFunction()" />
    </form>
</div>
{%else%}
<div id="preisUndButton">
    <p id="product-price-nav2">
        {% if product.available %} {% if product.compare_at_price > product.price %}
        <span class="product-price" itemprop="price">{{ product.compare_at_price | money }}</span> {% else %}
        <span class="product-price" itemprop="price">{{ product.price | money }}</span> {% endif %} {% else %}
        <span class="product-price" itemprop="price">Sold Out</span> {% endif %}
    </p>

    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

    <form method="post" action="/cart/add" style="width: 20%;float: right;position: relative;">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <input type="submit" style="margin-top:.8em;" class="fbAddToCart" value="BUY NOW" id="product_button" onclick="myFunction()" />
    </form>
</div>
{%endif%}
</div>
</div>

<!--Normale Navigation -->
                <div id="nav">
                  <nav class="navigation desktop-12" style="height:4.5em;background-color: rgba(255,255,255,1);">
                    <ul class="nav">

                      {% for link in linklists.main-menu.links %}
                      {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                      {% capture linkurl %}{{ link.url }}{% endcapture %}
                      {% capture child_list_handle %}{{ link.title | handleize }}{% endcapture %}
                      {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}


                      <i class="fa fa-chevron-down" aria-hidden="true"></i>

                      <li class="dropdown">{{ link.title | link_to: link.url }}
                        <ul class="submenu">
                          <li><a href = "https://www.justspices.com/pages/mission"><span class ="fa fa-fighter-jet"></span>our Story</a></li>
                          <li><a href = "https://www.justspices.com/pages/quality-packaging"><span class ="fa fa-thumbs-up"></span>Quality</a></li>
                          <li><a href = "https://www.justspices.com/pages/Packaging"><span class ="fa fa-codepen"></span>Packaging</a></li>
                          <li><a href = "https://www.justspices.com/pages/team"><span class ="fa fa-users"></span>Team</a></li>
                        </ul>
                      </li>
                   <div id="viewCart" style="text-align: right;margin-top: -2em;display:none;">
                    <a href ="/cart">
                      <span class="cart-count" style="margin-left:1em;">{{ cart.item_count }}</span>
      						VIEW SHOPPING CART<i class="fa fa-chevron-right" aria-hidden="true"></i>
       				</a>
                   </div>
                      {% else %}
                      <li>{{ link.title | link_to: link.url }}</li>
                      {% endif %}
                      {% endfor %}
                    </ul>

                  </nav> <!-- End Navigation -->
                </div>
              </div>


              <div class="clear"></div>

              {% if template contains 'collection' %}
              {% if collection.description contains '[banner]' %}
              {% capture banner %}{{ collection.handle }}.jpg{% endcapture %}
              {% capture alt %}{{ collection.title }}{% endcapture %}
               <div class="collection-banner">
                <img src="{{ banner | file_url }}" alt="{{ collection.title }}">
              </div>
              {% endif %}
              {% endif %}
      <!--Hintergrundfarbe bei Produkt Detail Seite-->
			{% if template == 'product' %}
      		<div id="hintergrundfarbe" style="overflow:hidden;background-color:#F0F0F0;">
        	{%endif%}

              <div id="content"{% if template != 'index' %} class="row"{% endif %}>

                {% if template != "index" %}
                {% if settings.breadcrumb %}
                {% include 'breadcrumb' %}
                {% endif %}
                {% endif %}

                {{ content_for_layout }}

              </div> <!-- End Content -->
			</div>

              <div class="clear"></div>
<!--Custom Startseite-->
              {% if template == 'index' %}

              <div class="clear"></div>
              <div id="ideeJustSpices">
                {% include 'ideeJustSpices'%}
              </div>

              <div class="clear"></div>
            <div id="hintergrundfarbe" style="overflow:hidden;background-color:#f8f8f8;">
              <div id="dreitexteUnterCollage" class="mobile-hide">
                {% include 'alleDreiZusammen'%}
              </div>
              <div class="collection-banner">
                <div id ="collection-banner-bild">
                  <p style="color:rgb(151, 151, 151);margin-bottom: 1em;
                  text-transform: uppercase;"> In the Press </p>
                  <img src="{{ 'featured_in_2400x82.png' | asset_url }}" alt="JUSTSPICES | in the press partners" />
                </div>
              </div>
            </div>
              {% endif %}
            </div> <!-- End wrapper -->
  		</div>


<!--Custom Produktseite -->
{% if template == 'product' %}
		<div id="produktBeschreibung" class="desktop-12">
              {% include 'produktBeschreibung' %}
            </div>
          <div class="clear"></div>
{% include 'nutritionFacts' %}
          <div id="zutaten">
  {% include 'zutaten' %}
         </div>

         <div class="clear"></div>

         <div id="rezept" class="row">
          {% include 'rezept' %}
        </div>
        <div class="clear"></div>
<!--Cross-sell -->

            	{% include 'crossSell' %}

{%endif%}
{% if template == 'cart' %}
  <!--Cross-sell -->

            	{% include 'crossSell' %}

  {%endif%}


<!--footer-->
    <div id="footer">
      <div class="container row">
 <div id="big-footer" class="desktop-12">


<!--Newsletter -->
          <div class="desktop-4 tablet-2 mobile-3 subscrib" style  = "text-align:left">
           <h3 id="saveFirstDelivery">Subscribe to our newsletter!</h3>
            <table>
             	<tr class="newsletterParag">
           			<td>❤️</td> 
                  	<td>For the spiciest deals</td>
   				</tr>
              	<tr class="newsletterParag">
             		<td>❤️</td> 
                  	<td>For delicious recipes straight from the Just Spices kitchen</td>
            	</tr>
            	<tr class="newsletterParag">
             		<td>❤️</td> 
                  	<td>For the newest guides full of recipes, tips & tricks!</td>
        		</tr>
            </table>
         </div>
         <div class="desktop-4 tablet-2 mobile-3 mailing" style  = "text-align:left">
            {% include 'mailing' %}
          </div>
        </div>
        {% if template == 'index' %}
        <section class="homepage-section">
        </section>
        {% endif%}
<!-- Footer Menü -->
        <div id="big-footer_under" class="desktop-4 tablet-2 mobile-3 alpha">
          <ul>
            <li style="font-size:16px;margin-left: 0.6em;
            margin-bottom: 1em;">SHOP</li>
            <li><a href="/collections/all-1">SPICES</a></li>
            <li><a href="/collections/collections">SETS</a></li>
            <li><a href="/collections/gift-card">GIFT CARD</a></li>
          </ul>

          <ul>
            <li style="font-size:16px;margin-left: 0.6em;
            margin-bottom: 1em;">SERVICE</li>
            <li><a href="/pages/help">HELP</a></li>
            <li><a href="/pages/contact">CONTACT</a></li>
            <li><a href="/pages/delivery">DELIVERY</a></li>
            <li><a href="/pages/payment">PAYMENT</a></li>
            <li><a href="/pages/press">PRESS</a></li>
          </ul>

          <ul>
            <li style="font-size:16px;margin-left: 0.6em;
            margin-bottom: 1em;">ABOUT</li>
            <li><a href="/pages/mission">MISSION</a></li>
            <li><a href="/pages/quality-packaging">QUALITY</a></li>
            <li><a href="/pages/packaging">PACKAGING</a></li>
            <li><a href="/pages/team">TEAM</a></li>
            <li><a href="/blogs/news">BLOG</a></li>
          </ul>

          <ul>
            <li style="font-size:16px;margin-left: 0.6em;
            margin-bottom: 1em;">CUSTOMER SUPPORT</li>
            <li><a href="/pages/security">COPYRIGHT POLICY</a></li>
            <li><a href="/pages/privacy">PRIVACY</a></li>
            <li><a href="/pages/terms-and-conditions">TERMS AND CONDITIONS</a></li>

          </ul>
        </div>



<!-- Footer Contact -->

        <div id="contact" class="desktop-4 tablet-2 mobile-3 alpha">
          <p style="color:#737373;font-size:22px;"> {{' Contact Us' }} </p>
          <p style="color:#737373;display:none;"> {{' Tel: 424 527 7955' }} </p>
          <p style="color:#737373"> {{'amy@justspices.com' }} </p>
          <p style="color:#737373;"> {{'E-mail Us anytime!<br> We will respond within 24 hours.'}} </p>
        </div>

<!-- Footer Socuial Icons-->
        <div id="social-icons" class="desktop-4 tablet-2 mobile-3 omega">
          <h4 style="color:#AAAAAA;font-size:18px"> SHARE YOUR LOVE </br> #justspiceit</h4>
            {% if settings.show_facebook %}<a href="{{ settings.facebook_url }}" target="_blank"><img class="fa fa-pinterest" src="{{ 'facebook-seeklogo.com.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></a>{% endif %}
            {% if settings.show_twitter %}<a href="{{ settings.twittername }}" target="_blank"><img class="fa fa-pinterest" src="{{ 'twitter-logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></a>{% endif %}
            {% if settings.show_pinterest %} <a href="{{ settings.pinterest_url }}" target="_blank"><img class="fa fa-pinterest" src="{{ 'pinterest-seeklogo.com.svg' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></a>{% endif %}
            {% if settings.show_tumblr %} <a href="{{ settings.tumblr_url }}" target="_blank"><i class="fa fa-tumblr"></i></a>{% endif %}
            {% if settings.show_flickr %} <a href="{{ settings.flickr_url }}" target="_blank"><i class="fa fa-flickr"></i></a>{% endif %}
            {% if settings.show_youtube %} <a href="{{ settings.youtube_url }}" target="_blank"><i class="fa fa-youtube"></i></a>{% endif %}
            {% if settings.show_googleplus %} <a href="{{ settings.googleplus_url }}" target="_blank"><i class="fa fa-google-plus"></i></a>{% endif %}
            {% if settings.show_vimeo %} <a href="{{ settings.vimeo_url }}" target="_blank"><i class="fa fa-vimeo-square"></i></a>{% endif %}
            {% if settings.show_rss %} <a href="{{ shop.url }}/blogs/news.atom" target="_blank"><i class="fa fa-rss"></i></a>{% endif %}
            {% if settings.show_linkedin %} <a href="{{ settings.linkedin_url }}" target="_blank"><i class="fa fa-linkedin"></i></a>{% endif %}
            {% if settings.show_instagram %} <a href="//instagram.com/{{ settings.instagram_name }}" target="_blank"><img class="fa fa-pinterest" src="{{ 'Instagram-logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo"></a>{% endif %}
          </div>
      </div>
<!--   </div> -->

  {% include 'mobile-navigation' %}

  {% if settings.evil-popup %}
  <script type="text/javascript">

    // Fancybox Join our mailing list popup
    $(document).ready(function(){
      var check_cookie = $.cookie('mailing_list_popup');
      if(check_cookie == null){
        $.cookie('mailing_list_popup', 'expires_three_days', { expires: 3 });
        //fire your fancybox here
        $.fancybox({
          href: "#subscribe_popup"
        });
      }
    });

  </script>

  <div style='display:none'>
    <div id='subscribe_popup'>
      {% if settings.email_popup_image %}<p><img src="{{ 'popup-image.jpg' | asset_url }}" alt="popup-image"></p>{% endif %}
      <p class="box-title">{{ 'layout.footer.signup' | t }}<p>
        <!-- BEGIN #subs-container -->
        <div id="subs-container" class="clearfix">
          <div id="mc_embed_signup">
            <form action="{{ settings.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <input value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" required="" type="email" >
              <input value="{{ 'general.newsletter_form.submit' | t }}" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  {% include 'ajaxify-cart' %}

    <!-- Begin Recently Viewed Products -->
    {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
    {{ 'jquery.products.min.js' | asset_url | script_tag }}
    {% if template contains 'product' %}
    <script>
      Shopify.Products.recordRecentlyViewed();
    </script>
    {% endif %}
    <!-- End Recently Viewed Products -->




    {% if template != 'cart' %}
    <script>
      $(function(){
        function hideCHVariants() {
          setTimeout(function() {
            {% for variant in product.variants %}
            {% if variant.title contains "(CH GIFT)" %}
            $('select option').filter(function() {
              return $(this).text().indexOf({{ variant.option1 | json }}) !== -1;
            }).remove();
            $('div, label,ul li, .dropdown *').filter(function(){
              var snippet = $(this).html();
              var val = $(this).data('value');
              return (snippet  && (snippet == {{ variant.option1 | json }})) || (val && (val.indexOf({{ variant.option1 | json }}) !== -1));
            }).remove();
            {% endif %}
            {% endfor %}

            $('div, label,ul li, .dropdown *').filter(function() {
              return ($(this).data('value') == 'Default Title');
            }).hide();
            $('select option').filter(function() {
              return $(this).text() == 'Default Title';
            }).hide();

            $.each($('.single-option-selector'), function(i, val) {
              var option = $(val).find('option');
              if (option.length <= 1) {
                if (option.first().length && option.first().text().indexOf(defaultTitleText) != -1) {
                  $(val).hide();
                }
              }
            });

            $('.single-option-selector').trigger('change');
          }, 100);
        }
        hideCHVariants();
      });
    </script>
    {% endif %}

    
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<!-- Dynamic Remarketing -->
{% include 'adwords-remarketing' %}

<!-- Stick the #nav to the top of the window -->
{% if template contains 'product' %}
  <script>
   /* $(function() {
        var nav = $('#nav');
        var nav2 = $('.nav2');
        var navHomeY = nav.offset().top;
        var isFixed = false;
        var $w = $(window);

        $w.scroll(function() {
            var scrollTop = $w.scrollTop();
            var shouldBeFixed = scrollTop > navHomeY;
            if (shouldBeFixed && !isFixed) {

                nav2.slideDown();
                nav.hide();

                nav2.css({
                    position: 'fixed',
                    top: 0,
                    left: 0,


                });

                isFixed = true;
            } else if (!shouldBeFixed && isFixed) {
                nav2.hide();
                nav.show();


                nav.css({
                    position: 'static',
                    width: nav.width()
                });


                isFixed = false;
            }
        });
    });
*/
</script>

{%endif%}
  
 {{ 'theme.js' | asset_url | script_tag }}
 {% include 'tracking-pixel' %}
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END -->{% include 'geolizr-redirect' %}{% include 'geolizr-notification' %}</body>
</html>