/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.flex-direction-nav a:hover { text-decoration: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('flexslider-icon.eot');
	src:url('flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('flexslider-icon.woff') format('woff'),
		url('flexslider-icon.ttf') format('truetype'),
		url('flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider { margin: 0; padding: 0; overflow: hidden;}
.flexslider .slides > li { position: relative; display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.flex-caption {
  position: absolute;
  top: 45%;
  width: 70%;
  left: 50%;
  text-align: {{ settings.caption-alignment }};
  margin-left: -35%;
  z-index: 3;
  line-height: 2em;
}

.flex-caption p.title { 
  font-family: {{ settings.title-font }};
  font-size: {{ settings.title-size }};
  color: {{ settings.title-color }};
  font-weight: {{ settings.title-weight }};
}

.flex-caption p.caption { 
  font-family: {{ settings.caption-font }};
  font-size: {{ settings.caption-size }};
  color: {{ settings.caption-color }};
  font-weight: {{ settings.caption-weight }};
  margin:  0 0 20px 0;
}

.flexslider .readmore {
  z-index: 4; 
  text-align: {{ settings.caption-alignment }};
}

.flexslider .readmore a { color: {{ settings.caption-color }}! important; text-shadow: 1px 1px 3px #000; text-transform: uppercase; font-size: 14px; background: transparent! important; border: 2px solid #fff! important; }


/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0; font-family: FontAwesome; font-size: 50px; text-shadow: none; }
.flex-direction-nav a  { display: block; line-height: 50px; width: 40px; height: 50px; margin: -25px 0 0; position: absolute; top: 50%; z-index: 2; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0, 0, 0, 0.5); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }

.flex-direction-nav .flex-prev:before {content:"\f104";}
.flex-direction-nav .flex-prev { width: 50px; height: 50px; left: -50px; }

.flex-direction-nav .flex-next:before {content:"\f105";}
.flex-direction-nav .flex-next { width: 50px; height: 50px; right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px;}
.flexslider:hover .flex-next { opacity: 0.7; right: 10px;  }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}