div#ssw-avg-rate-profile-html {
    text-align: center;
}
div#widget-fave-html {
    text-align: center;
    margin-bottom: 15px;
}

.ssw-fave-btn.ssw-faveappbtn.ssw-faveappbtn-counter.ssw-faveappbtn2 {
    margin-right: 0;
    line-height: 3;
    text-align: center;
    min-width: 50%;
}
div#widget-askfriends-html {
    text-align: center;
    margin: 10px auto;
    margin-bottom: 20px;
    clear: both;
    display: block;
    width: 100%;
    float: left;
}
div#soc {
    clear: both;
    text-align: right;
    margin: 15px 0;
    width: 100%;
    float: left;
}
span.ssw-auth-dropdown {
    margin-right: 10px;
    text-transform: uppercase;
}
.ssw-auth-dropdown ul.ssw-dropdown-menu > li {
    margin-bottom: 20px;
}
.ssw-auth-dropdown .ssw-dropdown-menu {
    padding: 38px 20px 16px !important;
} 

.ssw-add-recommend a#add_recommend{
  padding: 10px 15px;
}

.ssw-faveiticon {
    position: absolute;
    background: transparent;
    right: 0;
    z-index: 4;
}

form#ssw-wishlist-save-form button.btn {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 0.4;
}
