/*
* Vantage Shopify Theme
* Copyright 2015, Underground Mediacart-count
* www.undergroundmedia.co.uk
* Gridlock - A CSS responsive grid system [12 column - Desktop standard]
* @author Ben Plum
* @version 0.2.0
*
* Copyright © 2013 Ben Plum <mr@benplum.com>sub
* Released under the MIT License <http://www.opensource.org/licenses/mit-license.php>
*/

/* !Reset Box-sizing */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; *behavior: url(boxsizing.htc); }

/* !Defaults .gridlock .row [class*="desktop-"] { float: left; margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }*/
.gridlock .row { margin-left: auto; margin-right: auto; width: 960px; /* Fallback */ }
.gridlock .row:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.gridlock .row .row { margin-left: -1.0416666666666667%; margin-right: -1.0416666666666667%; width: 102.0833333333333334%; }
.gridlock .row [class*="desktop-"] { float: left; margin-left: .5%; margin-right: .5%; }
.gridlock .row [class*="desktop-"].right { float: right; }
.gridlock .row [class*="desktop-"].padded { margin-left: 0; margin-right: 0; padding-left: 1.0416666666666667%; padding-right: 1.0416666666666667%; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; *behavior: none; }

/* !Rows, Widest to Thinest */	
@media screen and (min-width: 981px) {
  .desktop-hidden { display:none;}
}

@media screen and (min-width: 1220px) {
  .gridlock .row { width: 960px; }
  .desktop-hidden { display:none;}
  
}
@media screen and (max-width: 1220px) {
  .gridlock .row { width: 960px; }
  
}
@media screen and (max-width: 980px) {
  .gridlock .row { width: 720px; }
  
}
@media screen and (max-width: 740px) {
  .gridlock .row { width: 92%; }
  
}
@media screen and (max-width: 500px) {
  .gridlock .row { width: 96%; }
  
}
@media screen and (min-width: 1400px) {
  .gridlock .row { width: 1220px; }
  
}

/* !Desktop - Default, 12 column, 1220 + 960 (min 980), IE Standard */
.gridlock .row .desktop-1  { width: 6.25%; }
.gridlock .row .desktop-2  { width: 14.5833333333333333%; }
.gridlock .row .desktop-3  { width: 22.9166666666666667%; }
.gridlock .row .desktop-4  { width: 31.25%; }
.gridlock .row .desktop-5  { width: 39.5833333333333333%; }
.gridlock .row .desktop-6  { width: 47.9166666666666667%; }
.gridlock .row .desktop-7  { width: 56.25%; }
.gridlock .row .desktop-8  { width: 64.5833333333333333%; }
.gridlock .row .desktop-9  { width: 72.9166666666666667%; }
.gridlock .row .desktop-10 { width: 81.25%; }
.gridlock .row .desktop-11 { width: 89.5833333333333333%; }
.gridlock .row .desktop-12 { width: 97.9166666666666667%; }


/* Push Cells */
.gridlock .row .desktop-push-1  { margin-left: 9.375%; }
.gridlock .row .desktop-push-2  { margin-left: 17.7083333333333333%; }
.gridlock .row .desktop-push-3  { margin-left: 26.0416666666666667%; }
.gridlock .row .desktop-push-4  { margin-left: 34.375%; }
.gridlock .row .desktop-push-5  { margin-left: 42.7083333333333334%; }
.gridlock .row .desktop-push-6  { margin-left: 51.0416666666666667%; }
.gridlock .row .desktop-push-7  { margin-left: 59.375%; }
.gridlock .row .desktop-push-8  { margin-left: 67.7083333333334%; }
.gridlock .row .desktop-push-9  { margin-left: 76.0416666666668%; }
.gridlock .row .desktop-push-10 { margin-left: 84.375%; }
.gridlock .row .desktop-push-11 { margin-left: 92.7083333333335%; }

/* Center Cells */
.gridlock .row [class*="desktop-"].center { margin-left: auto; margin-right: auto; }

/* !Generic, fractions */
.gridlock .row .desktop-third { width: 31.25%; }
.gridlock .row .desktop-half { width: 47.9166666666666667%; }
.gridlock .row .desktop-full { width: 97.9166666666666667%; }

.gridlock .row .desktop-push-third { margin-left: 34.375%; }
.gridlock .row .desktop-push-half { margin-left: 51.0416666666666667%; }

/* !Desktop - Max, 12 column, 1200 (min 1221) */
@media screen and (min-width: 1221px) {
  .gridlock .row .max-1  { width: 6.25%; }
  .gridlock .row .max-2  { width: 14.5833333333333333%; }
  .gridlock .row .max-3  { width: 22.9166666666666667%; }
  .gridlock .row .max-4  { width: 31.25%; }
  .gridlock .row .max-5  { width: 39.5833333333333333%; }
  .gridlock .row .max-6  { width: 47.9166666666666667%; }
  .gridlock .row .max-7  { width: 56.25%; }
  .gridlock .row .max-8  { width: 64.5833333333333333%; }
  .gridlock .row .max-9  { width: 72.9166666666666667%; }
  .gridlock .row .max-10 { width: 81.25%; }
  .gridlock .row .max-11 { width: 89.5833333333333333%; }
  .gridlock .row .max-12 { width: 97.9166666666666667%; }

  /* Push Cells */
  .gridlock .row .max-push-1  { margin-left: 9.375%; }
  .gridlock .row .max-push-2  { margin-left: 17.7083333333333333%; }
  .gridlock .row .max-push-3  { margin-left: 26.0416666666666667%; }
  .gridlock .row .max-push-4  { margin-left: 34.375%; }
  .gridlock .row .max-push-5  { margin-left: 42.7083333333333334%; }
  .gridlock .row .max-push-6  { margin-left: 51.0416666666666667%; }
  .gridlock .row .max-push-7  { margin-left: 59.375%; }
  .gridlock .row .max-push-8  { margin-left: 67.7083333333334%; }
  .gridlock .row .max-push-9  { margin-left: 76.0416666666668%; }
  .gridlock .row .max-push-10 { margin-left: 84.375%; }
  .gridlock .row .max-push-11 { margin-left: 92.7083333333335%; }
  .desktop-hidden { display:none;}
}

/* !Tablet, 6 column, 720 (min 739) */
@media screen and (min-width: 739px) and (max-width: 980px) {
  .gridlock .row [class*="desktop-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }

  .gridlock .row .tablet-1 { width: 14.5833333333333333%; }
  .gridlock .row .tablet-2 { width: 31.25%; }
  .gridlock .row .tablet-3 { width: 47.9166666666666667%; }
  .gridlock .row .tablet-4 { width: 64.5833333333333333%; }
  .gridlock .row .tablet-5 { width: 81.25%; }
  .gridlock .row .tablet-6 { width: 97.9166666666666667%; }

  /* Push Cells */
  .gridlock .row .tablet-push-1 { margin-left: 17.7083333333333333%; }
  .gridlock .row .tablet-push-2 { margin-left: 34.375%; }
  .gridlock .row .tablet-push-3 { margin-left: 51.0416666666666667%; }
  .gridlock .row .tablet-push-4 { margin-left: 67.7083333333334%; }
  .gridlock .row .tablet-push-5 { margin-left: 84.375%; }

  /* !Generic, fractions */
  .gridlock .row .tablet-third { width: 31.25%; }
  .gridlock .row .tablet-half { width: 47.9166666666666667%; }
  .gridlock .row .tablet-full { width: 97.9166666666666667%; }

  .gridlock .row .tablet-push-third { margin-left: 34.375%; }
  .gridlock .row .tablet-push-half { margin-left: 51.0416666666666667%; }
  
  .desktop-hidden { display:none;}
}

/* !Mobile, 3 column, 300 + 480 (max 740) */
@media screen and (max-width: 740px) {
  .gridlock .row [class*="desktop-push-"], 
  .gridlock .row [class*="tablet-push-"] { margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }

  .gridlock .row .mobile-1 { width: 31.25%; }
  .gridlock .row .mobile-2 { width: 64.5833333333333333%; }
  .gridlock .row .mobile-3 { width: 97.9166666666666667%; }
  .mobile-hidden	{	display:none;	}
  /* Push Cells */
  .gridlock .row .mobile-push-1 { margin-left: 34.375%; }
  .gridlock .row .mobile-push-2 { margin-left: 67.7083333333334%; }

  /* !Generic, fractions */
  .gridlock .row .mobile-third { width: 31.25%; }
  .gridlock .row .mobile-half { width: 47.9166666666666667%; }
  .gridlock .row .mobile-full { width: 97.9166666666666667%; }

  .gridlock .row .mobile-push-third { margin-left: 34.375%; }
  .gridlock .row .mobile-push-half { margin-left: 51.0416666666666667%; }
}

/* !Mobile - Min, 300 (max 500) */
@media screen and (max-width: 500px) {
  .gridlock .row .min-full { width: 97.9166666666666667%; }
}

* {
  margin: 0;
}


html, body {
  height: 100%;
}

img { max-width: 100%; border: 0; margin-bottom:em}

.first { clear: left; }

/* Font-sizes */
.fs-16{
  font-size:16px;
}
.fs-18{
  font-size:18px;
}
.fs-20{
  font-size:20px;
}
.fs-22{
  font-size:22px;
}
.fs-24{
  font-size:24px;
}
.fs-40{
 font-size:40pt; 
} 
.fs-50{
 font-size:50pt; 
} 

/* #Base Styles
================================================== */


.daftBrush{
  font-family: "DaftBrush",sans-serif;
}
.slider-dosen-faces div{
   		margin:10px 10px 10px 6px;
  }
  .start{
    	box-shadow: 0 0 10px 0 rgba(0,0,0,0.69);
  }
  .textonfaces{
    	position: absolute;
    	width: 50%;
    	text-align: center;
  }
  .slider-faces h2{
    	font-family: "DaftBrush",sans-serif;
    	font-size: 40pt;
    	line-height: 44pt;
    	padding-bottom: 20px;
    	color: white !important;
    	margin-top: 10px;
    	margin-bottom: 10px;
  }
  .slider-faces p{
    	font-family: "BrandonText-Regular",sans-serif;
    	font-size: 17.5px;
    	line-height: 20pt;
    	color: #ffffff;
    	margin-bottom: 1.5em;
    	padding: 0 1em 0 1em;
  }
  .price-box{
   		border: 3px solid #FFFFFF;
    	background-color: transparent;
    	padding: 0.5em 1em 0.5em 1em;
    	font-size: 20px;
    	color: white;
  }
  .price-box:hover{
    	color:black;
}
  .facesh2{
  		text-align: center;
    	font-family: "DaftBrush",sans-serif;
    	font-size: 40pt;
    	line-height: 44pt;
    	margin-bottom: .5em;
    	margin-top: .5em;
    	text-transform: uppercase;
  }
  @media (min-width:1600px){
  	 .slider-faces p{
      	font-size:22pt; 
     }
  }
  @media (max-width:500px){
  	.slider-faces h2{
    	font-size: 22pt;
  	}
    .textonfaces{
      	position: initial;
    	width: 100%;
    	height: 6em;
    	display: inline-block;
    	overflow: hidden;
    }
    .price-box{
     	color:black; 
      	border: 3px solid black;
    }
    .readmoreless{
     	text-align:center; 
    }
    .readless{
     	display:none;
      	padding: 2em;
    }
    .slider-faces-mobile .slick-dots{
     	top: -25px;
    	bottom: inherit;
    }
    .slider-faces-mobile p{
    	font-family: "BrandonText-Regular",sans-serif;
    	font-size: 15pt;
    	line-height: 20pt;
    	color: black;
    	margin-bottom: 1.5em;
    	padding: 0 1em 0 1em;
  	}
    .facesh2{
      	font-size: 24pt;
    }
  
  }
  

body {
  background: #ffffff ;
  font-family:BrandonText-Regular;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #000000;
  line-height: 1.6em;
  font-weight: 300;
  /*-moz-transform: scale(0.9);
  margin-top:-2em;
  */
}

/* #Typography
================================================== */

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family:BrandonText-Regular;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: normal; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 20px; }
h2 { font-size: 16px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 14px; }
h6 { font-size: 14px; }

.section-title {
  /*
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  */
  padding: 10px 0;
  text-align: center;
}

p { font-size: 13px; margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style:italic; }
pre { font-family: "Courier New", Courier, monospace; font-size: 13px; font-weight:bold; }
center { text-align: center; }

p.date { }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

a { text-decoration: none; color: #000000; outline: 0;
  -webkit-transition:color .5s ease-in;
  -moz-transition:color .5s ease-in;
  -o-transition:color .5s ease-in;
  transition:color .5s ease-in;
}

a:hover { color: ; text-decoration: ;}
a:visited { color:#000000; text-decoration: ; }
a:focus { outline: none; }

/* .row hr, .row p, .row ul, .row ol, .row dl, .row pre, .row address, .row table, .row form {margin-bottom: 1.6em;} */

dt { font-weight: bold; }

ol { padding: 0; margin-left: 0; margin-bottom: 20px; text-indent: 0; list-style-position: inside; }
ul { padding: 0; margin: 0 0 20px 0; list-style:disc inside;}
li {  }
blockquote { font-family: Georgia, "Times New Roman", Times, sans-serif; font-size:18px; line-height: 24px; font-style:italic; padding-left:35px; color: #999; margin: 20px 0; }

input, textarea { }

em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

b {font-weight: bold;}
i { font-style: italic; }

hr { border: solid #f0f0f0; border-width: 1px 0 0; clear: both; margin: 10px 0 10px; height: 0; margin-top: -1em; }


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* #Just Spices Font
================================================== */
/*@font-face {
    font-family : 'BrandonGrotesque-RegularItalic';
    src         : url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_0_0.eot');
    src         : url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_0_0.eot?#iefix') format('embedded-opentype'), url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_0_0.woff') format('woff'), url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_0_0.ttf') format('truetype');
}*/
@font-face {
    font-family : 'BrandonGrotesque-RegularItalic';
    src         : url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_0_0.eot?13744198491225491844');
    src         : url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_0_0.eot?13744198491225491844') format('embedded-opentype'), url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_0_0.woff?16576077803696041746') format('woff'), url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_0_0.ttf?4871240121240697951') format('truetype');
}
/*@font-face {
    font-family : 'BrandonGrotesque-Regular';
    src         : url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_1_0.eot');
    src         : url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_1_0.eot?#iefix') format('embedded-opentype'), url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_1_0.woff') format('woff'), url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_1_0.ttf') format('truetype');
}*/
@font-face {
    font-family : 'BrandonGrotesque-Regular';
    src         : url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_1_0.eot?65546211562464248');
    src         : url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_1_0.eot?65546211562464248') format('embedded-opentype'), url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_1_0.woff?15839849562979930631') format('woff'), url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_1_0.ttf?3072729033461927277') format('truetype');
}

/*@font-face {
    font-family : 'BrandonGrotesque-Black';
    src         : url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_2_0.eot');
    src         : url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_2_0.eot?#iefix') format('embedded-opentype'), url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_2_0.woff') format('woff'), url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_2_0.ttf') format('truetype');
}*/
@font-face {
    font-family : 'BrandonGrotesque-Black';
    src         : url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_2_0.eot?13427689105678062306');
    src         : url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_2_0.eot?13427689105678062306') format('embedded-opentype'), url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_2_0.woff?9893689274415658611') format('woff'), url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_2_0.ttf?65546211562464248') format('truetype');
}
/*@font-face {
    font-family : 'DaftBrush';
    src         : url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_3_0.eot');
    src         : url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_3_0.eot?#iefix') format('embedded-opentype'), url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_3_0.woff') format('woff'), url('https://www.justspices.de/skin/frontend/justspices/default/css/webfonts/2B5312_3_0.ttf') format('truetype');
}*/
@font-face {
    font-family : 'DaftBrush';
    src         : url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_3_0.eot?16453302146624836841');
    src         : url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_3_0.eot?16453302146624836841') format('embedded-opentype'), url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_3_0.woff?7469048295388342887') format('woff'), url('https://cdn.shopify.com/s/files/1/1454/6178/files/2B5312_3_0.ttf?11351596982915000104') format('truetype');
}
/*@font-face {
font-family: "BrandonText-Regular";
src: 			  url('https://justspices.de/skin/frontend/relaunch/default/css/fonts/BrandonText-Regular.woff') format('woff');
}*/




/* #Buttons
================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
  max-width: 100%;
  /*
  background: #979797; 
  */
  background:transparent;
  border: 3px solid black;

  -webkit-transition: background .5s ease,color .5s ease;
  -moz-transition: background .5s ease,color .5s ease;
  -o-transition: background .5s ease,color .5s ease;
  transition: background .5s ease,color .5s ease;
  /*
  border-radius: 3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  */
  -webkit-appearance: none;
/*
  color: #ffffff;
  */
  color:black;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 15px 0;
  font-family: BrandonText-Regular; 
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  /*
  color: #ffffff;
  background: #00b4e4;
  */
  color:white;
  background:black;
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}


/* #Forms
================================================== */

form {
  margin-bottom: 0; 
}
fieldset {
  margin-bottom: 20px; 
}

select {
  padding: 0; 
}

label,
legend {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}


input[type="checkbox"] {
  display: inline; 
}

label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; 
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #aaa;		}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #aaa;	}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #aaa;		}		


input[type=text], input[type=password], input[type=email], input[type=url], input[type=number] {
  width: 100%;
  background: transparent;
  border: 1px solid #979797;
  padding: 0 5px;
  margin: 0px;
  min-height: 38px;  
  line-height: 38px;
  max-width: 100%;
  outline: none;
  font-size: 100%;
  font-family:BrandonText-Regular;
  color: #000000;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  color: #000000;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
  box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
  min-height: 60px; min-width: 300px; 
}

textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #979797;
  height: 200px;
  margin: 0px;
  
  max-width: 100%;	
  padding: 10px 5px;
  outline: none;
  font-size: 100%;

}




/* #Header
================================================== */

#wrapper { margin-top: 0; }

#top-bar { 
  margin-top: -1.3em;
  line-height: 24px;
  font-family: 'BrandonGrotesque-Regular';
  /*background: #ffffff;*/
  color: #979797;
  font-size: 16px;
  text-align: center;
  width: 100%;
      background-color: #F7F7F7;
    padding: 7px 0;
}


#top-bar #top-bar-check { 
    display: inline-block;
    margin-right: 2em;
    margin-top: 6px;
}


@media screen and (max-width: 980px) {

#top-bar { 
display:none;
}
}


#top-bar a { 
  color: #979797;
  font-size: 16px;  
}

#header { margin-bottom: 10px; position: relative; }

#logo { line-height: initial; position: relative; text-align: center; padding: 0; margin-top:0px;}
#logo a { font-family: 'Open Sans', sans-serif; font-size: 36px; text-transform: uppercase; font-weight: 400; color: #000000; text-decoration: none; }


@media screen and (max-width: 980px) {

#logo { 
margin-top:-25px;
}
}

#search {
  clear: left;
  position: relative;
  margin-top: 50px;
}

@media screen and (max-width: 980px) {

#search { 
margin-top:0px;
}
}

#search input#q  {
  margin-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  padding: 0! important; 
  color: #000000;  
  width: 90%;
  text-indent: 5px;
  font-size:14pt;
}

#search input#q::-webkit-input-placeholder { /* WebKit browsers */
  color: #000000;
}
#search input#q:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #000000;
}
#search input#q::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #000000;
}
#search input#q:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #000000;
}	

#search input#q:focus {
  -moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow:  0 0 0;   
  

}

#search input#seek {
  position: absolute;
  top: 10px;
  right: 10px;
}

ul#cart { text-align: right; }
ul#cart li { display: block; margin-left: 10px;  padding: 0; line-height: 38px; margin-top:-1em;  }
#cart li a { color: #969696;; }


#cart { 
margin-top: 50px;
}
@media screen and (max-width: 980px) {

#cart { 
margin-top:0px;
}
}

/* #Navigation
================================================== */

.navigation { 
  border-bottom: 0px solid #ffffff;
  background: #ffffff; 
  
}
ul.nav li:first-child {
    border-left: transparent;
}
ul.nav li.dropdown {
    border-right: transparent;
}

ul.nav {
  list-style: none;
  text-align: center;
  line-height: 25px;
  position: relative;
  margin-top:18px;
  



}

ul.nav li {
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid black;

}



ul.nav li:hover a {
  color: #979797;
  background: #ffffff;
  
  
}
ul.nav i{
	margin-left: 16em;
	position: absolute;
	z-index: 3;
	margin-top: 0.51em;
}

ul.nav li a {
  font-family: "BrandonText-Black",sans-serif, arial black;
  font-size: 16pt;
  line-height: 18pt;
  font-weight: 400;
  text-transform: uppercase;  
  color: #000000;
  display: block;
  padding: 0 60px;
  letter-spacing: 1.1px;
  text-decoration: none;
  border-bottom: transparent solid 1px;
  font-weight: bold;
  text-decoration: none; 
   position: relative; 
  
}

ul.nav li a:hover:after {
    position: absolute;
    height: 1px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 80%;
    color: #000;
    background-color: black;
    left: 0;
    bottom: -3px; /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}


ul.nav li.dropdown ul.submenu {
  display: none;
  background: #ffffff! important;
  float: left;
  position: absolute; 
  z-index: 25;
  margin: 0;
  padding: 10px 0; 
  
  
}


ul.nav li:hover ul.submenu {
  display: block;
  padding-left: 5px;
  background: #ffffff! important;
}


ul.nav li ul.submenu li{
  background-color: grey;
  color: #000000;
  min-width: 230px;
  line-height: 20px! important;
  text-align: right;
  display: block;
  clear: left; 
  white-space: nowrap; 
  border:none;
  text-decoration:none;
  

  
}


ul.nav li ul.submenu li a{
  text-align: right;
  font-size: 18px;
  padding-left: 5px;
  padding-top: 5px;
  color: #050505;
  font-weight: 100! important;  
  text-transform uppercase! important;
  letter-spacing: initial;
  font-family: 'BrandonGrotesque-Regular';
  display:block;
  
 
}


ul.nav li ul.submenu li a:hover {
  background: #b3b3b3;
  color: #CD5C5C;
  border: 1px solid #b3b3b3;
  
}
ul.nav li ul.submenu li span{
  float: left;
  
  

}


ul#nav li ul.submenu li.a:after {
  position: absolute;
  top: 8px;
  right: 10px;
  font-family: 'FontAwesome'; 
  content: "\f105";
}

.submenu li.a:hover > ul {
  display: block;
  background-color: black;

}
/* 
.nest {
  display: none;
  padding: 10px 0;
  position: absolute;
  left: 100%;
  top: 0;
  background: #ffffff;
  border: 1px solid #979797;   
}
 */

.rightarrow {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 11px;
  color: ;
}





/* #Content
================================================== */
@media only screen and (max-device-width: 700px){

/* h1[itemprop="name"]{
   
    display:none !important;;

} */
 
}
.index #content { margin-top: 0; background-color:white; }

#content {  margin-top: 20px;background-color: white;}

/* #Index.liquid
================================================== */

.homepage-section { margin-top: 0px; }

.index #content .homepage-section:first-child {
  /*
  margin-top: 0! important;
  */
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0;
  height: 0;
  clear: left;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.homepage-promo {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  background: #000000;
}

.homepage-promo img {
  position: relative;
  display: block;
  width: 100%;
}

.homepage-promo .caption {
  padding: 2em;
  color: #bc5151;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.homepage-promo .caption::before,
.homepage-promo .caption::after {
  pointer-events: none;
}

.homepage-promo .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.homepage-promo .caption h3 {
  font-weight: bold;
  text-transform: none;
  color: #050505;
}


.homepage-promo .caption h3,
.homepage-promo .caption p {
  margin: 0;
}

.homepage-promo .caption p {
  letter-spacing: 1px;
  text-transform: none;
}


.homepage-promo .caption img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/*Featured image wird dunkler

.homepage-promo:hover img {
  opacity: 0.7;
}
*/
.homepage-promo .caption::before,
.homepage-promo .caption::after {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.homepage-promo .caption::before {
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

.homepage-promo .caption::after {
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

.homepage-promo h3 {
  padding-top: 20%;
  font-size: 16px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-20px,0);
  transform: translate3d(0,-20px,0);
}

.homepage-promo p {
  padding: 10px 2.5em;
  opacity: 0;
  font-size: 12px;  
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

.homepage-promo:hover .caption::before,
.homepage-promo:hover .caption::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.homepage-promo:hover h3,
.homepage-promo:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}






#instafeed {
  float: left;
  margin-top: 0px;
  width: 100%;
  clear: left;
  
}

/* #collection.liquid
================================================== */

#collection-loop { margin-top: 30px; }

.collection-image {
  margin-bottom: 20px;
}
.collection-index {
  text-align: center;
  margin-top: 20px; 
  margin-bottom: 20px;
}
.collection-index h3 {
  font-size: 13px; 
  font-weight: 300;
}



#collectionpage h1 { text-align: center; }
.collection-description img {  }

#collections h3 { border-bottom: 1px solid #979797; padding-bottom: 5px;}
ul#links { margin-bottom: 10px;}
ul#links li { list-style-type: none; padding: 2px 0; display: block; }
ul#links li a:hover{ text-decoration: none; } 
ul#links li.active a {text-decoration: underline; }
ul#links li a.current {text-decoration: underline;}    


#collection-sidebar { margin-top: 30px; border-bottom: 1px solid #979797;width:100%;  }
#collection-sidebar h4 { margin-bottom: 20px; }
#collection-sidebar ul { list-style-type: none; padding-bottom: 20px; }
#collection-sidebar ul li { margin-bottom: 5px; }

.sidenav ul li ul {
  padding: 0! important;
  margin: 0 0 0 10px;
}

#dropdown {
  width: 100%;
  text-align: center;
}

#sorting-hat { border-bottom: 1px solid #979797; position: relative; background: ; padding: 10px; margin-top: 10px; }
ul#sortme { text-align: center; margin-bottom: 0;  }
ul#side-sortme { width: 20%;
text-align: left;
margin: auto;
margin-top: -4%;}
ul#side-sortme p { margin-bottom: 5px; }
ul#side-sortme li { clear: left;
  float: left;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
  padding:1em;
  display:inline-block
}
.clearfix.filter { display: inline-block; min-width: 200px; }
ul#sortme li { margin: 0 10px; }
ul#sortme p { margin-bottom: 5px; }
.coll-filter { height: 24px; width: 150px; margin-bottom: 0; padding: 0; }
#sortBox { height: 24px; width: 150px; margin-bottom: 0; padding: 0; }

#product-loop { }

.product-index { position: relative; margin-top: 20px; margin-bottom: 20px; text-align: center; }
.product-index img { margin-bottom: 20px; }
.product-index h3 { min-height: 40px; font-size: 13px; font-weight: 300; margin-bottom: 0;}


.img2 { display: none; }

.onsale { display: inline-block; margin-right: 2px; color: #d64b48; }
.was{ display: inline-block; margin-left: 2px; text-decoration: line-through;  }

.icn {
  position: absolute;
  top: -5px;
  left: -5px;
  letter-spacing: 1px;
  opacity: 0.7;
  z-index: 2;
  padding: 3px 6px;
  text-transform: uppercase;
  font-size: 15px;
}

.sale-item.icn {
  background: #c40000;
  color: #fff;
}
.so.icn {
  background: #ff0000;
  color: #fff;   
}

.pre-order.icn { 
  background: #d5d5d5;
  color: #eee;
}

.new.icn { 
  background: #fff;
  color: #333;
  border: 1px solid #979797;
}


.product-quick-view { max-width: 800px; }

/* ================ */
/* = Product page = */
/* ================ */

#mobile-product { display: none; }

#product-photos, .product-photos { text-align: center; }
#bigimage, .bigimage { display: block; margin-bottom: 30px; }

.thumbnail {
  float: none! important;
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
}

.flex-control-nav {
  display: none;
}

#product-description { position: relative; margin-top: 7em;}
#split-description { margin-top: 10px; margin-bottom: 30px; }
#split-description h4.header { padding-bottom: 5px; border-bottom: 1px solid #979797; }
#product-description label { float: left; margin-right: 10px; }
#product-description h1 { font-size: 36px; 
  						  text-align: center;
  							text-transform:uppercase;

}
.produktH2 { 
  font-size: 36px; 
  text-align: center;
  text-transform:uppercase;
}

#product-price {     
  	/*float: left;position: relative;left: 20%;*/
  	text-align:center;
    margin-top: .6em;
    font-weight: bold;
    font-size: 32px;
  	margin-bottom:1em;
}
#product-price-nav2 {     
  	/*float: left;position: relative;left: 20%;*/
  	float:right;
    font-weight: bold;
    font-size: 32px;
  	margin-top:.8em;
}

span.compare-price {
  text-decoration: line-through;
  margin-left: 10px;
}

.product-add { padding: 0; line-height: 38px; min-height: 38px; }

.quantity { 
  font-weight: bold; 
  text-align: center; 
  margin: 0 5px! important; 
  width: 70px! important; 
  display: inline-block! important; 
  padding: 0! important; 
  text-indent: 0! important;
  display: inline-block! important;
  float: left;
}

.up {
  border: 1px solid #f0f0f0;
  padding: 0 8px;
  line-height: 38px; 
  min-height: 38px;
  display: inline-block;
  color: #000000;
  float: left;  
}

.downer {
  border: 1px solid #f0f0f0;
  padding: 0 8px;
  line-height: 38px; 
  min-height: 38px;
  display: inline-block;
  color: #000000;  
  float: left;  
  clear: left;
}

.up:hover, .downer:hover { cursor: pointer; }


.add { margin-top: 20px; clear: left; float: left; width: 40%! important;}

.ajaxified-cart-feedback {
  padding: 10px 20px;
  line-height: 36px;
  font-size: 75%;
  vertical-align: middle;
  clear: both;
  border: 1px solid #979797;
  border-radius: 3px;
}

.product-modal {
  display: none;
  letter-spacing: 1px;
  position: absolute;
  text-transform: uppercase;
  top: 70%;
  width: 60%;
  margin-left: -30%;
  font-weight: 300;
  padding: 10px 5px;
  font-size: 11px;
  left: 50%;
}

.product-index-inner {
  position: relative;
  background-color:#f2f2f2;
}

.quick-shop .desc {
  padding-bottom: 20px;
}

a.full-click {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#recent { border-top: 1px solid #979797; padding-top: 10px; }
.desc { 
  clear: left;
    display: block;
    position: relative;
    margin: 10px 0;
    text-align: center;
    margin-bottom: 3em;
    font-size: 15pt;
    min-height: 45px;
    line-height: 20pt;
}
.what-is-it { margin-bottom: 10px; }

ul.view-more { margin-top: 10px; list-style-type: none; text-align: left;}
ul.view-more li { margin-bottom: 10px! important; }
ul.view-more li a { font-weight: 400; text-decoration: underline; }

#productnav { margin-left: 0; margin-top: 10px; margin-bottom: 10px; }

/* Reset */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  margin-bottom: 0;
}

.accordion { margin: 20px 0 0! important; }

.accordion li {
  list-style: none;
  border-top: 1px solid #979797;
  margin-bottom: 0 !important;
}

/* Layout & Style */

.accordion li > a {
  display: block;
  position: relative;
  min-width: 110px;
  padding: 10px 0;
  height: 40px;
  text-decoration: none;
  background: url(plus.png) no-repeat;
  background-position: center right;
}

.accordion > li:target > a,
.accordion > li > a.active {
  background: url(minus.png) no-repeat;
  background-position: right;
}

/* Sub Menu */

.sub-menu ul {
  border: 0;
}

.sub-menu li {
  border: 0;
}

.sub-menu em {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 14px;
  color: #a6a6a6;
  font: normal 10px/32px Arial, sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
  display: none;
}

.accordion li:target > .sub-menu {
  display: block;
}




/* =============== */
/* = Cart = */
/* =============== */

#cartform { margin-top: 20px; }
.cart-item { display: table-cell; }
.cart-image {float:left;padding:1em;}
.cart-image-mini-cart {float:left;padding:1em;width:25%; }
.cart-image img { vertical-align: middle; }
.cart-title { display: inline-block; }
.cart-item_mini { float:left;width: 100%; height:90px }
table { 
  width: 100%; 
  border-collapse: collapse; 
}


/* Zebra striping */
tr:nth-of-type(odd) { 
}
th { 
  font-weight: normal; 
}
td, th { 
  
  padding: 10px; 
  /*
  border: 1px solid #979797; 
  */
  text-align: left;
 
}

#basket-right { text-align: right;
margin-top: 2em;
width: 100%; }
#basket-right h4 { font-size:31px; }
#basket-right p { margin-bottom: 20px; }
#basket-right img { width: 50px; }

#note { margin-top: 10px; }


#cart-notes { margin-top: 20px; margin-bottom: 20px; }



/* =============== */
/* = Blogs & Pages = */
/* =============== */

ul#blog-articles { list-style-type: none; text-align: center; }
ul#blog-articles li { margin-bottom: 30px; border-bottom: 3px double #979797; min-height: 430px; padding-bottom: 30px; }

ul#posts { list-style-type: none; margin-top: 10px; }
ul#posts li { margin: 5px 0; }

#excerpt { margin-bottom: 10px; }
#excerpt img { margin-bottom: 10px; }
#excerpt a:hover {text-decoration: none;} 
#excerpt p { margin-bottom: 0; }

#paginate-bar { width: 100%; }
#paginate-bar .left { text-align: left; float: left; }
#paginate-bar .right { text-align: right; float: right; }

#article { margin-top: 30px; }
#article-body { margin-bottom: 30px; padding-right:30px;}

#comments { border-top: 2px solid #979797; margin-top: 10px; padding-top: 20px; }
#comment-pagination { margin: 10px 0; padding: 10px 0; border-top: 1px solid #979797; border-bottom: 1px solid #979797; }

#comments ul { margin-left: 0; list-style-type:none; }

#comments ul li {
  float: left;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  border-bottom: 1px solid #979797;
  padding-bottom: 20px;
}

.notice { background: #fbfbfb; margin-bottom: 10px; padding: 10px; border: 1px solid #979797; }

#comments form { }

#comment_body {  }
#comments dl { margin-top: 10px; }
#comments dl dt { margin-top: 10px; margin-bottom: 3px; }


/* Search
----------------------------------------------------------------------------------------------------*/

.search-content { text-align: center; padding: 10px; }


/* =============== */
/* = Customer Accounts = */
/* =============== */

#customer-wrapper { float: left; margin-bottom: 40px; }
#customer-wrapper p { margin-top: 0! important; margin-bottom: 0! important; }

#forgot_password { margin-bottom: 15px; }
#customer-wrapper form { margin-top: 20px; }
#admin_header { margin-bottom: 30px; }
.view_address p { margin: 0; }
#customer_detail p { margin: 0; }
.address_table { margin-bottom: 20px; }

#order_address {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

#order_details { float: left; }

#create-customer, #customer {
  margin-top: 30px;
}


div#recover-password {
  margin-top: 30px;
}


















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.action_link {
  display: inline-block;
  margin-bottom: 10px;
}

.action_edit {
  padding: 0 10px;
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
  margin: 0 10px;
}


a#view_address {
  display: block;
  margin-top: 10px;
}

.center { 
  text-align: center;
}


/* =============== */
/* = Footer = */
/* =============== */

#footer { background: #ffffff; margin-top: 0px; padding-bottom: 20px; text-align: center; }



#big-footer { 
  /*border-top: 1px solid #979797; */
  margin-bottom: 20px; 
  margin-top: 0px;
  border-bottom: 1px solid #979797; 
  padding: 30px 0 30px; 
  list-style-type: none; 
}

#big-footer .alpha { border-right: 1px solid #979797; }
#big-footer .omega { border-left: 1px solid #979797; }

#big-footer { color: #979797; }
#big-footer a { color: #979797; }

#big-footer h4 {
  margin-bottom: 30px;
  color: #979797; 
  display: block;
  text-transform: uppercase; 
}

#big-footer > div { padding: 0 20px; min-height: 120px;}


#big-footer ul {
  list-style: none;
  margin: 0;
  line-height: 34px;
}

#big-footer ul li { display: inline-block; margin: 0 5px; }

input#mce-EMAIL {
  width: 50%;
    float: left;
    display: inline-block;
    padding: 0;
    text-indent: 10px;
    margin-bottom: 0;
    margin-left: 6em;
    margin-right: 1em;
}
input#mc-embedded-subscribe {
  width: 30%;
  float: left;
  height:40px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0;
  margin-bottom: 0;
}

#social-icons a {
  margin: 4px .2em 10px;
  width: 25px;
  height: 25px;
  /*background: #979797;*/
  border-radius: 50%;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

#social-icons a:hover {
  /*background: #00b4e4*/
}


#close { text-align: center;  line-height: 32px; color: #979797; }

/* =============== */
/* = Global = */
/* =============== */

.readmore {
  font-style: italic;
  color: ;
}

#breadcrumb {
  font-size: 11px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
}

#breadcrumb a {
  padding: 0 5px 0 0;
  color: #999;
}

#breadcrumb p {
  padding: 0 5px 0 0;
  color: #000;
}

.separator {
  padding-right: 5px;

}

#paginate {
  text-align: right;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pagination { float: right; }


#pagination { text-align: center; margin-top: 20px; padding-top: 20px; margin-bottom: 50px;  }
#pagination a { margin: 0 5px; background: #979797; padding: 2px 5px; border-radius: 15px; }
#pagination a:hover { text-decoration: none; background: #000000; color: #fff; }
#pagination .current { background: transparent; }
#pagination .count { margin-right: 20px; }


.padded { margin-bottom: 15px; }

#instagram-card { width: 100%; float: left; clear: left; display: block; margin-top: 30px; }
#instagram-card h3 { letter-spacing: initial; }


#instafeed > a:nth-child(8) {
  margin-right: 0;
}

#instafeed > a:nth-child(1) {
  margin-left: 0;
}


#instafeed > a:nth-child(9) {
  margin-left: 0;
}

#instafeed > a:nth-child(16) {
  margin-right: 0;
}



#recently-viewed-products h2 { margin-bottom: 30px; }

label[for="product-select-option-"] { display: none; }
#product-select-option- { display: none; }
#product-select-option- + .custom-style-select-box { display: none !important; }



/* 
Swatches Styles
*/



.swatch { 
  margin:0.5em 0; 
}
/* Label */
.swatch .header {
  margin: 0.5em 0;
}
/* Hide radio buttons.*/
.swatch input { 
  display:none;
}

.color label { width: 40px! important; }


.swatch label {
  color: #000;
  /* Rounded corners */
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  /* Cross-browser inline-block */
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  /* Content must stretch all the way to borders */
  padding:0;
  /* Background color */
  background-color:#fcfcfc;
  /* Spacing between buttons */
  margin:0px 5px 10px 0;
  margin-right: 0! important;
  margin-bottom: 0! important;
  /* Fake that those are buttons, i.e. clicky */
  cursor:pointer;
  /* The border when the button is not selected */
  border: #DDD 1px solid !important;
  /* To position the sold out graphic and tooltip */
  position:relative;
  /* Text styling */
  text-transform:uppercase;
  font-size:13px;
  min-width:30px !important; 
  height:30px !important;
  line-height:30px;
  white-space:nowrap;
  text-transform:uppercase;
  text-align: center;
  font-weight: 400;
}
.swatch-element label { padding:0 10px; }
.color.swatch-element label { padding:0; }
/* Styling selected swatch */
/* Slightly raised */
.swatch input:checked + label {
  border:#999 1px solid !important;
  background: #333;
  color: #fff;
  -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.25);
  box-shadow:0px 1px 2px rgba(0,0,0,0.25);
} 
.swatch .swatch-element {
  float:left;
  -webkit-transform:translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
  /* Spacing between buttons */
  margin:0px 10px 10px 0;
  /* To position the sold out graphic and tooltip */
  position:relative;
}
/* Image with the cross in it */
.crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
.swatch .swatch-element .crossed-out { display:none; }
.swatch .swatch-element.soldout .crossed-out { display:block; }
.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60); /* internet explorer */
  -khtml-opacity: 0.6;      /* khtml, old safari */
  -moz-opacity: 0.6;       /* mozilla, netscape */
  opacity: 0.6;           /* fx, safari, opera */
}
/* Tooltips */
.swatch .tooltip {
  text-align:center;
  background:gray;
  color:#fff;
  bottom:100%;
  padding: 10px;
  display:block;
  position:absolute;
  width:100px;
  left:-33px;
  margin-bottom:15px;
  /* Make it invisible by default */
  filter:alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity:0;
  visibility:hidden;
  /* Animations */
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}
.swatch .tooltip:before {
  bottom:-20px;
  content:" ";
  display:block;
  height:20px;
  left:0;
  position:absolute;
  width:100%;
}
/* CSS triangle */
.swatch .tooltip:after {
  border-left:solid transparent 10px;
  border-right:solid transparent 10px;
  border-top:solid gray 10px;
  bottom:-10px;
  content:" ";
  height:0;
  left:50%;
  margin-left:-13px;
  position:absolute;
  width:0;
}
.swatch .swatch-element:hover .tooltip {
  filter:alpha(opacity=100);
  -khtml-opacity:1;
  -moz-opacity:1;
  opacity:1;
  visibility:visible;
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  -ms-transform:translateY(0px);
  -o-transform:translateY(0px);
  transform:translateY(0px);
}
.swatch.error {
  background-color:#E8D2D2!important;
  color:#333!important;
  padding:1em;
  border-radius:5px;
}
.swatch.error p {
  margin:0.7em 0;
}
.swatch.error p:first-child {
  margin-top:0;
}
.swatch.error p:last-child {
  margin-bottom:0;
}
.swatch.error code {
  font-family:monospace;
}

div.select {
  display: none;
}


div#subscribe_popup {
  width: 480px;
  text-align: center;
  padding: 0 0 20px;
}

#subscribe_popup #mc_embed_signup {
  border-top: 1px solid #979797;
  padding: 20px 0;
}



p.ajaxified-cart-feedback.success {
  font-size: 12px;
}


.cta { 
  margin-top: 50px;
}

.cta a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  background: #000000;
  letter-spacing: 1px;
  border-radius: 3px;
  -webkit-transition: background .5s ease,color .5s ease;
  -moz-transition: background .5s ease,color .5s ease;
  -o-transition: background .5s ease,color .5s ease;
  transition: background .5s ease,color .5s ease;  
}


.cta a:hover {
  color: #000000;
  background: #979797;
}



/* 
* Shifter v3.1.2 - 2014-10-28 
* A jQuery plugin for simple slide-out mobile navigation. Part of the Formstone Library. 
* http://formstone.it/shifter/ 
* 
* Copyright 2014 Ben Plum; MIT Licensed 
*/


.shifter-open {
  overflow: hidden;
}
.shifter-open .shifter-page *,
.shifter-open .shifter-header * {
  pointer-events: none;
}
.shifter-navigation {
  display: none;
  opacity: 0;
  top: 85px;
}
.shifter-handle {
  display: none;
}
.shifter-enabled .shifter-page {
  min-height: 100%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  display: block;
  overflow: hidden;
}
.shifter-enabled.shifter-left .shifter-page {
}
.shifter-enabled .shifter-navigation {
  width: 270px;
  height: 100%;
  position: fixed;
  top: 85px;
  z-index: 0;
  background: #ffffff;
  display: block;
  overflow: auto;
  pointer-events: none;
  -webkit-transition: opacity 0.001s linear 0.2s, -webkit-transform 0.2s ease;
  transition: opacity 0.001s linear 0.2s, transform 0.2s ease;
}
.shifter-enabled .shifter-page,
.shifter-enabled .shifter-header,
.shifter-enabled .shifter-navigation {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.shifter-enabled .shifter-page,
.shifter-enabled .shifter-header {
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
}
.shifter-enabled .shifter-handle {
  width: 30px;
  height: 14px;
  position: relative;
  background: #ffffff;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shifter-enabled .shifter-handle:after {
  height: 2px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  box-shadow: 0 5px 0 #000000, 0 -5px 0 #000000;
  content: '';
  display: block;
  margin: auto;
}
.shifter-enabled .shifter-navigation {
  right: 0;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}
.shifter-open .shifter-page,
.shifter-open .shifter-header {
  -webkit-transform: translate3D(-270px, 0, 0);
  -ms-transform: translate3D(-270px, 0, 0);
  transform: translate3D(-270px, 0, 0);
}
.shifter-enabled.shifter-left .shifter-navigation {
  left: 0;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}
.shifter-enabled.shifter-left.shifter-open .shifter-page,
.shifter-enabled.shifter-left.shifter-open .shifter-header {
  -webkit-transform: translate3D(270px, 0, 0);
  -ms-transform: translate3D(270px, 0, 0);
  transform: translate3D(270px, 0, 0);
}
.shifter-open .shifter-navigation {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: opacity 0.001s linear 0s, -webkit-transform 0.2s ease;
  transition: opacity 0.001s linear 0s, transform 0.2s ease;
}
.no-csstransforms3d .shifter-enabled.shifter-navigation {
  right: -270px;
}
.no-csstransforms3d .shifter-enabled.shifter-left .shifter-navigation {
  left: -270px;
}
.no-csstransforms3d .shifter-enabled.shifter-open .shifter-page {
  left: -270px;
}
.no-csstransforms3d .shifter-enabled.shifter-open .shifter-navigation {
  right: 0;
}
.no-csstransforms3d .shifter-enabled.shifter-left.shifter-open .shifter-page {
  left: auto;
  right: -270px;
}
.no-csstransforms3d .shifter-enabled.shifter-left.shifter-open .shifter-navigation {
  left: 0;
}


.accordion-toggle:after, .accordion-toggle2:after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  right: 10%;
}

ul#accordion li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.accordion-toggle, .accordion-toggle2 {cursor: pointer;}
.accordion-content, .accordion-content2 {display: none;}
.accordion-content.default, .accordion-content2.default {display: block;}

nav.shifter-navigation ul {
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
}

nav.shifter-navigation ul li a, .accordion-toggle {
  color: #050505;
}

nav.shifter-navigation ul.sub {
  margin-top: 0! important;
}

.shifter-navigation input#q {
  margin-left: 10px;
  width: 250px;
}

.shifter-navigation form, .shifter-navigation input#q {
  margin-bottom: 0;
}

ul#mobile-menu {
  list-style: none;
  height: 50px;
  /*
  line-height: 50px;
  */
  text-align: right;
  margin-bottom: 0;
  margin-right: 0;
}


ul#mobile-menu li {
  display: inline-block;
  /*
  vertical-align: middle;
  */
  margin: 0 10px 0 20px;
  
}


ul#mobile-menu li i {
  font-size: 16px;
}




/*
* jQuery FlexSlider v2.2.0
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author: Tyler Smith (@mbmufffin)
*/


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src:url('flexslider-icon.eot');
  src:url('flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('flexslider-icon.woff') format('woff'),
    url('flexslider-icon.ttf') format('truetype'),
    url('flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li { position: relative; display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;max-height:47em;}
.flex-pauseplay span {text-transform: capitalize;}

.flex-caption {
  position: absolute;
  width: 100%;
  padding: 0 5%;
  line-height: normal;
  z-index: 3;
}

.caption-inners {
  display: inline-block;
  padding: 15px;
  
  background: rgba(255,255,255,0.6);
  
}

.flex-caption.slide1 {
  top: 30%;
  text-align: center;
}

.flex-caption.slide2 {
  top: 30%;
  text-align: center;
}

.flex-caption.slide3 {
  top: 30%;
  text-align: center;
}
.flex-caption.slide4 {
  top: 30%;
  text-align: center;
}

.flex-caption.slide5 {
  top: 30%;
  text-align: center;
}




.flex-caption h2.slide-title {
  font-size: 28px;
  font-family: 'BrandonGrotesque-Regular';
  font-weight:700;
  color: #000000;
  line-height: inherit;
}

.flex-caption p {
  font-family: 'BrandonGrotesque-Regular';
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
}

.flexslider .readmore {
  position: absolute;
  width: 100%;
  text-align: center;
}


/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { background: transparent! important; text-align: center; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav a:hover { background: transparent! important; }

.flex-direction-nav .flex-prev { width: 40px; height: 40px; left: -40px;  }
.flex-direction-nav .flex-next { width: 40px; height: 40px; right: -40px; }

.flex-direction-nav .flex-prev:before {content:"\f104"; font-family: FontAwesome; font-size: 30px; text-align: center; line-height: 40px; }
.flex-direction-nav .flex-next:before {content:"\f105"; font-family: FontAwesome; font-size: 30px; text-align: center; line-height: 40px; }


.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}



/* Password Page */

body.password { 
  background: #ffffff;  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}


body.password #logo { 
  margin-top: 100px;
}

body.password #logo h1 a {
  
}


#password-message { margin-bottom: 30px; }

.password-page { min-height: 100vh; }
.password-page img { margin: 10px; }


#signup-wrap { 
  padding: 30px;
  border-radius: 3px;
  text-align: center;
}

#signup-holder { 
  margin-top: 100px;
}

#password-email {
  float: left;
  text-indent: 10px;
  width: 70%;
  text-transform: uppercase;
     
  padding: 2px 0;
}



#password-subscribe {
  float: left;
  width: 28%;
  margin-left: 2%;
  margin-top: 0;
  text-transform: uppercase;
}

body.password p.success {
  text-align: center;
}

ul#password-icons {
  position: fixed; 
  left: 0;
  bottom: 20px;
  list-style: none;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul#password-icons li { 
  display: inline-block; 
  margin: 0 5px;
}

ul#password-icons li a {
   
}


body.password form#login_form {
  padding: 15px 20px;
}

/* slideout */

.slideout-toggle.open_password {
  position: fixed;
  top: 20px! important;
  right: 20px! important;
  z-index: 2;
  cursor: pointer;
}

.slideout {
  position: fixed;
  top: 0! important;
  right: -320px;
  width: 320px;
  background-color: #fff;
  z-index: 300;
  color: #000;
}

.slideout label {
  margin-bottom: 30px;
}

.closeslide {
  float: right;
  width: 44px;
  padding: 15px 15px 11px 15px;
  cursor: pointer;
  font-size: 20px;
}

.closeslide i.icon-angle-right { margin-right: -3px; }

@media screen and ( max-width: 740px ) {
  ul#password-icons { display: none; }
  #signup-holder { margin-top: 50px; }
}

.pass-foot {
  width: 100%;
  position: fixed;
  bottom: 10px;
  text-align: center;
}

.pass-foot a {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 600;
  
}

.password input[type="password"] {
  margin-bottom: 10px;
  text-align: center;
}
.cart-count{
  
    float: right;
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 20px;
    height: 20px;
    background: #ff6600;
    color: #666;
    text-align: center;
    font: 15px Arial, sans-serif;
    color: white;
    padding-top: 0.07em;
    position: relative;    
}
 .cart-count:before{
 
content: ' ';
position: absolute;
width: 0;
height: 0;
border: 5px solid;
border-color: transparent transparent #ff6600 #ff6600;
right: 0.68em;
top: 0.68em;
 
} 

#big-footer_under{
  background-color: white;

width: 98%;
padding-top: 5em;
bottom: 0;
left: 0;
content: '';
margin: auto;
text-align: center;
margin-left: 0%;
  
}
#big-footer_under ul {
  
  text-align: left;
position: relative;
margin: 2px auto;
line-height: 1.4;
padding: 0;
float: left;
left: 16%;
margin-right: 7em;
}
#big-footer_under li{
	  
  list-style-type: none;
  line-height: 30px;
  position:relative;
  color:black;
}
#big-footer_under li a{
  color: #a6a6a6;
  text-decoration: none;
  margin: 0 10px;
  font-size:14px;
}
#contact{
  text-align:left;
}
#social-icons{
  float:right;
  text-align:right;
  margin-top: 7em;
}
#big-footer > div{
  
  width: 55%;
margin: 0px 30% 10px 23%;
padding: 10px 0;
}
ul {list-style-type:none;}

@media screen and (max-width:520px) {
    ul li#three {clear:left;}
}


#product_button{
    border: 3px solid black;
    color: white;
    width: 50%;
    font-family: "BrandonText-Bold",sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #000000;
  	padding: 11.5px 0;
}
#product_button:hover{
  background-color:#F0F0F0;
  color:black;
}
#produktBeschreibung{
  
width: 100%;

  margin-top: 4em;
}

.dreiText{
background-color:#f2f2f2;
float: left;
width: 28%;
padding: 1em;
height: 14em;
max-height: 30em;
margin: 1em;
margin-top: 2em;
padding-left: 2em;
}

.dreiTextQ{
  /*background-color:#f2f2f2;*/
  float: left;
width: 30%;
padding: 2em;

max-height: 30em;
margin: 1em;
margin-top: 3.5em;
  
  padding-left: 2em;
}

#dreiTextall{
 width:100%;
      margin-left: 2em;
}
#dreiTextallQ{
 width:100%;
  margin-left:2%;
  margin-top: -7%;
}
#text{
  
float: left;
margin-left: 8%;
  box-shadow: 0 0 10px #ccc;
    padding: 3em;
}
#rezept{
  margin-top:3%;
  display: flex;
    width: 1220px;
    margin: auto;
}
#bildIdee{
 
width: 80%;
  margin:auto;

}
#collection-banner-bild{
 float:left; 
  margin-bottom:25px;
}
#collage{
 width:50%;
  margin:auto;
  margin-top: 1em;
}
#product_button_collection{
  background-color:transparent;
  border: 3px solid black;
  color:black;
  font-size:20px;
    width:80%;
}
#product_button_collection:hover{
  background-color:black;
  color:white;
}

#qualityTextOne{
width: 35%;

margin-top: 4%;
position: absolute;
background-color: rgba(255, 255, 255, 0.7);
padding: 2em;

  right: 4%;
}

#qualityTextTwo{
width: 35%;

margin-top: 42%;
position: absolute;
background-color: rgba(255, 255, 255, 0.7);
padding: 2em;

left: 4%;
}

#packagingTextOne{

line-height: 1.5;
float: left;
width: 25%;
margin-top: 4%;
}
#packagingTextTwo{
  float: left;
line-height: 1.5;
width: 30%;
margin-left: 7%;
margin-top: 4%;
}
#packagingTextTree{

 float: left;
line-height: 1.5;
width: 30%;
margin-left: 7%;
margin-top: 4%;
}
.texteIdee{
  float: left;
width: 31%;
padding: 1em;
  color:black;
}

#shipCalc{
  float: left;
width: 20%;
  margin-left: 19%;
}
#update-cart{
 width: 20%;
float: left;
display: inline;
text-align: center;
margin-top: 7.5em;
background-color: black;
color: white;
font-size: 20px;
font-weight: bold;
}
#discount{
  width:20%;
  background-color:white;
}
#check{
  width: 20%;
font-size: 20px;
font-weight: bold;
background-color: black;
color: white;
}
#product-listing-font{
 font-weight:normal;
  font-size:20px;
}
#qualityOne{
 margin-top: 2em;
margin-left: 5em;
margin-right: 5em;
  position:relative;
}
#qualityTwo{
  margin-top: 4em;
margin-left: 5em;
margin-right: 5em;
  position:relative;
}
#qualityBildTwo{
  float: right;
margin-top: 1.5em;
  margin-bottom:2em;
  
}
#leerWagenButton{
 width:15em; 
}
.cssclass1{
 float: left;
    margin-left: 10em; 
}
.bilderStartseite{
  width: 1220px;
    margin: auto;
    margin-top: .5em;
    padding: 1em;
  display:flex;
}
#buttonObenRechts{
  width: 20%;
    color: white;
    background-color: black;
    margin-top: 7em;
    font-size: 20px;
}
#bildObenLinks{
 width: 70%;
     
}
#textLinks{
 text-align:center;
  font-size:24px; 
  margin-bottom:1em;
}
#linkesBildStartseite{
   float: left;
    width: 33%;
    min-height: 38.5em;
    background-color: #F0F0F0;
    
    text-align:center; 
}
#rechtesBildStartseite{
 margin:0;
}
#saveFirstDelivery{
 margin-right: 3em; 
  font-size:20px;
}
.symboleAnordnen{
    
    display:inline-block;
    text-align: center;
    font-family: DaftBrush;
    margin-right: 2.5em; 
}
#symboleInnen{
    margin-left: auto;
    margin-right: auto;
    width: 1220px;
    margin-top: 4em;
}
#newsletterParag{
 width: 76%;
    margin-left: 6.5em;
    color: black;
    font-size: 16px;
}
#kreisNewslet{
 width: 2em;
    background-color: #f65058;
    border-radius: 42px;
    font-size: 40px;
    height: 2em;
    float: left;
    
    margin-top: .3em; 
}
#riseAndShine{
 font-family:DaftBrush;
  font-size:60px; 
  font-weight: normal;
}
.beschreibung{
  margin-left: 20%;
width: 34%;
float: left;
  margin-right: 10%;
}
.beschreibungsBild{ 
width: 100%;
  margin-bottom: 1.5em;
}
#erstesProdukt{
  background-color: #f2f2f2;
width: 25%;
float:left;
margin-right: 1.5em;
margin-bottom: 1em;
}
#zusatzProdukte{
 margin-left:18%;
  margin-top:2em; 
}
#zweitesProdukt{
 background-color: #f2f2f2;
width: 25%;
float:left;
margin-right: 1.5em;
margin-bottom: 1em; 
}
#drittesProdukt{
 background-color: #f2f2f2;
width: 25%;
float:left;
margin-right: 1.5em; 
}
#quant{
 margin-left:0; 
  float:left;
  width:50%;
  text-align: center;
}
#quantity{
   margin-right: 0; 
  	width: 4em;
    text-align: center;
    height: 47px;
  }
#ideeH1{
 text-align: center;
width: 100%;
  font-size: 30px;
margin-top: 1.3em; 
  text-transform: uppercase;
}
.texte{
  	float: left;
    width: 30%;
    padding: 1em;
    font-size: 10pt;
    font-family: "BrandonText-Regular",sans-serif;
    font-weight: 100;
    color: #AAAAAA;
    line-height: 20pt;
}
#rechterTeilImBild{
 position: absolute;
    text-align: center;
    top: 16%;
    left: 0;
    width: 100%; 
}
#PreisPro100g{
 text-align:center;
  
}
#containsOZ{
	text-align:center;
  	margin-top: -2em;
    margin-bottom: 3em;
}

.schriftSymbole{
 font-size:20px;
  height:60px;
}
#symboleListe{
 margin-left: 6em; 
}

#missionTextOben{
  width:45%;
  float:left;
  margin-left:3em;
  margin-right:2em; 
}
#missionTextObenRechts{
 width:45%;
  float:left; 
}

#missionTextUnten{
width:45%;
  float:left;
  margin-left:3em;
  margin-right:2em;  
}
#missionTextUntenRechts{
 width:45%;
  float:left; 
}
/* #missionBild{
 width: 100%;
margin: auto;
text-align: center; 
  position:relative;
  margin-top: 30px;
}
#missionTextImBild{
 position: absolute;
    top: 30%;
    left: 21%;
    font-size: 110px;
    color: rgba(255, 255, 255, .7);
  font-family:BrandonGrotesque-Black;
} */
#teamText{
 position: absolute;
    top: -13px;
    right: -11px;
    background-color: white;
    height: 44em;
    width: 37%;
    padding: 3em;
}
#teamTextH1{
 margin-top:3em; 
}
#teamTextP{
  font-size:16px;
}
#dasTeamBild{
 max-width: 102%;
    margin-left: -1em; 
}
#smartphoneSlider{
  display:none;
}
#dreitexteUnterCollage
{
 width:1220px;
  margin:auto;
}
#videoStartseite{
 width:1196px;
  margin: auto;
  margin-top:1em; 
}

#videoMobile iframe{
   height:500px;
  width:100%;
  }

#textUnterIdeeBild{
 width: 1220px;
    margin: auto; 
}
#zutaten{
  width: 1220px;
  margin: auto;
  
}
#faq{
 width:50%; 
  margin:auto;
  text-align:center;
}
#uebersicht{
 float: left;
  margin-top: 2em;
  margin-right: 20em; 
}
#miniCart{
  	margin-top: -1em ;
	display: none;
    border: 1px solid gainsboro;
    max-width: 400px;
    min-width: 400px;
    z-index: 20;
    background-color: white;
    text-align: center;
    position: absolute;
    right: 64px;
}

 .team{
  
    margin-top:30px;
  }
  
  
@media (max-width: 500px) {
  
.GiftkarteNameDesktop{
  
  display:none;
 
  }
  
  #dreitexteUnterCollage
{
 width:100%;
  
}
  
   #missionTextOben{
  width:100%;
  
  margin-left:0;
  margin-right:0; 
  }
   
  #missionTextObenRechts{
 width:100%;
}
  
  #missionTextUnten{
  width:100%;
  
  margin-left:0;
  margin-right:0; 
  }
  #missionTextUntenRechts{
   width:100%;
  
}
  
  #contact{
   text-align: center;
    margin-top: 4em;
  }
  
  #symboleListe{
 width:360px; 
}
  
  #PreisPro100g{
    width: 100%;
    float: left;
    
}
  
  #rechterTeilImBild{
 
    top: 8%;
     
}
  #quant{

    clear: left;
    width: 100%;
  }
  #quantity{
   margin-right: 0em; 
  }
  
  
  
  #product-price{
   left:10%; 
  }
  
  .desc{
   margin-top:-3em; 
  }
  
  
  
  #saveFirstDelivery{
   margin-right:0; 
  }
  
  #riseAndShine{
  font-size:48px; 
}
  
  

  
  .bilderStartseite{
   width:100%;
    padding: .5em;
  }
  #linkesBildStartseite{
   width:100%; 
    margin-bottom: 1em;
  }
  
  #erstesProdukt{
    width:100%
  }
  .item {
        
        min-width:80%;
        
    }
    
  .collection-banner{
    min-width: 100%;
  }
  
  .texteIdee{
    min-width:50%;
    
  }
    

#bildIdee{
 margin-left:0px; 
}
  
.cart-count{
   margin-top: -1em;
  }
  
#product_button_collection{
   font-size:16px; 
  
  }
  
#qualityTextOne{
  width:100%;
  margin-left:0.1%;
  margin-top: 0px;
  position:static;
}
  #qualityTextTwo{
  width:100%;
  margin-left:0.1%;
    position:static;
    margin-top: 10%;
}
  .dreiTextQ{
   width:80%; 
    height:auto;
  }
  #packagingTextOne{
    width:100%;
    margin-left:10px;
  }
   #packagingTextTwo{
    width:100%;
    margin-left:10px;
  }
  #qualityOne{
   margin-top: .1em;
   margin-left: .1em;
   margin-right: .1em; 
  }
  #qualityTwo{
  margin-top: .1em;
margin-left: .1em;
margin-right: .1em;
  position:relative;
}
  #qualityBildTwo{
   margin-top:.1em; 
  }
  input#mce-EMAIL{
 width:100%; 
    margin-left:0;
}
  input#mc-embedded-subscribe{
     width:100%;
  }
  .cssclass1{
   float: none;
     margin-left: 0em; 
  }
  .GoodTasteParagraph{ padding : 1em;}
  
}



@media(min-width : 1024px) {
	.collection-banner { 
      min-width: 88%; 
    }
  
  
}

@media(min-width : 1024px) {
	.bilderStartseite{
     width: 960px; 
    }
}



@media  (max-width : 1024px) {
  
  
	.collection-banner { 
      min-width: 100%; }
  .texte{
    min-width:62%; 
  }
  .texteIdee{
    min-width:100%;
  }
  #qualityTextOne{
  width:100%;
  margin-left:0.1%;
    position:static;
}
  #qualityTextTwo{
  width:100%;
  margin-left:0.1%;
    position:static;
    margin-top:0;
}
  .dreiTextQ{
   width:80%; 
    height:auto;
  }
  #packagingTextOne{
    width: 85%;
    margin-left: 3em;
  }
   #packagingTextTwo{
    width: 85%;
    margin-left: 3em;
  }
    #packagingTextTree{
    width: 85%;
    margin-left: 3em;
  }
  h3 br {
    display: none;
}
  .gridlock .row .desktop-12 {
    width: 100%;
}
  .NumberofOurStory{
 font-size:30pt !important;
  }
  #shipCalc{
    width:40%;
  }
  #update-cart{
    width:40%;
    margin-top:1px;
  }
  #discount{
    width:40%;
  }
  #check{
    width:40%;
  }
  #qualityOne{
   margin-top: .1em;
margin-left: .1em;
margin-right: .1em; 
  }
  #qualityTwo{
  margin-top: .1em;
  margin-left: .1em;
  margin-right: .1em;
  position:relative;
}
  input#mce-EMAIL{
    width:100%; 
    margin-left:0;
}
  input#mc-embedded-subscribe{
     width:100%;
  }
  

  
  
}
@media (max-width : 1400px) {
  
  #uebersicht{
   margin-right:0; 
  }
  
  #alleDreiZusammen{
      width:100%;
      margin:auto;
      
    }
  #collection-banner-bild{
    width: 80%;
margin: 0px auto;
float: none;
display: table;
    
  }
  
  #product-price{
   left:17%; 
  }
  
}
@media(min-width : 1600px) {
  .collection-banner { 
      min-width: 63%; 
    }
	#alleDreiZusammen{
      width: 1220px;
    position: relative;
    margin: auto;
    }
  #big-footer_under ul{
    left:24%;
  }
  
  
}
@media screen and (max-width: 800px) {
  
  #faq{
 width:100%; 
  
}
  
  #textUnterIdeeBild {
    width: 100%;
    margin: auto;
}
  
  #videoStartseite{
       width: 100%;
    margin: auto;
    margin-top: 0em;
    padding: 1.5em; 
  }
  
  #dasTeamBild{
   margin-left: -.5em; 
  }
  
  #teamTextH1{
   margin-top:0; 
  }
  
  #teamText{
   position:static;
    width:100%;
    height:auto;
    margin-bottom: .4em;
  }
  
  #missionTextImBild{
    font-size:40px;
    margin-bottom: 11px;
  }
  
  #zusatzProdukte{
   margin-left: 5%; 
  }
  
  #erstesProdukt{
   width:30%; 
  }
  #zweitesProdukt{
   width:30%; 
  }
  #drittesProdukt{
   width:30%; 
  }
  
  #symboleListe{
   margin-left:3em; 
    width:800px; 

  }
  
  .symboleAnordnen{
   width:6.5%; 
  }
  
  #symboleInnen{
   width:100%; 
  }
  
  .dreiText{
   width: 600px;
    min-width: 0;
  }
  
  #dreiTextall{
   margin-left: 1%; 
  }
  
   #big-footer_under ul{
     margin-right: 2em;
   }
  #collection-banner-bild{
    width: 100%;
    float:left;
      
  }
  #collage{
    width:80%;
  }
  #social-icons a{
    float:left;
  }
  #product-listing-font{
    font-size:20px;
  }
  .bilderStartseite{
 width:97.5%; 
}
  #buttonObenRechts{
    margin-top:2em;
}
  #bildObenLinks{
   width: 64%;
    margin-top: 2em;
    margin-bottom: 0em;
  }
  
  #linkesBildStartseite{
   min-height:0; 
  }
  #textLinks{
   font-size:16px; 
  }
  #newsletterParag{
   
    margin-left: 6.5em;
    
    font-size: 14px; 
  }
  #kreisNewslet{
   
    margin-left: 0em;
    margin-top: 1.5em; 
  }
  .beschreibung{
  margin-left: 14%;
}
}

@media (min-width: 800px) and (max-width:1000px) {
   
  
  
  #textUnterIdeeBild {
    width: 100%;
  }
  
  #rezept {
    width:100%;
  }
  
  #text {
    width: 42%;
    margin-left:0;
  }
  
  .symboleAnordnen {
    
    width: 6em;
}
  
  #symboleListe {
    margin-left: 6em;
}
  
  .beschreibungsBild {
   text-align:center; 
  }
  
  .beschreibung {
    margin-left: 11%;
    width: 80%;
  }
  
  #zutaten {
    width: 100%;
    margin:0;
  }
  
  .dreiText {
   min-width: 56em; 
  }
  
  .bilderStartseite{
  width: 733px; 
 }
  #linkesBildStartseite{
    width: 32%;
    overflow:hidden;
    min-height: 22.8em;
  }
  #bildObenLinks{
   margin-top: -1.2em;
  }
  #textLinks{
    font-size:13px;
  }
  #buttonObenRechts {
    margin-top: 0em;
    width: 31%;
}
  #rechterTeilImBild {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 0;
    width: 100%;
}
  .texte {
    min-width: 66%;
}
  #videoStartseite {
    width: 705px;
    margin: auto;
    margin-top: 1em;
}
}



@media (min-width: 600px) and (max-width:800px) {
  
   .cart-count{
   
  margin-top:-3.8em : !important;
  
  }
  .beschreibungsBild {
    text-align:center;
  }
  
  .beschreibung {
    
    width: 75%;
  }
  
  #rezept {
    
    display: block; 
    width: 100%;
  }
  
  #text {
    width: 100%;
    float: left;
    margin-left:0;
  }
  
  .dreiText {
    width: 560px;
  }
  
  #zutaten {
    width: 100%;
    height: 152em
  }
  
 .bilderStartseite{
  width: 94.5%; 
 }
  #linkesBildStartseite{
    width: 32%;
    overflow:hidden;
  }
  #bildObenLinks{
   margin-top: -1.2em;
  }
  #textLinks{
    font-size:14.53px;
  }
  #buttonObenRechts {
    margin-top: 0em;
    width: 31%;
}
  #rechterTeilImBild {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 0;
    width: 100%;
}
  .texte {
    min-width: 51%;
}
  .cart-count{
    display:none;
  }
  
}

@media (min-width: 760px) and (max-width:1024px) {
  
  #zutaten {
    width: 79%;
}
  
  .beschreibungsBild {
   text-align:center; 
  }
  
  .beschreibung {
    margin-left: 11%;
    width: 80%;
  }
  
  #textLinks {
    font-size: 19px;
}
  .texte{
   min-width: 62%; 
  }
  #videoStartseite {
    width: 96%;
  }
}
  
@media screen and (max-width: 500px) {
  
  
  #rezept {
    
    display: block; 
    width: 100%;
  }
  
  #text {
    width: 100%;
    float: left;
    margin-left:0;
  }
  
  #zutaten {
    width: 100%;
   
  }
  
  #videoMobile iframe{
   height:200px; 
  }
  
  #videoStartseite {
    width: 100%;
    margin: auto;
    margin-top: 0em;
    padding: 1em;
}
  
  .texte{
    min-width:100%;
    
  }
  
  #unsichtbar{
    display:block;
  }
  #smartphoneSlider{
    margin-top:-2em;
   display:block; 
    padding: 0 1em 0 1em;
  }
  
  .nameProdukt{
   display:none; 
  }
  
  #dasTeamBild {
    margin-left: -.3em;
}
  
  #missionTextImBild{
    font-size:25px;   
    left:29%;
  }
  
  #textLinks{
    font-size:22px; 
  }
  
  #big-footer_under ul{
       text-align: center;
    position: relative;
    line-height: 1.4;
    padding: 0;
    float: left;
    left: 0;
    margin-right: 0;
    margin-bottom: 2em;
    width: 49%;
    margin-right:0;
  }
  
  .texte{
    padding:1em;
    margin-bottom: 1em;
  }
  
  #collage{
   width:100%; 
  }
  
  .texteIdee{
   padding:0;
    margin-bottom: 1em;
  }
  
  #ideeH1{
   width:100%; 
    margin-top: 1em;
  }
  
  #bildIdee{
   width:100%; 
  }
  
  #alleDreiZusammen{
   max-width: 100%;
    padding: 1em; 
    margin-left:0;
  }
  
  .symboleAnordnen{
   width: 20%; 
   margin-left:1em;
   margin-right: 2em
   
  }
  
  #symboleListe{
    margin-left:0em;  
    width:100%;
  }
  
  .dreiText{
   width:91%; 
  }
  
  .beschreibung{
  margin-left: 7%;
    width: 85%;  
  }
  
  #product-listing-font{
    font-size:14px;
  }
  #bildObenLinks{
   width:60%; 
    margin-top:0em;
  }
  #buttonObenRechts{
   width:40%;
    margin-top:0;
    font-size: 16px;
  }
  #buttonObenLinks{
    font-size: 16px;
  }
  
  #kreisNewslet{
    margin-left: auto;
    margin-top: 0em; 
    width:100%;
    margin-bottom: .35em;
  }
  #newsletterParag{
   margin-left:0;
    width:100%;
  }
  #erstesProdukt{
   width:95%; 
  }
  #zweitesProdukt{
   width:95%; 
  }
  #drittesProdukt{
   width:95%; 
  }
}
@media (min-width: 1024px) and (max-width: 1500px) {
  #miniCart{
    width:36%;
  }
  
  #text {
    width: 54%;
    margin-left:0;
  }
  
  #rezept {
    width:93%
  }
  
  #zutaten {
    float: none;
    width: 960px;
    margin: auto;
}
  
  #textUnterIdeeBild{
   width:100%; 
  }
  
  #dreitexteUnterCollage {
    width: 1045px;
    margin: auto;
}
  
  #videoStartseite {
    width: 940px;
    margin: auto;
    margin-top: 1em;
}
  
  #teamTextH1{
 margin-top:0;
    
}
  #teamTextP{
    font-size:14px;
  }
  
  #missionTextImBild{
    left:14%;   
  }
  
  .dreiText{
    min-width: 22.5em;
  }
  
  #dreiTextall{
    margin-left: 0em;
    
  }
  #qualityTextTwo{
    width:60%;
    margin-top: 41.5%;
  }
  #qualityTextOne{
    width:60%;
  }
  .bilderStartseite{
 width:965px; 
}
  #buttonObenRechts{
    margin-top:2em;
}
  #bildObenLinks{
   width:70%; 
    margin-bottom:0;
  }
  #textLinks{
   font-size:24px; 
  }
  #linkesBildStartseite{
   min-height:0; 
  }
  #saveFirstDelivery{
 margin-right: 0; 
}
  #symboleInnen{
      margin-left: auto;
    margin-right: 0;
    width: 100%;
}
  #symboleListe {
     margin-left: 0;
}
  .symboleAnordnen {
    width: 12.5%;
}
  
}
@media screen and (min-width: 1400px){
  
  .bilderStartseite{
     width: 1220px; 
    }
  #bildObenLinks {
    width: 83%;
  }
  #videoStartseite {
    width: 1196px;
  }
}
 @media screen and (min-width: 500px) and (max-width:600px){
  .bilderStartseite {
    width: 95.5%;
}

  #riseAndShine{
   font-size:40px; 
  }
  #buttonObenRechts {
    margin-top: 0em;
    width: 6em;
}
  #bildObenLinks{
   margin-top:0;
  }
  #textLinks {
    font-size: 13px;
}
}

#BildueberProdukte{
  height: 100%;
margin-top: 6em;
}
#collectionpage{
  background-color:white;
  width:100%;
}
.product-info-inner{
  background-color:#f2f2f2;
}

ul#cart li.hoverme span:hover #miniCart{
 display:block;
} 
ul#cart li.hoverme span div:hover #miniCart{
 display:block;
} 
#item_text{
  	float: left;
	margin-top: 1.5em;
  	width:75%;
}
#item_text_refresh{
  	float: left;
  	width:100%;
    height:92px;
    padding: 0.5em;
}
#basket-mini{
  	margin: auto;
	width: 85%;
  	border-top: 1px solid black;
}
.unterMenu{
 display:inline;
  padding: 2em;
font-size: 1.5em;
}
.unterMenu:hover{
 text-decoration:underline; 
}
#ganzeUnterMenu{
 list-style-type: none;
    margin: auto;
    width:100%;
  
  text-align:center;
  background-color:white;
}

.collection-banner {
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  width:63%;
  background-color:white;
  text-align:center;
margin: auto;
  margin-top: 2.5em;
  }




#qualityBildOne{
  float:left;
}





#theme-editor{
  background-color:red;
}



  
#allesimCart{
  max-height: 25em;
  overflow: auto;
  margin-bottom:1em
}



.faq_liste{
  border-top: 1px solid;
  padding:1em;
  
}
.fa-custom-icon-3{
  float: right;
margin-top: 0.4em;
}

#packagingBildOne{
  margin:  auto;
width: 80%;
}

#florianText{
 width: 50%;
float: right;
margin-top: 8%;
margin-right: 4%; 
}
#florianBild{
  float:left;
  margin-left:4%;
  width: 40%;
}
#oleText{
 width: 49%;
float: left
  ;
margin-top: 8%;
margin-left: 4%; 
}
#oleBild{
  float:right;
  margin-right:4%;
  margin-top:10%;
  width: 40%;
}
#belaText{
 width: 50%;
float: right;
margin-top: 8%;
margin-right: 4%; 
}
#belaBild{
  float:left;
  margin-left:4%;
  margin-top:10%;
  width: 40%;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  
}
#nav{
 z-index:6; 
  
}

.nav2{
  display:none;
  background-color:rgba(255,255,255,1);
  z-index:2000;
    
}
.nav3{
  display:none;
  background-color:rgba(255,255,255,1);
  z-index:2000;
    
}
.inner {
 
 border: 1px solid black;
  padding:2em;
}
#customer_sidebar{
width:auto;
  background-color:white;
  

}
#customer_sidebar a {
  color:#737373;
}

#customer_sidebar a:hover {
  color:black;
  text-decoration:underline;
}

.mitPunkt{
 list-style-type: circle; 
}
.beschreibung p {
 margin-bottom:2.5em; 
}


#company{
	width: 100%;
    margin: 0px;
    min-height: 38px;
    max-width: 100%;
    outline: none;
    font-size: 100%;
    font-family: BrandonText-Regular;
    color: /*!setting.text_color{*/#000000/*}*/; 
}
#freundeWerben{
  margin: auto;
  padding: 0;
  display:flex; 
}
#freundeUberschrift{
 margin-top: 1.5em;
  font-size: 50px;
  font-weight: bold; 
}

#freundeParagraph{
 margin-top: 4em;
  font-size: 16px; 
}
#freundeBild{
  display:block;
}
#freundeButton{
 margin-top:3em;
  width:50%;
  font-size:20px; 
}
#umleitungBild{
 width:500px; 
  height:401px;
  position:relative; 
  margin-top:-2em;
}
#umleitungButton{  
  left: 9em;
  width: 37%;
  font-size: 18px; 
  margin-top:1em;
}
#umleitungBild_mobile{
 display:none; 
}
#umleitungText{
  
  position: absolute;
  top: 210px;
  width:100%;
  margin:auto;
  margin-top:.5em;
}
.fancybox-opened .fancybox-skin{
  background-color:#F0F0F0;
}
.angepassteProduktBilder{
 width:80%;
  margin-top:5em;
}
#formGiftCard{
 margin-top: -7em; 
}
#category{
 text-align:center;
  margin-bottom: -1.5em;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
  
/* Subnavigation styles category*/
.subnav { clear: both; list-style-type: none; margin: 35px 0; padding: 0; }
.subnav li {
    display: inline-block;
    vertical-align: top;
    text-align: center;}
.subnav li a {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: #eee;
  margin: 0 7px 7px 0;
  color: #666;
  text-transform: uppercase;
}
.subnav li a:hover, .subnav li.active a {
  background: #666;
  color: #fff;
}
#textrezeptBBQ{
  box-shadow: 0 0 10px #ccc;
  padding: 2em 3em 0em 3em;
  margin-left:0;
  height: 100%;
}
#bildrezeptBBQ{
 box-shadow: 0 0 10px #ccc;
   
}
#bildrezeptBBQ img{
  	display: block; margin-left: auto;margin-right: auto;min-height: 100%;
    
  }
.tabledata1{
    padding:0;
    width:10em;
  text-align:center;
  border:1px solid black;
  padding: 3em 0em 2em 0em;
  position:relative;
  
  }
.tabledata1 p:first-child{
 font-weight: 800;
  font-size: 36px; 
  margin-bottom:.5em;
  font-family: arial;
}
.tableDIV{
  position:absolute;
  bottom: -10px;
    right: 0;
    left: 0;
    background-color: #FF4F59;
  color:white;
  margin: auto;
    width: 7em;
    padding: .2em 0em 0.2em 0em;
  z-index:10;
  font-weight:bold;
}
  .tabledata2{
    padding:0;
  }
.bulletpoint{
 display: list-item;
  list-style-type: disc; 
}
.uppercaseGray{
 text-transform:uppercase;
}
.bestSellerHeading{
	text-align:center;
 	font-family: "BrandonText-Black",sans-serif;
 	font-size: 30px;
  	margin-bottom: .5em;
	margin-top: .5em;
     
}
.center{
	text-align:center;
}
.font-sixty{
 	 font-size: 60pt;
    line-height: 40pt;
  font-family: "BrandonText-Bold",sans-serif !important;
}
.font-regular{
 	font-family: "BrandonText-Regular",sans-serif;
    font-size: 16px; 
}
.qty-button{
	    -webkit-appearance: none;
    background-color: #000000;
    color: white;
    padding: 11px 15px;
    height: 47px;
    border: 3px solid #000000;
    outline: none;
    cursor: pointer;
  	width:16%;
}
.desc p{
      clear: left;
    display: block;
    position: relative;
    margin: 10px 0;
    text-align: center;
    margin-bottom: 3em;
    font-size: 15pt;
    min-height: 45px;
    line-height: 20pt;
}
.nav2Container{
 	width: 1200px;
    text-align: center;
    margin: auto;
}
.relative {
  position: relative;
}

img.new {
  position: absolute;
  top: 0;
  right: 0;
  width:25%;
}
.top-bar-icons img{
 display: inline;
    max-height: 40px;
    padding-left: 10px; 
  float:left;
}
.ssw-instagram-grid-title{
     text-align: center;
    font-family: "BrandonText-Black",sans-serif;
    font-size: 30px;
    margin-bottom: .5em;
    margin-top: .5em;
  	text-transform:uppercase;
}
 */
														/*Respnsive design*/
@media /* Landscape Tablet */
  (max-width: 1400px) {
    
    #formGiftCard{
 margin-top: -10em; 
}
    
    .angepassteProduktBilder{
  width:100%;
  margin-top:5em;
} 
    #product-description{
         margin-top: 5em; 
    }
  }
@media /* Landscape Tablet */
  (max-width: 1280px) {
    
    #bildrezeptBBQ img{
  	min-height: 0;
    width:100%;
    
  }
    
  .angepassteProduktBilder{
  width:100%;
  margin-top:5em;
} 
    #product-description{
         margin-top: 5em; 
    }
    
    #freundeWerben{
 width: 98%;

}
    #freundeUberschrift{
     font-size:39px; 
    }
    ul.nav li a {
     font-size:16px; 
    }
    ul.nav i{
	margin-left: 9.4em;
	}
}
@media (max-width:1000px){
  
  #rezept{
    display:block;
  }
  
  #textrezeptBBQ{
   width:100%; 
  }
  
  #bildrezeptBBQ {
  
    width:100%;
    
  }
  #bildrezeptBBQ img{
  	min-height: 0;
    width:100%;
    
  }
  
  #freundeButton{
 margin-top:1em;
  width:72%;
   
}
  
  #freundeParagraph{
 margin-top: 2em;
  }
  
  #freundeUberschrift {
    font-size: 25px;
}
  
 #freundeWerben {
    width: 100%%;
} 
}
@media (max-width:800px){
  .cart-count{
   
  margin-top:0em : !important;
  
  }
  
  #textrezeptBBQ{
   width:100%; 
  }
  
  #bildrezeptBBQ {
  
    width:100%;
    
  }
  
  #bildrezeptBBQ img{
  	min-height: 0;
    width:100%;
    
  }
  
  #freundeText{
  display:none; 
 }
  #freundeBild{
 width:100%;
  }
}

@media (min-width:500px) and (max-width:900px){

.cart-count{
   
  margin-top : -3.8em ;
  
  }
    ul#cart li {
    
    margin-left: 0px ;
    line-height: 38px;
    
  }
  


  
  ul#cart li i{
    
  
    margin-right: 0.6em;
    margin-left: 0.2em;
    
}
   ul#cart li a{
  
    font-size: 0.5em ;
    margin-top:0.3em;
    margin-right: 0em;
    margin-left: 0.3em;
   
  }
    ul.nav li a {
    
    font-size: 12pt;
    padding: 0 10px;
    
    
}
}


@media (min-width:900px) and (max-width:1400px){



  ul#cart li {
    
    margin-left: 0px ;
    line-height: 38px;
    margin-top: -1em;
  }
  


  
  ul#cart li i{
    
    font-size: 1em  ;
    margin-top:0.5em;
    margin-right: 1em ;
    margin-left: 0.2em;
    
    
}
  
    ul#cart li a{
  
    font-size: 0.7em ;
    margin-top:0.3em;
    margin-right: 0em;
    margin-left: 0.6em;
   
  }
  
  
  .cart-count{
    
    margin-top: -0.1em;
    margin-left: -5em;
    right: 9px;
  }
 
 
  ul.nav li a {
    
    font-size: 14pt;
    padding: 0 16px;
    letter-spacing: 1.3px;
    
}

  ul.nav i {
    margin-left: 10em ! important ;
}

}
@media (max-width:500px){
  
 
  .tabledata1{
    display:block;
    width:100%;
  }
  
  #textrezeptBBQ{
   width:100%; 
  }
  
  #bildrezeptBBQ img{
  	min-height: 0;
    width:100%;
    
  }
  
  .bilderStartseite{
   display:block; 
  }
  
  #umleitungH1Text{
    font-size:15px;
  }
  
  #umleitungText{
    top: 12em;
    margin:auto;
  }
  
  #umleitungBild_mobile{
    display:none;
  }
  
  #umleitungBild{
    display:block;
    height:300px;
  }
  
  #umleitungButton{
    width:auto;
    margin-top:.5em;
    padding:.6em;
  }
  
 #freundeText{
  display:none; 
 }
  #freundeWerben{
 width: 100%;
  }
  #freundeBild{
 width:100%;
  }
}
.sub-b-container{
 background-color: #F0F0F0 !important;
    margin: 0 !important; 
}
#sub-bs-container{
 margin: 0 !important; 
}
.sp-price{
  color:green;
}

.GiftCardNameMobil{
text-align: center;
text-transform: uppercase; 
font-size: 36px; 


}

.GiftkarteNameDesktop{
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;

}
.articelParagraph{
	color: #555;
    line-height: 22px;
    margin-bottom: 18px;
}
.articleShare span{
 padding:4px; 
} 

@media (min-width:741px) and (max-width:899px){
#shopping-cart{
  font-size : 1.5em;
}
}
