{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
{% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<div id="page">
  <div style="background-color:white;">
  {% paginate article.comments by 20 %}
  <div id="article-body" class="desktop-10 mobile-3">
<!-- Blog/Articel image -->
    <div itemscope itemtype="http://schema.org/Recipe">
    {% if article.titel != "The Christmas Gift Ideas You've Been Looking For!" %}
    <div class="articelImage">
         	<img itemprop="image" style="width:100%;" class="article-image" src="{{ article.image | img_url: 'original' }}" alt="{{ article.title }} - Just Spices">
    </div>
    {% endif %}
          {% if article.excerpt != blank %}
          {{ article.excerpt }}
          {% endif %}
<!-- Artikel Überschrift -->
    	<h1 itemprop="name" class="text-left" style="font-size: 36px;font-weight:100;">{{ article.title }}</h1>
    	<meta itemprop="url" content="https://www.justspices.com{{ article.url }}" />
    	{% assign published_at = article.published_at | date: format: 'month_date_year' %}
    	<meta itemprop="datePublished">
      		<p class="posted text-left" style="color:#999;border-bottom: 1px solid #e5e5e5;padding-bottom: 20px;margin-bottom:5px;">{{ 'blogs.article.posted_on_date_html' | t: date: published_at }} by <span itemprop="author">{{article.author}}</span></p>
<!-- Artikel Content aus Blog Post -->
    	<div class="rte text-left">{{ article.content }}</div>
    </div>
    {% include 'sozialeIcons' %}
	 <div class="clear"></div>
{%comment%}
    {% include 'social' with article %}
{%endcomment%}
    <div id="empfohleneProdukte">
      {% include 'empholeneProdukte'%}
    </div>
    {% if blog.comments_enabled? %}
    <div id="comments">

      <h3>{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</h3>

      <ul class="desktop-7 tablet-6 mobile-3">
        {% for comment in article.comments %}
        <li>
          <div class="comment-details">
            {{ comment.author }}: {{ comment.created_at | date: "%B %d, %Y" }}
          </div>	
          <div class="gravatar desktop-1 mobile-1">
            <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" alt="avatar"/>		
          </div>
          <div class="comment desktop-11 mobile-2">
            {{ comment.content }}
          </div>
        </li>
        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
      <div id="pagination">				
        {% if paginate.previous %}
        {{ '<' | link_to: paginate.previous.url }}
        {% endif %}
        {% for part in paginate.parts %}
        {% if part.is_link %}
        {{ part.title | link_to: part.url }}
        {% else %}
        {% if part.title == '&hellip;' %}
        {{ part.title }}
        {% else %}
        <span class="current">{{ part.title }}</span>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if paginate.next %}
        {{ '>' | link_to: paginate.next.url }}
        {% endif %}
      </div>
      {% endif %}



      <!-- Comment Form -->
      <div id="comment-form" class="desktop-5 tablet-6 mobile-3">
        {% form article %}
        <h5>{{ 'blogs.comments.title' | t }}</h5>
        <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
        {% if form.posted_successfully? %}
        {% if blog.moderated? %}
        <div class="notice">
          {{ 'blogs.comments.success_moderated' | t }}
        </div>
        {% else %}
        <div class="notice">{{ 'blogs.comments.success' | t }}</div>
        {% endif %}
        {% endif %}

        {% if form.errors %}
        <div class="notice error">{{ 'general.forms.post_error' | t }}</div>
        {% endif %}


        <dl>
          <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">{{ 'blogs.comments.your_name' | t }}</label></dt>
          <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">{{ 'blogs.comments.your_email' | t }}</label></dt>
          <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

          <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">{{ 'blogs.comments.your_comment' | t }}</label></dt>
          <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
        </dl>

        {% if blog.moderated? %}
        <p class="hint">{{ 'blogs.comments.moderated' | t }}</p>
        {% endif %}    

        <input type="submit" value="{{ 'blogs.comments.post' | t }}" />
        {% endform %}
      </div>
    </div>
    {% endif %}            


  </div> 
  </div>
  

  <div id="article" class="desktop-2 mobile-3">

    <h4>{{ 'blogs.article.recent_posts' | t }}</h4>
    <ul id="posts">
      {% for article in blog.articles  %}
      <li><a href="{{article.url}}">{{ article.title }}</a></li>
      {% endfor %} 
      <h4 style="margin-top: 20px">{{ 'blogs.article.tags' | t }}</h4>
      {% for tag in blog.all_tags %}
      <li>
        <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endpaginate %}        
</div>