<meta name = "description" content= "Spices / Seasoning Blog are for you every time">
<div id="page">
<div style="background-color:white;">
  <h1 class="desktop-12" style="text-align: center; font-family:DaftBrush; font-size: 30px">Spices / Seasoning Blog</h1>

  {% paginate blog.articles by 48 %}

  <ul id="blog-articles" class="desktop-12">
    {% for article in blog.articles  %}
    <li class="desktop-4 tablet-2 mobile-3{% cycle ' first tablet-first', '', ' last' %}">
      <div id="excerpt" class="rte" style="position: relative;left: 0;top: 0;">
        {% if article.image %}
        <a href="{{ article.url }}">
         	<img class="article-image" src="{{ article.image | img_url: 'grande' }}" alt="{{ article.title }}">
          {% if article.title == "" %}
        	<img class="profilpic" src="{{ 'germany_popup_mobile.jpg' | asset_url }}" style="border-radius:50%;width:20%;position: absolute;top: 0;right: 0;">
          {%elsif article.title == "" %}
          	<img class="profilpic" src="{{ 'germany_popup_mobile.jpg' | asset_url }}" style="border-radius:50%;width:20%;position: absolute;top: 0;right: 0;">
          {%else%}
          {%endif%}
        </a>{% endif %}
        <a href="{{ article.url }}">
          {% if article.excerpt != blank %}
          {{ article.excerpt }}
          {% endif %}
        </a>
      </div>
      <h2 style="text-transform: uppercase;font-size:18px;"><a href="{{ article.url }}">{{ article.title }}</a></h2>
      {% assign published_at = article.published_at | date: format: 'month_date_year' %}
     <p class="posted">{{ 'blogs.article.posted_on_date_html' | t: date: published_at }} </p>
      <div class="article-headline">
        {%comment%}
        <p class="rte">{{ article.content | strip_html | truncatewords: 30 }}</p>
        {%endcomment%}
        {% if blog.comments_enabled? %}
        <small><a href="{{article.url}}#comments">{{ article.comments_count }} {{ 'blogs.article.comments' | t }}</a>
          {% endif %}
          <a href="{{ article.url }}"><i>{{ 'blogs.article.read_more' | t }}</i></a>
        </small>
      </div>
    </li>
    {% endfor %}

  </ul>

<!--   <div class="clear"></div> -->


  <div id="pagination" class="desktop-12 mobile-3">

<!--     {% if paginate.previous %} -->
    {{ '<' | link_to: paginate.previous.url }}
    {% endif %}
    {% for part in paginate.parts %}
    {% if part.is_link %}
    {{ part.title | link_to: part.url }}
    {% else %}
    {% if part.title == '&hellip;' %}
    {{ part.title }}
    {% else %}
    <span class="current">{{ part.title }}</span>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if paginate.next %}
    {{ '>' | link_to: paginate.next.url }}
    {% endif %}

  </div>

  {% endpaginate %}
</div>
</div>
