{% include 'ajaxify-cart' %}
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
<script>if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script> 
<script>
var prozentsatz = 0.10;

Shopify.addItem = function() {
      params = {
    type: 'POST',
    url: '/cart/add.js',
    data: 'quantity=1' + '&id=153',
    dataType: 'json',
  };
  jQuery.ajax(params);
};
 var x = $.getJSON( "/cart.js", function() {
  //x = x.responseJSON.items["0"].discounted_price;
   y = prozentsatz * (x/100);
   z = x - y*100;
   console.log(z);
   console.log(y);
   console.log(x);
   //x = z;
   console.log(x);
	
 
 })
 console.log(x);
</script>
<div id="freegift_cart_container" name="sca.fg.cart" class="sca-fg-cart-container" style="display: none;">
  <div id="freegift_message" class="owl-carousel"></div>
</div> 
<div id="sca-fg-slider-cart" style="display: none;">
  <div class="sca-fg-cart-title">
    <strong>Select your free gift (s)</strong>
  </div>
  <div id="sca_freegift_list" class="owl-carousel"></div>
</div>
<div id="sca_fg_cart">

<div id="content2">
<div id="shopping-cart" class="desktop-12 tablet-6 mobile-3">

 
  {% if cart.item_count == 0 %}
  <h2>{{ 'Shopping Cart' }}</h2>
  {%comment%}
  <h2>{{ 'cart.general.title' | t }}</h2>
  {%endcomment%}
  <p>{{ 'cart.general.empty' | t }}</p> 
  
  <div id="leerWagenButton">
  <a href="/collections/all-1">
      <input  name="continue" id="continue" value="{{ 'cart.general.continue' | t }}" class="button" style="text-align:center;"/>
      </a>
  </div>
  
  {% else %}
  <h2 style="margin-left:1em; font-size:20px;">{{ 'Shopping Cart' }}</h2>
  <script type="text/javascript">
    function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cartform').submit();
    }
  </script>

  <form action="/cart" method="post" id="cartform">

    <div id="basket-right" class="desktop-3 tablet-6 mobile-3">
      
      
     
      {%comment%}
      <div class="clear"></div>
      {% if additional_checkout_buttons %} {{ content_for_additional_checkout_buttons }} {% endif %}
      <div class="clear"></div>
       {%endcomment%}
    </div>
    
    <table class="desktop-9 tablet-6 mobile-3" style="width:100%;">
      <thead style="border-bottom: 1px solid black;">
        <tr >
          <th>{{ 'cart.general.product' | t }}</th>
          <th>{{ 'cart.general.price' | t }}</th>
          <th>{{ 'Quantity'  }}</th>
          
          <th>{{ 'cart.general.total' | t }}</th>
        </tr>
      </thead>
      <tbody style="border-bottom: 1px solid black;">
        {% for item in cart.items %}
        <tr style="border-bottom: 1px solid black;">
          <td>
            <div class="cart-item">
              <div class="cart-image">
                <a href="{{ item.url }}" title="{{ item.product.title | escape }}">
                  

                  <img src="{{ item | img_url: 'small' }}"  alt="{{ item.title | escape }}" />         
                </a>
              </div>
              <div class="cart-title">
                {% if settings.vendor %}<p>{{ item.vendor }}</p>{% endif %}
                
                <p>{{ item.title }}</p>
                <p>{{ item.grams | weight_with_unit }}</p>
                <p><a href="#" onclick="remove_item({{ item.variant.id }}); return false;" style="color:grey;">Remove</a></p>
                
                
                
                {% assign property_size = item.properties | size %}
                {% if property_size > 0 %}
                
                {% for p in item.properties %}
                {% unless p.last == blank %}
                {{ p.first }}:

                {% comment %}
                Check if there was an uploaded file associated
                {% endcomment %}
                {% if p.last contains '/uploads/' %}
                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {% else %}
                {{ p.last }}
                {% endif %}

                <br>
                {% endunless %}
                {% endfor %}
                
                {% endif %}
              </div>
            </div>
          </td>
          <td>
            <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>
            <p>{{ item.price | money }}{% if item.variant.compare_at_price > item.price %}<br /><del>{{ product.variants[1].price | money }}</del>{% endif %}</p>          
          </td>
          <td>
            {%comment%}
            <input type="text" class="cart-qty" size="4" name="updates[{{ item.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}" onfocus="this.select();" style="max-width: 50px; text-align: center; margin: 0 auto 10px; "/> 
            
            {%endcomment%}
            <select class="cart-qty"  type="submit" name="updates[{{ item.id }}]" id="updates_{{ item.variant.id }}" value="{{ item.quantity }}"  onchange="this.form.submit();"  style="max-width: 50px; text-align: center; margin: 0 auto 10px; "> 
            {% for i in (0..10) %}
<option  value="{{ i }}" >{{ i }}</option>
{% endfor %}
</select>
         {{ item.quantity }}   
            <script type="text/javascript">
   $("#updates_{{ item.variant.id }}").val("<?php echo $_POST['updates[{{ item.id }}]'];?>");
</script>
          </td>
          
          {% comment %}
          <td style="text-align: center">
            <p><a href="#" onclick="remove_item({{ item.variant.id }}); return false;">Remove</a></p>
          </td>
          {% endcomment %}
          <td>
            <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>
            <p>{{ item.line_price | money }}</p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


    <div id="basket-right" class="desktop-3 tablet-6 mobile-3">
      <h4 style="margin-right: 4em;"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>{{ 'cart.general.subtotal' | t }} {{ cart.total_price | money }}</h4>
      <p>&nbsp;</p>
      <hr>
     
<div>
   <a href="/collections/all-1">
      <p  name="update" style="float: left;text-align: center; margin-top: 7.5em;font-size: 20px;"  ><i class="fa fa-chevron-left" aria-hidden="true"></i>{{ 'cart.general.continue' | t }}</p>
   </a>
   {%comment%}
   <div id="shipCalc" >
      {% include 'shipping-calculator' %}
   </div>
   <input type="submit" name="update" id="update-cart" value="{{ 'cart.general.update' | t }}" class="button"  style="width: 20%;
      float: left;
      display: inline;
      "/>
   {%endcomment%}
   <h3>Discount Code</h3>
   <input type="text" name="discount" id="discount"/>
   <p>Discount codes will be applied at check out.</p>
</div>

      {{checkout.shipping_price | money}}
      {% comment %}
      <p><a href="/collections">{{ 'cart.general.continue' | t }}</a></p>
      {% endcomment %}
      
      <input type="submit" id="check" name="checkout" id="checkout" value="{{ 'cart.general.checkout' | t }}" class="button" />
      
      <div class="clear"></div>
      {%comment%}
      {% if additional_checkout_buttons %} {{ content_for_additional_checkout_buttons }} {% endif %}
      {%endcomment%}
      <div class="clear"></div>
      
      {% for type in shop.enabled_payment_types %}
      <img src="{{ type | payment_type_img_url }}" />
      {% endfor %}       
    </div>

{% comment %}
    <div id="cart-notes" class="desktop-12 mobile-3">
      <label for="note"><strong>{{ 'cart.general.note' | t }}</strong></label>
      <textarea name="note" id="note" rows="5" cols="60">{{cart.note}}</textarea>  
    </div>     
{% endcomment %}


  </form>
  {% endif %}

  <div class="clear"></div>

  {% if settings.show_recent_products %}
  <div id="looked-at" class="desktop-12 mobile-half">
    {% include 'recently-viewed' %}
  </div>
  {% endif %}

</div>

 
</div>
</div>
{% include 'nosto-element' with 'cartpage-nosto-1' %}

{% include 'nosto-element' with 'cartpage-nosto-2' %}

{% include 'nosto-element' with 'cartpage-nosto-3' %}
