<div id="collectionpage">
  {% paginate collection.products by 30 %}
  
  <div class="collection-description desktop-12">
    {% comment%}
    <h1 class = "title">{{ collection.title }}</h1>
    {%endcomment%}
    <div class="rte">
      <h1 style="font-family:DaftBrush;font-size:30px;">{{ collection.description | remove: "[banner]" }}</h1>
    </div>
  </div>
  
  <div class="clear"></div>
  
  {% if settings.collection-sidebar %}
    {% include 'collection-sidebar' %}

  {% else %}
  
  {% comment %}
  <div id="sorting-hat" class="desktop-12">
    {% include 'sort' %}
  </div>
  {% endcomment %}
  
  {% endif %}
  
<div id="category">
    <ul class="subnav clearfix">
    <li{% unless current_tags %} class="active"{% endunless %}>
    {% if collection.handle %}
    <a class = "test1" href="/collections/{{ collection.handle }}{% if collection.sort_by %}{{ collection.sort_by }}{% endif %}">All</a>
    {% elsif collection.current_type %}
    <a href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">All</a>
    {% elsif collection.current_vendor %}
    <a href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">All</a>
    {% endif %}
  </li> 
      
  {% for tag in collection.all_tags %}
    {% unless (tag != 'sweet') and (tag != 'savory') and (tag != 'spicy') %}
    
  {% if current_tags contains tag %}
  <li class="active">
    {{ tag | link_to_remove_tag: tag }}
  </li>
  {% else %}
  <li>
    {{ tag | link_to_tag: tag }}
  </li>
  {% endif %}
    {% endunless %}
     
  {% endfor %}
	</ul>
</div>
  
  
<div id="product-loop" class="{% if settings.collection-sidebar %}desktop-9 tablet-4{% else %}desktop-12 tablet-6{% endif %} mobile-3">
    
    {% for product in collection.products %}
    {% assign products-per-row = settings.products-per-row %}
    
    {% include 'snippet-product-item' %}
    
    <div class="product-index {% if products-per-row == "6" %}desktop-2{% cycle ' first', '', '', '', '', ' last' %}{% elsif products-per-row == "4" %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products-per-row == "3" %}desktop-4{% cycle ' first', '', ' last' %}{% elsif products-per-row == "2" %}desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-half" id="prod-{{ product.id}}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">     
      {% include 'product-listing' %}
    </div>
    
    
    
    {% endfor %} 
    
    
  </div>
  
  
  <div class="clear"></div>
  
  {% include 'pagination' %}
  
  {% endpaginate %}
  
</div>
<script>
 $(".test1").on('click', function() {
   var test = {{ collection.title }} ;
   (".title").text( test-"sweet");
 });
</script>