
{% include 'nosto-element' with 'categorypage-nosto-1' %}
<div id="collectionpage">
  {% paginate collection.products by 48 %}
  
  <div class="collection-description desktop-12">
    {% comment%}
    <h1>{{ collection.title }}</h1>
    {%endcomment%}
    <div class="rte">{{ collection.description | remove: "[banner]" }}</div>
  </div>
  
  <div class="clear"></div>
  
  {% if settings.collection-sidebar %}
  {% include 'collection-sidebar' %}
  {% else %}
  
  {% comment %}
  <div id="sorting-hat" class="desktop-12">
    {% include 'sort' %}
  </div>
  {%endcomment%}
  
  {% endif %}
  
  {% if collection.handle == 'all-1' %}
  <div>
    <h1 style="font-family:DaftBrush;font-size:30px;">NO ENHANCERS - PURE FLAVOR! <br>DISCOVER OUR SEASONINGS THAT CREATE THE MOST AUTHENTIC MEALS</h1>
  </div>
  {%endif%}
  
  {% if collection.handle == 'collections' %}
  <div>
    <h1 style="font-family:DaftBrush;font-size:30px;">Creative Gift Ideas - Endow your friends and family with Spice Gift Sets</h1>
    
  </div>
  {%endif%}
  
  {% if collection.handle == 'gift-card' %}
  <div>
    <h1 style="font-family:DaftBrush;font-size:30px;">Just Spices Gift Cards for your family and friends</h1>
  </div>
  {%endif%}
  
  
 <div id="category">
    <ul class="subnav clearfix">
  <li{% unless current_tags %} class="active"{% endunless %}>
    {% if collection.handle %}
    <a href="/collections/{{ collection.handle }}{% if collection.sort_by %}{{ collection.sort_by }}{% endif %}">All</a>
    {% elsif collection.current_type %}
    <a href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">All</a>
    {% elsif collection.current_vendor %}
    <a href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">All</a>
    {% endif %}
  </li>
      
  {% for tag in collection.all_tags %}
    {% unless (tag != 'sweet') and (tag != 'savory') and (tag != 'spicy') %}
    
  {% if current_tags contains tag %}
  <li class="active">
    {{ tag | link_to_remove_tag: tag }}
  </li>
  {% else %}
  <li>
    {{ tag | link_to_tag: tag }}
  </li>
  {% endif %}
    {% endunless %}
     
  {% endfor %}
	</ul>
</div>
  
  
  
  {%comment%}
{% if collection.handle == 'all' %}
  <div id="BildueberProdukte">
      <img src="{{ 'Auswahl_010.png' | asset_url }}" style="
height: auto;
width: 100%;

" title="My image" />
    </div>
  {%endif%}
 {%endcomment%} 
  
  <div id="product-loop" class="{% if settings.collection-sidebar %}desktop-9 tablet-4{% else %}desktop-12 tablet-6{% endif %} mobile-3">
    
    {% for product in collection.products %}
    {% assign products-per-row = settings.products-per-row %}
    
    {% include 'snippet-product-item' %}
    
    <div class="product-index {% if products-per-row == "6" %}desktop-2{% cycle ' first', '', '', '', '', ' last' %}{% elsif products-per-row == "4" %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products-per-row == "3" %}desktop-4{% cycle ' first', '', ' last' %}{% elsif products-per-row == "2" %}desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-half" id="prod-{{ product.id}}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">     
      {% include 'product-listing' %}
    </div>
    
    
    
    {% endfor %} 
    
    
  </div>
  
  
  
  <div class="clear"></div>
  
  {% include 'pagination' %}
  
  {% endpaginate %}
  
</div>


{% include 'nosto-element' with 'categorypage-nosto-2' %}
