<!-- Add the slick-theme.css if you want default styling -->
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}

<div class="gridlock row desktop-12 mobile-hidden" style="margin:auto;margin-bottom:30px;">
   <div class="carousel">
   	 <div><a href="https://www.justspices.com/products/sample-box"><img src="{{ 'header_samplebox1.jpg' | asset_url }}" alt="{{ shop.name }} | avocado guide "/></a></div>
     <div><a href="https://www.justspices.com/collections/box-sets"><img src="{{ 'italianflavors_d.jpg' | asset_url }}" alt="{{ shop.name }}"/></a></div>
     <div><a href="https://www.pinterest.de/justspices_usa/boards/"><img src="{{ 'header_cleaneating_6.jpg' | asset_url }}" alt="{{ shop.name }}"/></a></div>
     <div><a href="https://yummy.justspices.com/guides/"><img src="{{ 'header_cleaneating_2.jpg' | asset_url }}" alt="{{ shop.name }}"/></a></div>
  </div>
</div>
<div class="gridlock row desktop-hidden" style="margin:auto;margin-bottom:30px;">
   <div class="carousel">
   	<div><a href="https://www.justspices.com/products/sample-box"><img src="{{ 'header_mobile_samplebox.jpg' | asset_url }}" alt="{{ shop.name }} | avocado guide "/></a></div>
	<div><a href="https://www.justspices.com/collections/box-sets"><img src="{{ 'italianflavors_m.jpg' | asset_url }}" alt="{{ shop.name }}"/></a></div>
    <div><a href="https://www.pinterest.de/justspices_usa/boards/"><img src="{{ 'header_mobile_cleaneating_2.jpg' | asset_url }}" alt="{{ shop.name }}"/></a></div>
    <div><a href="https://yummy.justspices.com/guides/"><img src="{{ 'slide3-mobile.jpg' | asset_url }}" alt="{{ shop.name }}"/></a></div>
  </div>
</div>
{% if settings.home_section != blank %}
  {% include settings.home_section_1 %}
{% endif %}
<div class="gridlock" style="margin-bottom: 1em;">
   <div class="row" style="margin-top: 1em;">
     <h1 class="bestSellerHeading">OUR BEST SELLING SEASONINGS</h1>
      <div class="desktop-12 best-seller">
         {% for product in collections.Best-Seller.products %}
         <div class="desktop-3 tablet-3 gridlock row mobile-half relative">
            	{% for tag in product.tags %}{% if tag == 'new' %}<img class="new" src="{{ 'neu.png' | asset_url }}"  style="width:25%"/>{% endif %}{% endfor %}
            		<a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
               			<img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                      <div style="background-color:#F0F0F0;min-height: 66px;">
               			<h2 id="product-listing-font" style="margin:auto;text-align: center;background-color:#F0F0F0;text-transform:uppercase;font-size:16px;">{{ product.title }}</h2>
                      </div>
                        <div style="background-color:#F0F0F0;text-align: center;position: relative;padding: 1em;margin-top: -.8em;">
                  			<button id="product_button_collection" style="margin:auto;width:100%;">
                  				{% if product.price_varies %} {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %} | Buy now
                  			</button>
               			</div>
           	 		</a>
         </div>
        {% endfor %}
      </div>
   </div>
</div>
{% if settings.home_section_2 != blank %}
  {% include settings.home_section_2 %}
{% endif %}

{% if settings.home_section_3 != blank %}
  {% include settings.home_section_3 %}
{% endif %}

{% if settings.home_section_4 != blank %}
  {% include settings.home_section_4 %}
{% endif %}

{% if settings.home_section_5 != blank %}
  {% include settings.home_section_5 %}
{% endif %}

{% if settings.home_section_6 != blank %}
  {% include settings.home_section_6 %}
{% endif %}

{% if settings.home_section_7 != blank %}
  {% include settings.home_section_7 %}
{% endif %}

{% if settings.home_section_8 != blank %}
{% endif %}

{% if settings.home_section_9 != blank %}
  {% include settings.home_section_9 %}
{% endif %}


<div class="clear"></div> 
{% include 'faceshome' %}
<div class="clear"></div> 

<div class="row" style="padding: 10px;">
  <h2 class="daftBrush text-center fs-40">JUst Spices Instagram</h2>
  <div class="ssw-html-widget ssw-instagram-widget" data-module="service" data-name="instagramPhotos" data-gallery_id="1" data-type="slide">
	<div class="ssw-page-loading">
		<span class="ssw-spin ssw-loader"></span>
	</div>
</div>
  <div class="instagramFollowButton text-center" style="margin-top:5em">
  	<a class="text-center" href="https://www.instagram.com/justspices_us/">
  		<buton class="fs-20" id="product_button_collection" style="padding:1em;">Follow @justspices_us</buton>
  	</a>
  </div>
</div>
<a id="inline" href="#data"></a>
<div style="display:none">
  <div id="data">
    <img src="{{ 'check.png' | asset_url }}" alt="Check {{ shop.name }}">
    <p class="fs-24 text-center">Your product is automatically added to your cart.</p>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  if(window.location.href.indexOf("freegifts_code") > -1) {
    $("a#inline").fancybox().trigger('click');
  }
  setTimeout(function(){
  $('.best-seller').slick({
    autoplay:true,	
    autoplaySpeed:10000,
    dots: true,
    arrows: true,
    infinite: false,
    speed: 1000,
    slidesToShow: 4,
    centerMode: false,
    slidesToScroll: 1,

   		 responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 4,
                            infinite: true
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,
                            infinite: true
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            infinite: true
                        }
                    }
                ]

            
  });
    $('.carousel').slick({
        autoplay: true,
        autoplaySpeed: 10000,
        dots: true,
        arrows: true,
        infinite: true,
        speed: 1000,
        slidesToShow: 1,
        centerMode: false,
        slidesToScroll: 1,
        responsive: [{
                breakpoint: 1200,
                settings: {
                    slidesToShow: 1,
                    infinite: true
                }
            },
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: 1,
                    infinite: true
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 1,
                    infinite: true
                }
            }
        ]
    });
    $('.dosen').click(function() {
        $(this).addClass("active").siblings().removeClass("active");
        $('.start').removeClass("start");
    });
    $('.readmore').click(function() {
        $(".readmore").css("display", "none");
        $(".textonfaces").css("overflow", "visible");
        $(".readless").css("display", "block");
    });
    $('.readless').click(function() {
        $(".readless").css("display", "none");
        $(".textonfaces").css("overflow", "hidden");
        $(".readmore").css("display", "block");
    });
    $('.slider-faces-mobile').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        dots: true,
        centerPadding: 0,
        autoplay: false
    });
    $('.slider-faces').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        centerPadding: 0,
        asNavFor: '.slider-dosen-faces',
        autoplay: false,
        autoplaySpeed: 10000
    });
    jQuery('.slider-dosen-faces').slick({
        slidesToShow: 5,
        slidesToScroll: 1,
        asNavFor: '.slider-faces',
        dots: true,
        centerMode: false,
        autoplay: false,
        autoplaySpeed: 10000,
        focusOnSelect: true,
        responsive: [{
                breakpoint: 1200,
                settings: {
                    slidesToShow: 4,
                    infinite: true
                }
            },
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: 3,
                    infinite: true
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 2,
                    infinite: true
                }
            }
        ]
    });
},10);
  });
</script>