<style>
  .white-color{
   	color: white; 
  }
  .kennenlernbox h1{
	font-size: 26px !important;
    font-family: "BrandonGrotesque-Black";
    text-align: left !important;
    margin-bottom:0;
  }
@media screen and (max-width: 500px) {
  #kennenlernboxParagraph{
  	margin-top: -42px !important;
  	text-align: center;
  }
  #kennenlernboxParagraph h1{
  	text-align:center !important;
  }
  #gratis{
    font-size:12px !important;
  }
 #img2 {margin-bottom:-3em ! important}
.mobil_text_left{text-align:left ! important;}


h1.title{

    font-size:18px !important;
    padding-bottom: 0px ! important;
  }
.mobil_text_center{text-align:center;}
#list ul li {font-size: 12px;font-weight: bold;}
 }
</style>
<div id="content" style="background-color:white;">
   <div id="page" class="desktop-12 mobile-3 kennenlernbox">
     <div class="desktop-12 tablet-3 mobile-3">
     	<picture>
  			<source media="(min-width: 1000px)" srcset="{{ 'header_food.jpg' | asset_url }} 1x">
  			<source media="(min-width: 465px)" srcset="{{ 'FOOD_algengewuerzsalz_pokebowl.jpg' | asset_url }} 1x">
          	<img src="{{ 'FOOD_algengewuerzsalz_pokebowl.jpg' | asset_url }}" alt="a cute kitten">
		</picture>
    </div>
    <div class="desktop-7 tablet-3 mobile-3" style="margin-top: -10em;">
    	<picture>
  			<source media="(min-width: 1000px)" srcset="{{ 'us_10ersamplebox_aktion.png' | asset_url }} 1x">
  			<source media="(min-width: 465px)" srcset="{{ 'us_10ersamplebox_aktion_m.png' | asset_url }} 1x">
          	<img src="{{ 'us_10ersamplebox_aktion_m.png' | asset_url }}" alt="a cute kitten">
		</picture> 
    </div>
	<div class="desktop-5 tablet-3 mobile-3" id="kennenlernboxParagraph" style="margin-top: 18px;" >
 		<h1 class = "title">SAMPLE BOX FOR FREE*</h1>
		<p class="fs-16" style="margin-bottom:0">Dive into our exciting world of spices!<br /><br/></p>
		<p class="fs-16" style="margin-bottom:0">Make sure to get a welcome box free to your order & expect a colorful mixture of spices:</p>
   		<br />
   		<div id = "list" style= "overflow: hidden;width:100%">
      		<ul class="fs-16"style="list-style-type:none;float:left;width:50%;text-align:left;font-weight:bold;">
         		<li>// Ranch Seasoning</li>
         		<li>// Guacamole Seasoning</li>
         		<li>// Chicken Seasoning</li>
         		<li>// Pizza Seasoning</li>
         		<li>// Tofu Seasoning</li>
      		</ul>
      		<ul class="fs-16" style="list-style-type:none;float:left;width:50%;text-align:left;font-weight:bold;">
         		<li>// Savory Eggs Blend</li>
         		<li>// Pancake Blend</li>
         		<li>// Clean Eating Allrounder</li>
         		<li>// Flavors of Italy</li>
         		<li>// Vegetable Seasoning</li>
      		</ul>
   		</div>
   		<button style = "background-color:#FA4A59;border:transparent;width:100%" type="button" title="Free Welcome set" onclick="window.location.href='https://www.justspices.com?freegifts_code=samplebox'">
   			<span>
   				<span class="fs-16 white-color" id="gratis">GET YOUR FREE SAMPLE BOX</span>
   			</span>
   		</button>
   		<div class="desktop-hidden tablet-hidden mobile-3"  >
      		<img class = "img-responsive " src="{{ 'us_anleitung_m.png' | asset_url }}" alt="Welcome set instructions" />
   		</div>
   		<p style="color:black; font-weight:bold; font-size:12px;margin-bottom:0px">*Minimum order value of 14,00 $</p>
	</div>
	</div>
</div>