<div id="page" class="desktop-12 mobile-3"> 

  <div class="desktop-6 mobile-3">

    <div class="rte">{{ page.content }}</div>
  </div> 
    <h1>{{ page.title }}</h1>
   <div class = "contact-adresse desktop-6 mobile-3 " style = "margin-top: 1em ; margin-bottom:2em">
    <p name = "firma"><strong>Just Spices</strong></p>
    <p>1201 Orangen Street<br>Suite 600<br>Wilmington<br>New Castle Country<br>Delawar 19801</p>
    <p><Strong>E:</Strong> {{'amy@justspices.com' }} </p>
  
  </div>


  <div class="desktop-6 mobile-3" style = "float:left" >
    
    {% include 'contact' %}
   
  </div>  

</div> 
