<div id="content" style="background-color:white;">
   
   <div id="page" class="desktop-12 mobile-3">
      {%comment%}
      <h1>{{ page.title }}</h1>
      {%endcomment%}
      <div class="rte">{{ page.content }}
      </div> 
      {% if page.title == 'Quality' %}
      <div id="page" class="desktop-12 mobile-3" style="background-color:white;width: 100%">
        <h1 style="text-align:center;font-size:30px;font-family:DaftBrush">OUR QUALITY</h1>
         <div id="qualityOne">
            <div id="qualityBildOne">
              <img src = "{{ 'herkunft1.jpg' | asset_url }}" alt =" Origin- Just Spices" /> 
            </div>
            <div id="qualityTextOne">
               <div class="inner">
                  <h1 style="text-align:center;">ORIGIN OF JUST SPICES</h1>
                  <p style="font-size: 18px;"> 
                    We handpicked the best areas to cultivate our spices and personally met the farmers
                    who grow and harvest our spices during our world tour. Because of this, we are able 
                    to guarantee that all our ingredients are intricately cultivated and meet the highest standards.  
                  </p>
               </div>
            </div>
         </div>
         {%comment%}
         ende erster abschnitt
         {%endcomment%}
        
<!--         <div style = "float:left"><h2 style="text-align:center;">Our promise to you</h2>
                  <p style="font-size: 18px;"> 
                   We offer you top quality at a fair price. 
          </p></div>  -->

         <div id="qualityTwo">
            <div id="qualityBildTwo">
                <img src = "{{ 'qualitat1.jpg' | asset_url }}" alt ="Quality- Just Spices" />   
            </div>
            <div id="qualityTextTwo">
               <div class="inner">
                  <h1 style="text-align:center;">QUALITY</h1>
                  <p style="font-size: 18px;"> 
                    We set ourselves very high hygiene standards to ensure the best quality.
                    Therefore we made sure that all our suppliers are ISO 9001: 2008 certified
                    and have an integrated HACCP sanitation system.
                  </p>
               </div>
            </div>
         </div>
         {%comment%}
         ende zweiter abschnitt
         {%endcomment%}
         <div id="trenner">
            <hr style="width=75%;border: solid #979797;
               border-width: 1px 0 0;
               clear: both;display:none;">
         </div>
         <div id="qualityThre">
            <h1 style="text-align:center;font-size:30px;">OUR PROMISE TO YOU</h1>
            <div id="qualityTextThre">
               <div id="dreiTextallQ">
                  <div class="dreiTextQ">
                     <p style="font-size:18px">Top quality at a fair price - this is our promise to you.
                        Our process starts like this: After careful studying of locations across the world, we choose the best area to begin cultivating our ingredients.
                        As soon as they’ve been harvested they’re shipped to Germany, where we have an independent lab thoroughly check the quality again.
                     </p>
                  </div>
                  <div class="dreiTextQ">
                     <p style="font-size:18px">In addition to all that, the spices must pass the Just Spices quality test (okay, admittedly we don’t try the chili peppers completely raw).
                        Our goal is to bring the best herbs and spices from around the world into your home, and that’s something we can’t do without raising our standards higher and higher like we’ve been doing.
                     </p>
                  </div>
                  <div class="dreiTextQ">
                     <p style="font-size:18px">
                        That way, we hope to encourage you to have fun in the kitchen and experiment with new dishes.
                        With our spices, you’ll eat your regular home-cooked meals in a whole new way with a bright smile on your face.
                        Be sure to expect an explosion of taste every time!
                        Top quality at a fair price - this is our promise to you!
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {%elsif page.title == 'Packaging'%} 
     
      <div id="page" class="desktop-12 mobile-3" style="background-color:white;width: 100%;margin-left: -1em;">

<!-- 	<picture>
  			<source media="(min-width: 1140px)" srcset="{{ 'katze1x.jpg' | asset_url }} 1x,{{ 'katze2x.jpg' | asset_url }} 2x,{{ 'katze3x.jpg' | asset_url }} 3x">
  			<source media="(min-width: 465px)" srcset="images/kitten-sitting.png">
          	<img src="images/kitten-curled.png" alt="a cute kitten">
		</picture>
-->
         <h1 style="text-align:center;font-size: 30px; font-family:daftBrush">The Packaging</h1>
         <div id="packagingBildOne">
            <img src = "{{ '160927_mopckup_bbq_seasoning.jpg' | asset_url }}" alt="Packging - Just Spices"/>
         </div>
        <div id="packagingTextOne">
           <h2 style= "font-family:'Arial';font-weight: bold">Our packaging</h2>
        <p style="font-size: 16px;text-align:justify;font-weight: normal"> 
             Our packaging is designed to keep your spices fresh for as long as possible. We created them based on the three key principles of storing spices, namely: 
             keeping them airtight, protecting them from sunlight, and keeping them dry.</p>
        </div>
         <div id="packagingTextTwo">
           <h2 style = "font-family:'Arial'; font-weight: bold">Sun, Air & Water Protection </h2>
           <p style="font-size: 16px;text-align:justify;font-weight: normal">  
             When the spice plants are growing, they need sun and water. However, once they’re harvested, the opposite is the case. That’s because sunlight, air and water diminish the spices’ flavor and color. Therefore our packaging is 100% protected from the sun,
             airtight and waterproof. In other words, in our packaging the taste of your spices is optimally preserve</p>
<!--<p style="font-size: 16px;"> 
               Generally, the packaging should look good and be straightforward. But with ours, there’s a little more to it. For us, it’s crucial that our packaging is able to keep our spices fresh for as long as possible. When it comes to storing spices, there are several things to consider: that they’re airtight, protected from the sun, and dry. Keeping this in mind, we came up with the perfect solution for the freshest spices.
               <br><br>
               <strong>Fresh</strong> 
               Our boxes are made mostly of paperboard, and composed of aluminum on the inside. We believe that the spices stay fresher and crispier this way. But we didn’t stop there. For maximum, long-lasting freshness, we developed an extra membrane for our cans.
            </p> -->
         </div>
         <div id="packagingTextTree">
           <h2 style= "font-family:'Arial';font-weight: bold">So what are they made off?</h2>
           <p style="font-size: 16px; text-align:justify;font-weight: normal"> 
             Our boxes are made out of paperboard with an aluminium layer on the inside. Additionally, an extra membrane is ensuring long-lasting freshness.
            </p>
           
<!--<p style="font-size: 16px;"> 
               <strong>Sun Protection</strong> 
               When spice plants are being harvested, they need sun. However, once they’re picked, the opposite is the case.
               That’s because sunlight diminishes the spices’ flavor and even the color, no matter how small the "light loopholes" in the package may be.
               Our packaging is 100%  protected from the sun; SPF 100 so to speak! In other words, the taste and freshness of your spices are optimally preserved.
               <br><br>
               The best consequence of this: no more hiding your spice collection in dark cupboards! Now you can show what you've got!
               Small advice for the pros: make sure not to put your spices close to a moist place in the kitchen, like the shelf above your stove.
               Even the smallest amount of moisture adversely affects the freshness and flavor. You wouldn’t want that.
               <br><br>
              That said - you can now focus on the most important part: cooking delicious meals!</p>-->
           </div>
      </div>      
      {%elsif page.title == 'Help'%}  
      <div id="faq">
         <h1 stysle="font-size: 30px;">FAQs</h1>
         <p style="margin-bottom: 10%;">Here are some common questions about Just Spices.</p>
         <div id="QA">
            <ul>
               <li class="faq_liste">How does Just Spices make cooking fun? <i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">At Just Spices you can discover your favorite spice blends, browse through a wide range of spicy recipes and
                 learn everything you ever wanted to know about cooking. Keep an eye on our blog and subscribe to our newsletter where even give 
                 away some of our best kept secrets and share various kitchen life hacks. Can’t wait to get started? We also offer sets of our 
                 favorite spices as well as gift cards to encourage your friends and family to spice up their lives! 
               </li>
               <li class="faq_liste">Why should I use spices?<i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">Take a minute to imagine a world without spices. Your chicken curry would be bland, your chili con 
                 carne would be dull, and every dish would lack salt and pepper! Without spices, food simply becomes boring. Our spices are
                 there to give you the tools to transform your meals into true masterpieces. Needless to say, frequent taste explosions are to be expected. :)
               </li>
               <li class="faq_liste">What’s the shelf life of your spices?<i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">When unused, most of our spice blends will stay fresh for at least 18 months.* If spices reach their expiration date,
                 they are still usable, but the quality might decline. The key rule here is: The fresher the spices, the better the taste! Therefore we recommend
                 to keep your spices away from sunlight and from moisture, but no worries, our packaging is designed to help you do this.<br/>
                 * Our sweet spices: Coffee Kiss, Sweet Love, Berry Yoghurt, and Oatmeal Seasoning have a shorter expiration date due to their ingredients. 
               </li>
               <li class="faq_liste">Are Just Spices seasonings suitable for vegans?<i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">Yes! All our spices are free from animal products. In fact, if you are looking for some inspiration on how to use our spices,
                 we have various vegan recipes for you to choose from. Check them out on our blog! 
               </li>
               <li class="faq_liste">Are Just Spices seasonings suitable for allergy sufferers and diabetics? <i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">For allergy sufferers and diabetics, we provide a list of the ingredients used on the product pages. If you can’t find your answer there, we’re 
                 happy to provide you with more information. Feel free to contact us via the contact form and we’ll do our best to provide you with the information you need.
               </li>
               <li class="faq_liste">What about additives and flavor enhancers? <i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">You can expect all Just Spices spice blends to be of the highest quality. To us, this means that we don’t dilute them with synthetic additives or
                 flavor enhancers. Are you interested in our quality commitment? You can read more under "quality
               </li>
              <li class="faq_liste">How do your gift cards work?<i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
              <li class="faq_liste">Do you want to spice up the lives of your friends and family? Then the Just Spices gift card could be the perfect gift! Creating a gift card is
                really easy and instant. Simply go to our gift card page and select one of our pre-made gift card designs. When you click “buy now” you can add a personal text and 
                determine the amount of money you want to give. Do you need any assistance? Feel free to contact us via the contact form, we’re happy to help! </li>
               <li class="faq_liste">Can I order spices in bulk for my restaurant?<i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">can add a personal text and determine the amount of money you want to give. Do you need any assistance? Feel free to contact us via the contact
                 form, we’re happy to help!
               </li>
               <li class="faq_liste">Can I request seasonings that are specially mixed for my restaurant?<i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">We can arrange that. Once you’ve chosen the design and the spice mixes you want, we can start mixing. Feel free to contact us via the contact
                 form to ask about personal recommendations when choosing your spices and herbs.
               </li>
               <li class="faq_liste">Why didn’t I receive an order confirmation or invoice? <i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">Oops, it seems like something’s not right! Maybe your email address is incorrect, or there was a problem with the internet connection during
                 the order process? Try logging in again with your email and password. Click on your user profile and then again on your account. There you’ll be able to see a 
                 list of all of your past orders; if it isn’t there, just try again. Not a member yet or can’t sign in, just contact us via the contact form and we’ll check it for you! 
               </li>
               <li class="faq_liste">Is there a minimum I must order?<i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">Yes, we ask you to order a minimum of $10.</li>
               <li class="faq_liste">I am having trouble paying for my order.<i class="fa fa-plus fa-custom-icon-3" aria-hidden="true"></i></li>
               <li class="faq_liste">Oh no! Please check whether all your details are entered correctly. Still not working? Feel free to contact
                 us via the contact form, we’re happy to help
               </li>
            </ul>
         </div>
      </div>
      <script type="text/javascript">
         function toggle(tag) {
             var x=document.getElementsByName(tag)[0];
             var a = x.parentNode
             if (a.style.display=='block'){
                 a.style.display='none'
             }else{
                 a.style.display='block'     
             }
         }
         
         
         function init() {
             //this function will add show hide functionality to paired list items,
             //as long as the answer is a list item straight after the question list item.
             //You can also have as many separate lists as you want.
             //all lists must be contained within a div with id QA

             var obj = document.getElementById('QA');
             var elements = document.getElementsByTagName('li');
                    var index = 1 
             //add javascript to question elements
                   //you could also add styling to question elements here
             for (var i=0; i < elements.length; i+=2){
                 var element = elements[i]; 
                 element.innerHTML = "<a href='javascript:toggle(" + index + ")'>" + element.innerHTML + "</a>"
                 index = index + 1
             } 
             //add bookmark to answer elements and add styling
             var index = 1
             for (var i=1; i < elements.length; i+=2){
                 var element = elements[i]; 
                 element.innerHTML = "<a name='" + index + "' id='" + index + "'></a>" + element.innerHTML 
                 index = index + 1
                      element.style.padding = '10px 0px 10px 20px' //add indent to answer
                            element.style.listStyleType = 'none' //remove bullet
                 element.style.display = 'none' //hide answer element
             }       
          }
         
         
         window.onload = init; 
         
      </script>
      {%elsif page.title == 'Friends'%} 
      {% if customer%}
      {% include 'accountMenu' %}
      {%endif%}
      <div id="page" class="desktop-12" style="background-color:white">
         <iframe id="refcandy-candyjar" data-id="fk33qsdle6m6qnl8g06wltwry" data-height="850" data-width="100%" frameborder=0></iframe>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-candyjar.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-candyjar-js");</script>
      </div>
      {%elsif page.title == 'Personal'%}
      {% if customer%}
      {% include 'accountMenu' %}
      <div id="customer_sidebar" class="desktop-3 mobile-3">
         <div id="customer_detail" class="group">
            <h5 class="name">{{ customer.name }}</h5>
            <p class="email note">{{ customer.email }}</p>
            <div class="address note">
               {% if customer.default_address != nil %}
               <p>{{ customer.default_address.address1 }}</p>
               {% if customer.default_address.address2 != "" %}
               <p>{{ customer.default_address.address2 }}</p>
               {% endif %}
               <p>{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}</p>
               <p>{{ customer.default_address.zip}}</p>
               <p>{{ customer.default_address.phone }}</p>
               {% endif %}
               {% comment %}
               <a id="view_address" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
               {%endcomment%}
            </div>
         </div>
      </div>
      {%endif%}
      {%elsif page.title == 'Mission'%}
      <div id="page" class="desktop-12 mobile-3">
     <h1 style="text-align:center;font-size:30px;font-family:DaftBrush">our Story</h1> 
     <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 headline" style = "margin-right:0.5em">
       <iframe width="100%" height="400" 
        src="https://www.youtube.com/embed/z2HkLDkLLEw" 
         frameborder="0" allowfullscreen=""></iframe></div>
          <div class="desktop-12 mobile-3" style="margin-top:4em;margin-bottom:4em">
          <div class="desktop-4 mobile-3 center">
            <h3 class = "NumberofOurStory" style="font-size: 50pt">122</h3>
            <p class="font-regular">different spices from around the world are used in our seasonings.</p>
          </div>
          <div class="desktop-5 mobile-3 center">
          	<h3  class = "NumberofOurStory" style="font-size: 50pt">42</h3>
            <p class="font-regular">seasonings are waiting for you to spice up your meals.</p>
          </div>
          <div class="desktop-3 mobile-3 center">
          	<h3 class = "NumberofOurStory"  style="font-size: 50pt">Thousands</h3>
            <p class="font-regular">of unique taste explosions to discover!</p>
          </div>
          <hr>
        </div>
         <div style="width: 100%;
            margin: auto;
            background-color: white;
            padding: 2em;">
            <h1 style="text-align: center;
               font-size: 30px;
               margin-bottom: 1em;"> THE JUST SPICES STORY AND OUR WORLD TRIP </h1>
            <div id="missionTextOben">
               <p style="font-size:16px;">Are you desperate sometimes when you need a pinch of cardamom seeds or cumin to cook a particular dish? 
                  Are you also sick of buying a whole pack of a certain spice only to use a tiny portion of it?<br><br>
                  We felt the same one evening when we were cooking with friends.
                  We wanted to prepare an Indian dish, for which we needed like 100 different spices - well, at least it felt like that.
                  It was very annoying that we needed to buy these big portions of spices for a one time thing. And of course really expensive as well! 
                  At the very same evening we had the idea for Just Spices.<br><br>
                  We are Florian, Ole and Bela from Dusseldorf (Ok, Ole lives in Cologne which means a big difference here in Germany, but that’s a whole new story).
                  Deeply passionate about cooking and food and total proponents of good taste, we want to boost your food experiences with some fancy mixes of 
                  taste explosions. Our mission is to spice up your life.
                  <br><br>
                  We want you to have fun in the kitchen, to experiment and to find out what big difference spices can make in terms of food. 
                  Be brave – cook african, balkan or scandinavian. We want your taste buds to be happier than ever! This is why we founded Just Spices. 
                  Imagine if there weren´t any spices! Chilli wouldn’t be spicy, Curry would just be stale. 
                  The excitement of eating would change into an unagitated ingestion. 
               </p>
            </div>
            <div id="missionTextObenRechts">
               <p style="font-size:16px;">
                  This is why we want to give you the spices you need to make every meal uniquely enjoyable. 
                  By the way, one side effect may be, that you will get the official celebrity chef in your clique, which isn’t a bad honor, right?
                  This year, we even went on a round-the-world trip for you. 
                  Our aim: To find the best spices and herbs in the whole wide world and to bring them home where they belong – in your kitchen!
                  <br><br>
                  We visited the kitchen of the world and looked into every pot:
                  In Italy we cooked the best pasta of the world and in Mexico we prepared the most authentic tacos that you can imagine.
                  We especially enjoyed the spicy and aromatic kitchen of India. 
                  Together with local chefs we cooked the most authentic dishes such as an original chickpea curry -
                  and of course we brought the spice recipes with us to share our experience with you!
                  <br><br>
                  We also learned about the “Cajun kitchen” in the US
                  and how to prepare delicious crawfish. We want more spices in the world, more zest in life and new taste sensations every day. Long story short:
                  we are looking for the optimum. Therefore we always try to improve: 
                  We are driven by our passion to provide you with only the best and highest quality spices in the world.
                  If you have requests or great ideas - just let us know!
               </p>
            </div>
         </div>
         <div class="clear"></div>
         <br><br>
         <div style="width: 100%;
            margin: auto;
            background-color: white;
            padding: 2em;
            margin-top: -4em;">
            <div id="missionTextUnten" >
               <p style="font-size:16px;line-height:1.5;">
               </p>
            </div>
            <div id="missionTextUntenRechts">
               <p style="font-size:16px;line-height:1.5;">
               </p>
            </div>
         </div>
      </div>
{%elsif page.title == 'Team'%}
<div class="gridlock row desktop-12" style="text-align:center;">
  <h1 style="text-align:center;font-size:30px;font-family:DaftBrush"> OUR TEAM</h1>
  <div class="team">
   <img src="{{ 'team_collage.jpg' | asset_url }}" style="margin-bottom:2em;" alt = "team - Just Spices"/>
  </div>
  <h3 style="margin-bottom: 2em;font-size:25px">The Just Spices Team consists of different characters and different<br> preferences but we all have one THING in common:</h3>
  <div class="gridlock row desktop-12" style="text-align:center;margin-top:2em;">
   <h2 style="font-size:25px">GOOD TASTE!</h2>
   <p class = "GoodTasteParagraph"style="font-size:15px; text-align:justify;line-height: 23px;margin-bottom: 3em;"> 
      Without any doubt the whole success would have never been possible without our fast evolving, young & dynamic team. We put our values at the core of how we operate as an organization- not only concerning the high quality of our products, but also with respect to our customer’s service and satisfaction. Every week brings new challenges and every week we work together as a team to overcome the challenges to follow our passion and bring the best quality spices of the entire world into your kitchen. Innovation plays a central role for our business growth and therefore we always seek to improve and create new products for you. Of course, we also benefit from that because we all are avid foodies and enjoy to eat together as a family during our lunch breaks or after work. However, we are no machines and we need some breaks too! That is why we love to cool down the work day together, organize amazing team events and celebrate holidays. This brings us closer together and boosts our team spirit. 
   </p>
  </div>
  <h2 style="font-size:25px">GET TO KNOW US BETTER!</h2>
  
<!--     <h1>THE LEADING FOODIES IN OUR JUSTSPICES FAMILY:</h1> -->
<!--   
<h2 style = "font-size:25px;">The Just Spices Team consists of different characters and different<br>preferences but we all have one THING in common:<h2> -->
<!--    <p style="margin-left: 5em;margin-right: 5em; font-size:15px;line-height: 23px;">Florian, Ole and Bela met each other during their studies and the passion for cooking has always brought them together. The spontaneous idea of travelling the world together has turned into a journey full of food inspirations. Beyond encountering various cultures, the food experiences and diversity of flavors across different cities and countries have shaped our way of thinking about flavors and spices. </p> -->
  
<div class="gridlock row desktop-4" style="text-align:center;" >
   <img src="{{ 'mockupdose_falko.jpg' | asset_url }}" style="margin-bottom:1em;" alt = "Florian - Just Spices"/>
   <p style="font-size:15px;">Florian is a real salmon lover and can eat it anytime & with everything! His favorite seasoning is the <br><a href="https://justspices.com/collections/all-1/products/flavors-of-italy" style="text-decoration: underline;">Flavors of Italy.</a> </p>
</div>
<div class="gridlock row desktop-4" style="padding: 0 1em 0 1em;text-align:center;">
   <img src="{{ 'mockupdose_ole-2.jpg' | asset_url }}" style="margin-bottom:3em;" alt = "Ole - Just Spices"/>
   <p style="font-size:15px;">Ole could never give up his beloved granola with fresh fruits for breakfast. So, his favorite Just Spices flavor is the <a href="https://justspices.com/collections/all-1/products/oatmeal-spice-blend-1" style="text-decoration: underline;">Oatmeal Spice Blend.</a></p>
</div>
<div class="gridlock row desktop-4" style="text-align:center;">
   <img src="{{ 'mockupdose_bela.jpg' | asset_url }}" style="margin-bottom:1em;" alt = "Bela - Just Spices"/>
   <p style="font-size:15px;">Bela loves fish bouillon, especially on cold winter days. His favorite spice - as easy as it sounds – is the <a href="https://justspices.com/collections/all-1/products/tellicherry-pepper" style="text-decoration: underline;">Tellicherry Pepper.</a></p>
</div>
</div>
     
{%elsif page.handle == 'press'%}
<div id="presseGanz">
   <div id="presseLinks" style="width:100%;text-align:center;">
      <div>
        <p style="font-size:20px;">Any questions regarding to PR?</p>
         <p style="font-size:16px">
            Are you interested in Just Spices and would like to know more about us? <br>
            That's great because press is always important for us! <br>
            Please send an e-mail to 
            <a href="mailto:press@justspices.com" style="text-decoration: underline;color: blue;">
            press@justspices.com
            </a>
            and we will come back to you shortly!
         </p>
      </div>
   </div>
<!--    <div id="presseUnten" style="text-align:center;">
      Download:
      <a href="https://cdn.shopify.com/s/files/1/1454/6178/files/10172016_JustSpices_Launch.pdf?10375978488363033356" style="text-decoration:underline;color:blue;">
      Launch Just Spices
      </a>
   </div> -->
</div>
{%elsif page.handle == 'terms-and-conditions'%}
<div>
   <h1>Just Spices Terms of Use</h1>
   <p>Last Updated: October 10, 2016<br />These Terms of Use (“Terms of Use”) govern your use of and access to the Just Spices website (“Site”). By accessing or using the Site, or by otherwise accepting these Terms of Use, you (an individual or entity) agree to the terms and conditions set forth in these Terms of Use. If you violate or do not agree to these Terms of Use, your access to and use of the Site is unauthorized.<br />These Terms of Use may be changed at any time and notice of such changes shall be given by posting updated Terms of Use on the Site. Your continued use of the Site thereafter constitutes acceptance of the updated Terms of Use.</p>
   <h3><br />Definitions</h3>
   <p><br /> “Just Spices” means Just Spices, Inc. and any subsidiaries and affiliates of Just Spices (including any that Just Spices may form or acquire in the future). We also refer to Just Spices as 'we', 'us' and 'our'.<br />“Site” means the website at [www.justspices.com].<br />When we say “you” or “your” we mean users of the Site.</p>
   <h3><br />License</h3>
   <p><br />Just Spices grants you a limited, revocable, license (“License”) to access and use the Site pursuant to these Terms of Use.<br />If you are accessing the Site as an employee or agent, you acknowledge that you are extending the permanent consent and authorization described above on behalf of your employer or principal, and you represent that you have authority from that employer or principal to do so.<br />If you are accessing the Site as an employer or principal, you authorize your employee or agent to extend on your behalf the permanent consent and authorization described above, and you acknowledge that your permanent consent and authorization will bind all of your employees and agents.</p>
   <h3><br />Account Registration</h3>
   <p><br />To make a purchase on Just Spices, you must register for an account. You must be at least 18 years old to register for an account. Only one account is permitted per household.<br />You agree that all of your registration information will be true and complete, and you will keep your account information current and up-to-date. You agree to keep your Just Spices username and password confidential, and to access the Site from devices that have up-to-date operating systems and security software. You agree not to allow anybody else to use your account, including in any way that is meant to circumvent these Terms of Use. You will be responsible for all purchases made, and anything else that occurs, through your account.<br />Please notify us immediately of any suspected unauthorized activity on your account.</p>
   <h3><br />Placing an Order</h3>
   <h4><br />Orders and Pricing</h4>
   <p><br />Pricing errors, out-of-stock and other errors occasionally occur on the Site. We reserve the right to cancel any orders containing pricing errors, out of stock errors or other errors at any time without further obligation to you, including after you have received a confirmation of your order. Should this happen with your order, we’re very sorry for the inconvenience. Please contact us so we can try to figure out what happened and do our best to make sure it doesn’t happen again.<br />In addition, if any item you request becomes unavailable on the Site, we may cancel your order.</p>
   <h4><br />Taxes</h4>
   <p><br />Items sold on the Site may be subject to tax. Prior to submitting your purchase request, you will see an estimate of the tax to be collected on your order. This tax amount will depend on various factors, including the items purchased and the shipment destination.</p>
   <h4><br />Title and Risk of Loss</h4>
   <p><br />Title to the items purchased by you on the Site (and the related risk of loss on these items) passes to you upon delivery of the items to the common carrier used by Just Spices.</p>
   <h4><br />Returns and Refunds</h4>
   <p><br />Our returns policy does not affect your legal rights under the Distance Selling Regulations, The Sale of Goods Act or other legislation. If you wish to return an item bought from us please contact us via amy@justspices.com within 30 days of receiving the order clearly stating your full contact details and order reference number. Items returned during the 30 days must be in their original condition and packaging and under no circumstances should be used. We reserve the right to refuse a refund on any item, which has been opened, damaged, dirtied, in un-saleable condition or which have not been returned to us in line with the specified return procedure.<br />Any return made outside the defined timeframes will not be accepted.</p>
   <h4><br />Resale</h4>
   <p><br />We reserve the right to prohibit or limit sales to resellers or other parties who purchase a product from Just Spices with the intention to resell that product. We also reserve the right to limit the quantity of items purchased per account, credit card, shipping address, person, household or order for any reason.</p>
   <h3><br />Privacy</h3>
   <p><br />You consent to the collection, use, disclosure and other handling of information as described in our Privacy Policy, which may be updated from time to time.</p>
   <h3><br />Use of Materials on the Site</h3>
   <p><br />All content on the Site (including, for example, text, designs, graphics, logos, icons, images, audio clips, downloads, interfaces, information, code and software, and the selection and manner of compilation and presentation), is owned by Just Spices, other content providers (such as Just Spices’s retail partners or suppliers) or their licensors, and may be protected by copyright, trademark, and other applicable laws.<br />Your access to and use of the Site does not grant you any license or right to use any trademark, logo, or service mark displayed on the Site. Just Spices, other content providers, or their licensors retain full and complete title to and reserve all rights in the material on the Site, including all associated intellectual property rights. Just Spices neither warrants nor represents that your use of materials on the Site will not infringe rights of third parties.<br />You may access the Site only for your personal and non-commercial use, and you may not modify or delete any copyright, trademark or other proprietary notice relating to the material you access.<br />Any other use of the material on the Site, including, without limitation, the modification, distribution, transmission, performance, publication, uploading, licensing, reverse engineering, transfer, or sale of, or the creation of derivative works from, any material, information, software, products, or services obtained from the Site, or use of the Site for purposes competitive with Just Spices, or for other commercial purposes, is expressly prohibited. You agree to abide by all additional restrictions displayed on the Site as they may be updated from time to time.</p>
   <h3><br />Content You Submit</h3>
   <p><br />You may create, provide or upload certain content (“Content”) on your account profile, forums, or other parts of the Site, including through third party social media plug-ins such as Facebook’s and Instagram’s. By providing or uploading Content, You (a) represent that (i) the Content is consistent with the Acceptable Use provision below, (ii) is accurate, and (iii) you have proper ownership or license to grant Just Spices the following license to use Content; (b) grant to Just Spices a worldwide, irrevocable, perpetual, royalty-free license to display, reproduce, and use the Content in the provision of Service to You and others. We will treat Content provided by You in accordance with our Privacy Policy, which is hereby incorporated by reference.</p>
   <h3><br />Acceptable Use</h3>
   <p><br /><br />As a condition of your license to use and access the Site, you agree that you will not do any of the following:<br /><br /></p>
   <ul class="mitPunkt">
      <li>Use the Site if you are under the age of 18 or otherwise unable to enter into binding legal agreements;</li>
      <li>Share your account or password with others;</li>
      <li>Use the Site unlawfully or for an unlawful purpose;</li>
      <li>Transmit any Content that is illegal, abusive, harassing, racist, or which constitutes hate speech;</li>
      <li>Stalk, harass, or harm another individual;</li>
      <li>Impersonate another, misrepresent or falsely identify yourself;</li>
      <li>Use any device, software or routine to interfere or attempt to interfere with the proper working of the Site;</li>
      <li>Take any action that imposes an unreasonable or disproportionately large load on Just Spices's servers;</li>
      <li>Use any robot, spider or other automatic device, or a manual process, to collect or harvest information about users or products for sale.</li>
   </ul>
   <h3><br />Limitation of Liability</h3>
   <p><br /><br />IN NO EVENT SHALL JUST SPICES, ITS OFFICERS, DIRECTORS, AGENTS, AFFILIATES, EMPLOYEES, ADVERTISERS, OR DATA PROVIDERS BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES (INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS, OR LOSS OF DATA) WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE), EQUITY OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THIS SITE OR THE PRODUCTS WE SELL ON THE SITE. Some jurisdictions do not allow the exclusion or limitation of liability, so the above limitations may not apply to you.</p>
   <h3><br />No Warranty</h3>
   <p><br /><br />THE SITE AND ANY PRODUCT MADE AVAILABLE TO YOU THROUGH THE SITE IS PROVIDED “AS IS”. JUST SPICES MAKES NO WARRANTIES, EXPRESSED OR IMPLIED, AND HEREBY DISCLAIMS AND NEGATES ALL WARRANTIES, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF INTELLECTUAL PROPERTY OR OTHER VIOLATION OF RIGHTS. FURTHERMORE, JUST SPICES DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS CONCERNING THE ACCURACY, LIKELY RESULTS, OR RELIABILITY OF THE SITE.</p>
   <h3><br />Indemnification</h3>
   <p><br />You agree, to the fullest extent permitted by applicable law, to indemnify, defend, and hold harmless Just Spices and its subsidiaries and affiliates, and as to each, their officers, directors, employees, contractors, agents, licensors, service or third party providers, subcontractors, and suppliers, from and against any and all losses, liabilities, expenses, damages, and costs, including reasonable attorneys’ fees and court costs, arising out of or relating to your access to or use of the Site, any content you post or submit to the Site, your violation of law or infringement of the rights of a third party, or your other violation of these Terms of Use. Just Spices reserves the right, at its own expense, to assume exclusive defense and control of any matter otherwise subject to indemnification by you and, in any case, you agree to cooperate with Just Spices if and as requested by Just Spices in the defense of such matter.</p>
   <h3><br />Termination by Just Spices</h3>
   <p><br />We may close your account at any time in our sole discretion and without notice to you. While we always want to promote a great shopping experience at Just Spices, this means we can close (or suspend) your account if we believe you are using the Site in a manner not intended by us, or in a way that circumvents these Terms of Use, or is contrary to the spirit of any activity on the Site (like a promotion or contest). In no case will Just Spices’s closure of your account, or reduction of your access to the Site, waive or affect any other right or relief to which Just Spices may be entitled.</p>
   <h3><br />Miscellaneous</h3>
   <p><br /><br /></p>
   <ul class="mitPunkt">
      <li>No Waiver. Just Spices's failure to exercise or enforce any right or provision of the Terms of Use will not be deemed to be a waiver of such right or provision.</li>
      <li>Entire Agreement. These Terms of Use, together with the Privacy Policy and any amendments and additional agreements you might enter with Just Spices in connection with our Site or Service, shall constitute the entire agreement between you and Just Spices concerning the Site or Service, and shall supersede any prior terms you had with Just Spices regarding the Site or Service.</li>
      <li>Severability. If any provision of these Terms of Use is deemed invalid, then that provision will be limited or eliminated to the minimum extent necessary, and the other provisions of these Terms of Use shall remain in full force and effect.</li>
      <li>Limitation of Claims. Regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to your use of the Site must be filed within one (1) year after such claim or cause of action arose, or else that claim or cause of action will be barred forever.</li>
      <li>Choice of Law. The Terms of Use shall be governed by the laws of the State of California without regard to its conflict of law provisions.</li>
      <li>Arbitration. Any controversy or claim arising out of or relating to these Terms of Use or the Site will be settled by binding arbitration in accordance with the commercial arbitration rules of the American Arbitration Association ("AAA"). Any such controversy or claim must be arbitrated on an individual basis, and must not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration must be conducted in the County of San Francisco, California, and judgment on the arbitration award may be entered into any court having jurisdiction thereof. Either Just Spices or you may seek any interim or preliminary relief from a court of competent jurisdiction in the County of San Francisco, California, as necessary to protect the rights or property of you or Just Spices.</li>
   </ul>
   <p><br />How to Contact Us<br /><br />If you have any questions or comments, please contact us by:<br />(1) emailing us at amy@justspices.com<br />(2) contacting us by phone at (424) 527 7955; or<br />(3) mailing us at the following address: <br />Just Spices Inc.<br />2355 Westwood Blvd. #685<br />Los Angeles, CA 90064<br />United States</p>
</div>
     
{%elsif page.handle == 'best_sellers'%}
  <div class="gridlock" style="margin-bottom: 1em;">
   <div class="row" style="margin-top: 2em;">
      <div class="desktop-12 best-seller">
         {% for product in collections.Best-Seller.products %}
         <div class="desktop-3 tablet-3 gridlock row mobile-half relative" style= "margin-top:1em">           
            
            	{% for tag in product.tags %}{% if tag == 'new' %}<img class="new" src="{{ 'neu.png' | asset_url }}"  style="width:25%"/>{% endif %}{% endfor %}
            		<a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
               			<img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape }}" />
                      <div style="background-color:#F0F0F0;min-height: 66px;">
               			<h2 id="product-listing-font" style="margin:auto;text-align: center;background-color:#F0F0F0;text-transform:uppercase;font-size:16px;">{{ product.title }}</h2>
                      </div>
                        <div style="background-color:#F0F0F0;text-align: center;position: relative;padding: 1em;margin-top: -.8em;">
                  			<button id="product_button_collection" style="margin:auto;width:100%;">
                  				{% if product.price_varies %} {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %} | Buy now
                  			</button>
               			</div>
           	 		</a>
         </div>
        {% endfor %}
      </div>
   </div>
</div>
    <h2 style="text-align: center; font-size: 40px; font-family: DaftBrush;">get to know the characters<br>Behind our Delicious seasonings</h2>

{%endif%}  
</div>
</div>