{% if page.title == 'About us' or page.title == 'Quality' or page.title == 'Packaging' or page.title == 'Team' %} 
<ul id="ganzeUnterMenu">
  <li class="unterMenu"><a href="/pages/about-us">Mission</a></li>
  <li class="unterMenu"><a href="/pages/quality-packaging">Quality</a></li>
  <li class="unterMenu"><a href="/pages/packaging">Packaging</a></li>
  <li class="unterMenu"><a href="/pages/team">Team</a></li>
</ul> 
{%endif%}
<div id="page" class="desktop-12 mobile-3">
  {%comment%}
  <h1>{{ page.title }}</h1>
  {%endcomment%}
  <div class="rte">{{ page.content }}</div>
{% if page.title == 'Quality' %}
  <div id="qualityOne">
    <div id="qualityBildOne">
      <img src="Auswahl_011.png" alt="QualityBildOne"  >
    </div>
    
    <div id="qualityTextOne">
      <h1 style="text-align:center;">ORIGIN OF JUST SPICES</h1>
    <p style="font-size: 18px;"> 
We went on a world tour for you! 
      Our mission was to personally meet the farmers who could grow and harvest the best quality spices for us. 
      That way, we are able to guarantee that all our ingredients are intricately cultivated and meet the highest, freshest standards for all our products. 
    </p>
    </div>
  </div>
  {%comment%}
  ende erster abschnitt
  {%endcomment%}
  
  <div id="qualityTwo">
    <div id="qualityBildTwo">
  
      <img src= "{{ 'Auswahl_011.png' | asset_url | img_tag }}"  alt= "QualityBildOne- Just Spices"  >
    </div>
    
    <div id="qualityTextTwo">
      <h1 style="text-align:center;">Quality</h1>
    <p style="font-size: 18px;"> 
One thing anyone would agree on- a spice with the perfect flavor needs the highest quality and freshness.
For this reason, the quality and sanitation of all our suppliers are certified according to DIN EN ISO 9001: 2008 with integrated HACCP sanitation systems. 
Hygiene standards and quality can never be too high!
    </p>
    </div>
  </div>
  {%comment%}
  ende zweiter abschnitt
  {%endcomment%}
  <div id="trenner">
    <hr style="width=75%;border: solid #979797;
border-width: 1px 0 0;
clear: both;">                     
  </div>
  
  <div id="qualityThre">
    <h1 style="text-align:center;font-size:30px;">OUR PROMISE TO YOU</h1>
    
    <div id="qualityTextThre">
      
      <div id="dreiTextallQ">
        
        
<div class="dreiTextQ">
  
  <p style="font-size:20px">Top quality at a fair price - this is our promise to you.
Our process starts like this: After careful studying of locations around the world, we choose the best area to begin cultivating our ingredients.
As soon as they’ve been harvested they’re shipped to Germany, where we have an independent lab thoroughly check the quality again.
</p>
  
</div>
<div class="dreiTextQ">
  
  <p style="font-size:20px">In addition to all that, the spices must pass the Just Spices quality test (okay, admittedly we don’t try the chili peppers completely raw).
Our goal is to bring the best herbs and spices from around the world into your home, and that’s something we can’t do without raising our standards higher and higher like we’ve been doing.


  </p>
</div>
<div class="dreiTextQ">
  
  <p style="font-size:20px">
    That way, we hope to encourage you to have fun in the kitchen and experiment with new dishes.
    With our spices, you’ll eat your regular home-cooked meals in a whole new way with a bright smile on your face.
Be sure to expect an explosion of taste every time!

Top quality at a fair price - this is our promise to you!</p>
</div>
</div>

    </div>
  </div>
{%else%}  
{%endif%}  
  
</div>


