<div id="hintergrundfarbe" style="overflow:hidden;background-color:#f8f8f8;position:relative">
</div>
<div itemscope itemtype="http://schema.org/Product" id="product-{{ product.id }}" class="product-page" style="background-color: #F0F0F0;">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
  <h1 itemprop="name" style="display:none;">{{ product.title }}</h1>
  <!--- For Mobile --->
  <div id="mobile-product" class="desktop-hidden mobile-3">
    <div class="mobile-gallery">
      <ul class="slides" style="padding-bottom:2em;">
        	<h2 class="produktH2">{{ product.title }}</h2>
        	{% for tag in product.tags %}
    			{% if tag == 'usda' %}
    				<div>
						<img src="{{ 'usda.png' | asset_url }}" alt="{{ shop.name }}" style="position: absolute;right: 30px;top: 135px;width: 20%;"/>
    				</div>
    			{%endif%}
    		{%endfor%}
        	<img id="{{ product.id }}" class = "productImage" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt='{{ product.title }} - Just Spices' title="{{ product.title }}"/>
      </ul>
    </div>
  </div>

  <!--- For Desktop --->
  <div id="product-photos" class="desktop-6 mobile-3">

    {%comment%}
    {% assign featured_image = product.images[1] | default: product.featured_image %}
    {%endcomment%}
    <div class="bigimage desktop-12">
      {% if product.title == 'Indian Flavors Set' or product.title == 'Wedding Set' or product.title == 'Mexican Flavors Set' or product.title == 'BBQ Love Seasoning Set' or product.title == 'Thanksgiving Set' or product.title == 'Christmas Set'%}
      <img id="{{ product.id }}" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt="{{ product.title }} - Just Spices" title="{{ product.title }}" style="width:80%;margin-top:5em;"/>
      {%else%}
      <img id="{{ product.id }}" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt="{{ product.title }} - Just Spices" title="{{ product.title }}" style="width:80%;"/>
      {%endif%}
    </div>
    <a data-pin-do="buttonBookmark" data-pin-lang="en" data-pin-save="true" href="https://www.pinterest.com/pin/create/button/"></a>
    <div id="{{ product.id }}-gallery">


      {%comment%}
      {% for image in product.images %}
      <a href="#" data-image="{{ image | product_img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ image | product_img_url: 'master' }}">
        <img class="thumbnail desktop-2" src="{{ image | product_img_url: 'compact' }}" data-image-id="{{ image.id }}" alt="{{ image.alt  | escape }}" />
      </a>

      {% endfor %}
      {%endcomment%}
    </div>
  </div>
{%comment%}
  <script type="text/javascript">
    /*
    $(document).ready(function () {

      //initiate the plugin and pass the id of the div containing gallery images
      $("#{{ product.id }}").elevateZoom({
        gallery:'{{ product.id }}-gallery',
        cursor: 'pointer',
        galleryActiveClass: 'active',
        borderColour: 'black',
        borderSize: '1'
        });

      //pass the images to Fancybox
      $("#{{ product.id }}").bind("click", function(e) {
        var ez =   $('#{{ product.id }}').data('elevateZoom');
        $.fancybox(ez.getGalleryList());
      return false;
    });

    $('.mobile-gallery').flexslider({
      animation: "fade",
      controlNav: false,
      slideshow: false,
      directionNav: true,
      controlNav: "thumbnails"
    });

    });

  */
  </script>
{%endcomment%}

  <div id="product-description" class="desktop-6 mobile-3">
    {% for tag in product.tags %}
    	{% if tag == 'usda' %}
    <div>
		<img src="{{ 'usda.png' | asset_url }}" alt="{{ shop.name }}" class="nameProdukt" style="margin-left: 3em;width:10%;"/>
    </div>
    {%endif%}
    {%endfor%}
    <h2 itemprop="name" class="nameProdukt mobile-hidden produktH2">{{ product.title }}</h2>

    <div class="desc">{{ product.description | split: '<!-- split -->' | first }}</div>


   <div id="containsOZ">
    {% include 'containsOZ' %} {% include 'PreisPro100g' %}
      
     {% capture the_snippet_review_avg %}{% include 'ssw-widget-avg-rate-profile' %}{% endcapture %}
    {% unless the_snippet_review_avg contains 'Liquid error' %}
    {{ the_snippet_review_avg }}
    {% endunless %}
    </div>



{%unless variant.metafields.secomapp.freegifts %}
	{% assign variant = product.variants.first %}
		{% if variant.inventory_quantity <= 0 and variant.available and variant.inventory_management != '' %}
			<p style="color:#ff0000;text-align:center;font-size:15px;">This item is currently out of stock. It will take up to 1 weeks to ship.</p>
		{% endif %}
{%endunless%}



    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

    <p id="product-price">
        {% if product.available %}
        {% if product.compare_at_price > product.price %}
        	<!--<span class="product-price" itemprop="price">{{ product.price | money }}</span>&nbsp;<span class="was">{{ product.compare_at_price | money }}</span>-->
        	<span>{{ product.variants[0].price | money }}</span>
        {% else %}
        	<span class="product-price" itemprop="price">{{ product.variants[0].price | money }}</span>
        {% endif %}
        {% else %}
        	<span class="product-price" itemprop="price">Sold Out</span>
        {% endif %}
      </p> 

      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">


  <form method="post" action="/cart/add" style="width: 100%;float: right;position: relative;">
	<div id="quant">
		<label for="quantity" style="display:none;">Qty: </label>
     	<button class="qty-button" onclick="jQuery('#quantity').val(function(i, oldval) {if(oldval > 1) {return --oldval}else{return 1}}); return false;"><span><span><i class="fa fa-minus"></i></span></span></button>
		<input type="number" id="quantity" name="quantity" min="1" max="20" value="1"/>
      	<button class="qty-button" onclick="jQuery('#quantity').val(function(i, oldval) {if(oldval > 19){return 20;}else{return ++oldval}}); return false;"><span><span><i class="fa fa-plus"></i></span></span></button>

      <!--<select id="quantity" name="quantity">
			{% for i in (1..10) %}
				<option value="{{ i }}">{{ i }}</option>
			{% endfor %}
		</select>-->
	</div>
    <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    <input type="submit" class="fbAddToCart"+ i++ value="Buy now" id="product_button" onclick="addToCart()"/>


    <script>
     function addToCart() {

     var test  = fbq('track', 'AddToCart', {
      content_name: '{{ product.title }}',
      content_ids: '{{ product.id }}',
      content_type: 'product',
      value: '{{ product.price }}',
      currency: 'USD'
       alert(test);
    });


     }
    </script>
<!--<div id="quant">
<label for="quantity">Qty: </label>
<select id="quantity" name="quantity">
{% for i in (1..10) %}
<option value="{{ i }}">{{ i }}</option>
{% endfor %}
</select>
</div>-->

    {% capture the_snippet_fave %}{% include 'socialshopwave-widget-fave' %}{% endcapture %}
    {% unless the_snippet_fave contains 'Liquid error' %}
    {{ the_snippet_fave }}
    {% endunless %}

    {% capture the_snippet_ask_friends %}{% include 'socialshopwave-widget-askfriends' %}{% endcapture %}
    {% unless the_snippet_ask_friends contains 'Liquid error' %}
    {{ the_snippet_ask_friends }}
    {% endunless %}
  </form>
   

      {%comment%}
      {% include 'product-form' %}
{% endcomment %}
    </div>
<div id="soc">
        {% capture the_snippet_share %}
        {% include 'ssw-widget-share-links' with 1 %}
        {% endcapture %}
        {% unless the_snippet_share contains 'Liquid error' %}
        {{ the_snippet_share }}
        {% endunless %}
      </div>
    <div class="desc" style="display:none;">



{% comment %}
      <div id="soc">
        {% include 'social' with product %}

      </div>

      <h4>{{ 'products.product.product_details' | t }}</h4>
{% endcomment %}


      {% if settings.show_tabs %}
      <ul class="accordion">
        {% unless settings.tab1 == blank %}
        <li id="two" class="size">

          {% if settings.tab1_title ==  blank %}
          <a href="#two"><h4>{{ 'products.product.size_guide' | t }}</h4></a>
          {% else %}
          <a href="#two"><h4>{{ settings.tab1_title }}</h4></a>
          {% endif %}


          <ul class="sub-menu">
            <li><div class="rte">{{ pages[settings.tab1].content }}</div></li>
          </ul>
        </li>
        {% endunless %}


        {% unless settings.tab2 == blank %}
        <li id="three" class="delivery">

          {% if settings.tab2_title ==  blank %}
          <a href="#three"><h4>{{ 'products.product.delivery' | t }}</h4></a>
          {% else %}
          <a href="#three"><h4>{{ settings.tab2_title }}</h4></a>
          {% endif %}

          <ul class="sub-menu">
            <li><div class="rte">{{ pages[settings.tab2].content }}</div></li>
          </ul>
        </li>
        {% endunless %}


        {% unless settings.tab3 == blank %}
        <li id="four" class="returns">

          {% if settings.tab3_title ==  blank %}
          <a href="#four"><h4>{{ 'products.product.returns' | t }}</h4></a>
          {% else %}
          <a href="#four"><h4>{{ settings.tab3_title }}</h4></a>
          {% endif %}

          <ul class="sub-menu">
            <li><div class="rte">{{ pages[settings.tab3].content }}</div></li>
          </ul>
        </li>
        {% endunless %}
      </ul>


    
  <script type="text/javascript">
        $(document).ready(function() {
          fbq('track', "PageView"); fbq('track', 'viewContent', {
      content_name: '{{ product.title }}',
      content_ids: '{{ product.id }}',
      content_type: 'product',
      value: '{{ product.price }}',
      currency: 'USD'
    });

          // Store variables
          var accordion_head = $('.accordion > li > a'),
              accordion_body = $('.accordion li > .sub-menu');
          // Click function
          accordion_head.on('click', function(event) {
            // Disable header links
            event.preventDefault();
            // Show and hide the tabs on click
            if ($(this).attr('class') != 'active'){
              accordion_body.slideUp('normal');
              $(this).next().stop(true,true).slideToggle('normal');
              accordion_head.removeClass('active');
              $(this).addClass('active');
            } else {
              accordion_body.slideUp('normal');
              accordion_head.removeClass('active');
            }
          });
        });
      </script>
      {% endif %}

    </div>
{% comment %}
    <div id="productnav" class="desktop-12 mobile-3">
      <h4>{{ 'products.product.view_more' | t }}</h4>
      <ul class="view-more">
        <li>{{ 'products.product.product_type' | t }} {{ product.type | link_to_type }}</li>
        <li>{{ 'products.product.brand' | t }}: {{ product.vendor | link_to_vendor }}</li>
        {% if collection %}
        <li>{{ 'products.product.collection' | t }} {% capture url %}/collections/{{ collection.handle }}{% endcapture %}{{ collection.title | link_to: url }}</li>
        {% endif %}
      </ul>
    </div>
    {% endcomment %}



  </div>

  <div class="clear"></div>

  {% if product.description contains '<!-- split -->' %}
  <div id="split-description" class="desktop-12 tablet-6 mobile-3" style="display:none;">
    <!--<h4 class="section-title">{{ 'products.product.product_more_details' | t }}</h4>-->
  <div class="rte">{{ product.description | split: '<!-- split -->' | last }}</div>
  </div>
  {% endif %}

  {% if settings.show_related_products %}
  {% include 'related-products' %}
  {% endif %}





</div>
