{% layout none %}
<div id="product-{{ product.id }}">
  <div class="product-quick-view row">
    <div id="product-photos" class="desktop-6 mobile-3">

      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

      <div class="bigimage desktop-12">
        <img id="img-{{ product.id }}" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt='{{ image.alt }}' title="{{ product.title }}"/>
      </div>

      {% if product.images.size > 1 %}
      <div id="{{ product.id }}-gallery">	
        {% for image in product.images %}
        <a href="{{ image | product_img_url: 'large' }}" class="clicker-{{ product.id }}" data-image="{{ image | product_img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ image | product_img_url: 'master' }}">
          <img class="thumbnail desktop-2" src="{{ image | product_img_url: 'compact' }}" data-image-id="{{ image.id }}" alt="{{ image.alt }}" data-image-id="{{ image.id }}" />
        </a>
        {% endfor %} 
      </div>
      {% endif %}
    </div>


    <script>

      $('.clicker-{{ product.id }}').click(function() {
        var newImage = $(this).attr('href');
      $( '.bigimage img' ).attr({ src: newImage }); 
      return false;
      });
  </script>




    <div id="product-right" class="desktop-6 mobile-3">
      <div id="product-description">
        {% if settings.vendor %}<h3>{{ product.vendor }}</h3>{% endif %}
        <h2>{{ product.title | escape }}</h2>   
        <p id="product-price">
          {% if product.available %}
          {% if product.compare_at_price > product.price %}
          <span class="product-price" itemprop="price">{{ product.price | money }}</span>&nbsp;<span class="was">{{ product.compare_at_price | money }}</span>
          {% else %}
          <span class="product-price" itemprop="price">{{ product.price | money }}</span>
          {% endif %}
          {% else %}
          <span class="product-price" itemprop="price">{{ 'products.product.sold_out' | t }}</span>
          {% endif %}
        </p> 

        {% include 'product-form' %}

        {{ product.description | strip_html | truncate: 150 }}

        <div class="desc">
          <a href="{{ product.url | within_collection }}" class="full-click">{{ 'products.general.view_full' | t }}</a>
        </div>
      </div>

    </div>  
  </div>
</div>


<script>
  // Quantity values
  $('.up').click(function(e){
    e.preventDefault();
    fieldName = $(this).attr('field');
    // Get its current value
    var currentVal = parseInt($('input[name='+fieldName+']').val());
    // If is not undefined
    if (!isNaN(currentVal)) {
      // Increment
      $('input[name='+fieldName+']').val(currentVal + 1);
    } else {
      // Otherwise put a 0 there
      $('input[name='+fieldName+']').val(1);
    }
  });
  $(".down").click(function(e) {
    e.preventDefault();
    fieldName = $(this).attr('field');
    // Get its current value
    var currentVal = parseInt($('input[name='+fieldName+']').val());
    // If it isn't undefined or its greater than 0
    if (!isNaN(currentVal) && currentVal > 1) {
      // Decrement one
      $('input[name='+fieldName+']').val(currentVal - 1);
    } else {
      // Otherwise put a 0 there
      $('input[name='+fieldName+']').val(1);
    }
  }); 
  

</script>
