
<div itemscope itemtype="http://schema.org/Product" id="product-{{ product.id }}" class="product-page" style="background-color: #F0F0F0;">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
  <h1 itemprop="name" style="display:none;">Gift Card - ALL THE BEST!</h1>
  <!--- For Mobile --->
  <div id="mobile-product" class="mobile-3">
    <div class="mobile-gallery">
      <ul class="slides">    
        {% for image in product.images %}
        <h2 class="GiftCardNameMobil">{{ product.title }}</h2> 
        <li data-thumb="{{ image | product_img_url: 'small' }}" data-image-id="{{ image.id }}"><img data-image-id="{{ image.id }}" src="{{ image.src | product_img_url: 'grande' }}" alt="{{ image.alt | escape }}"></li>
        {% endfor %}
      </ul>
    </div>  
  </div>   

  <!--- For Desktop --->


  <div id="product-photos" class="desktop-6 mobile-3">
    
    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
    {%comment%}
    {% assign featured_image = product.images[1] | default: product.featured_image %}
    {%endcomment%}
    <div class="bigimage desktop-12">
      
      <img class="angepassteProduktBilder" id="{{ product.id }}" src="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ featured_image | img_url: 'master' }}" alt="{{ product.title }} - Just Spices" title="{{ product.title }}"/>
    
    </div>
    <div id="{{ product.id }}-gallery">	
         
      {%comment%}
      {% for image in product.images %}
      <a href="#" data-image="{{ image | product_img_url: '1024x1024' }}" data-image-id="{{ image.id }}" data-zoom-image="{{ image | product_img_url: 'master' }}">
        <img class="thumbnail desktop-2" src="{{ image | product_img_url: 'compact' }}" data-image-id="{{ image.id }}" alt="{{ image.alt  | escape }}" />
      </a>
      
      {% endfor %}
      {%endcomment%}
      
    </div>
  </div>
{%comment%}
  <script type="text/javascript">
    $(document).ready(function () {

      //initiate the plugin and pass the id of the div containing gallery images
      $("#{{ product.id }}").elevateZoom({
        gallery:'{{ product.id }}-gallery',
        cursor: 'pointer', 
        galleryActiveClass: 'active', 
        borderColour: 'black', 
        borderSize: '1' 
        }); 

      //pass the images to Fancybox
      $("#{{ product.id }}").bind("click", function(e) {  
        var ez =   $('#{{ product.id }}').data('elevateZoom');	
        $.fancybox(ez.getGalleryList());
      return false;
    });	 

    $('.mobile-gallery').flexslider({
      animation: "fade",
      controlNav: false,
      slideshow: false,
      directionNav: true,
      controlNav: "thumbnails"
    });      

    }); 
   
    
  </script>
{%endcomment%}

  <div id="product-description" class="desktop-6 mobile-3">

    <h2  itemprop = "name" class="GiftkarteNameDesktop">{{ product.title }}</h2> 
    
    <div class="desc">{{ product.description | split: '<!-- split -->' | first }}</div>
    
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
{%comment%}
      <p id="product-price">
        {% if product.available %}
        {% if product.compare_at_price > product.price %}
        <span class="product-price" itemprop="price">{{ variant.price | money }}</span>&nbsp;<span class="was">{{ product.compare_at_price | money }}</span>
        {% else %}
        <span class="product-price" itemprop="price">{{ product.price | money }}</span>
        {% endif %}
        {% else %}
        <span class="product-price" itemprop="price">Sold Out</span>
        {% endif %}
      </p>
{%endcomment%}
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
		

      
      
      {%comment%}
      {% include 'product-form' %}  
{% endcomment %}
    </div>

    <div class="desc">
{% comment %}
      <div id="soc">
        {% include 'social' with product %}
      </div>

      <h4>{{ 'products.product.product_details' | t }}</h4>
{% endcomment %}
      

      {% if settings.show_tabs %}
      <ul class="accordion">
        {% unless settings.tab1 == blank %}
        <li id="two" class="size">

          {% if settings.tab1_title ==  blank %}
          <a href="#two"><h4>{{ 'products.product.size_guide' | t }}</h4></a>
          {% else %}
          <a href="#two"><h4>{{ settings.tab1_title }}</h4></a>
          {% endif %}           


          <ul class="sub-menu">					
            <li><div class="rte">{{ pages[settings.tab1].content }}</div></li>
          </ul>
        </li>
        {% endunless %}


        {% unless settings.tab2 == blank %}
        <li id="three" class="delivery">

          {% if settings.tab2_title ==  blank %}
          <a href="#three"><h4>{{ 'products.product.delivery' | t }}</h4></a>
          {% else %}
          <a href="#three"><h4>{{ settings.tab2_title }}</h4></a>
          {% endif %} 

          <ul class="sub-menu">
            <li><div class="rte">{{ pages[settings.tab2].content }}</div></li>
          </ul>
        </li>
        {% endunless %}


        {% unless settings.tab3 == blank %}
        <li id="four" class="returns">

          {% if settings.tab3_title ==  blank %}
          <a href="#four"><h4>{{ 'products.product.returns' | t }}</h4></a>
          {% else %}
          <a href="#four"><h4>{{ settings.tab3_title }}</h4></a>
          {% endif %}           

          <ul class="sub-menu">					
            <li><div class="rte">{{ pages[settings.tab3].content }}</div></li>
          </ul>
        </li>
        {% endunless %}	
      </ul>


      <script type="text/javascript">
        $(document).ready(function() {
          fbq('track', "PageView"); fbq('track', 'viewContent', {
      content_name: '{{ product.title }}',
      content_ids: '{{ product.id }}',
      content_type: 'product',
      value: '{{ product.price }}',
      currency: 'USD'  
    }); 

          // Store variables			
          var accordion_head = $('.accordion > li > a'),
              accordion_body = $('.accordion li > .sub-menu');
          // Click function
          accordion_head.on('click', function(event) {
            // Disable header links				
            event.preventDefault();
            // Show and hide the tabs on click
            if ($(this).attr('class') != 'active'){
              accordion_body.slideUp('normal');
              $(this).next().stop(true,true).slideToggle('normal');
              accordion_head.removeClass('active');
              $(this).addClass('active');
            } else {
              accordion_body.slideUp('normal');
              accordion_head.removeClass('active');
            }
          });
        });
      </script>

      {% endif %}

    </div>
{% comment %}
    <div id="productnav" class="desktop-12 mobile-3">
      <h4>{{ 'products.product.view_more' | t }}</h4>
      <ul class="view-more">
        <li>{{ 'products.product.product_type' | t }} {{ product.type | link_to_type }}</li>
        <li>{{ 'products.product.brand' | t }}: {{ product.vendor | link_to_vendor }}</li>
        {% if collection %}
        <li>{{ 'products.product.collection' | t }} {% capture url %}/collections/{{ collection.handle }}{% endcapture %}{{ collection.title | link_to: url }}</li>
        {% endif %}
      </ul>
    </div>
    {% endcomment %}
    
    
    
  </div>
<div id="formGiftCard" class="desktop-12 mobile-3"> 
  
  
  
	<form method="post" action="/cart/add">
    
    	<div>
    		<label>Type your personal message here</label>
  			<textarea type="text" maxlength="250" id="gift note" name="properties[Gift note]">Hey star chef, 
finally you get what is still missing in your kitchen! A spicy gift voucher that’s just like you: Lovely scent, damn hot and above all, just delicious!
          	</textarea>
		</div>
    
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <input type="submit" class="fbAddToCart" value="Buy now" id="product_button" onclick="myFunction()" style="width: 30%; float: left;"/>


    <script>
      function myFunction() {
    setTimeout(
       function() 
  {

  
  $( "#notify" ).slideDown( "slow" ); {
    // Animation complete.
    $("#notify").delay(3000).slideUp("slow");
    
    jQuery.getJSON('/cart.js', function(data) {
  document.getElementById("notify").innerHTML =
data.items[0].product_title+" "+"was added to your cart.";
      
  } );
  };
  }, 500);
        
        

        
        
        fbq('track', 'AddToCart', {
      content_name: '{{ product.title }}',
      content_ids: '{{ product.id }}',
      content_type: 'product',
      value: '{{ product.price }}',
      currency: 'USD'  
    });
        
        
        var timer = null;
    var el = document.getElementById("miniCart");
        var original = el.style.display ="none";
        el.style.display='block';
         timer = setTimeout(function() { el.style.display = original; }, 2000);
       document.getElementById('miniCart').onmouseover = function () {
        clearTimeout(timer);
    }
       document.getElementById('miniCart').onmouseleave = function () {
        el.style.display = original;
    }
}
       
    </script>

    <!-- Variant select -->
      
      <div class="large-8 columns">
        <label class="placeholder" for="product-select">&nbsp;</label>
        <select id="product-select" name='id' class="option-selector" style="font-size: 20px; margin-top: -1em; margin-left: 2em;">
          {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>
      </div>
      
    


	</form> 
</div>
  
  <div class="clear"></div>
  
  {% if product.description contains '<!-- split -->' %}
  <div id="split-description" class="desktop-12 tablet-6 mobile-3">
    <h4 class="section-title">{{ 'products.product.product_more_details' | t }}</h4>
  <div class="rte">{{ product.description | split: '<!-- split -->' | last }}</div>
  </div>
  {% endif %}

  {% if settings.show_related_products %}
  {% include 'related-products' %}
  {% endif %}

  



</div>
