{% layout none %}
{% capture results %}

{% paginate search.results by 6 %}  
  {% for item in search.results %}
    {% assign product = item %}
    { 
"product" : {{ product | json }},
"id":{{ product.id | json }},
"price":{%if product.compare_at_price %} {{product.compare_at_price | json }} {% else %} {{product.price | json }} {% endif %} ,
"title":{{ product.title | json }},
"product_type":{{ product.product_type | json }},
"vendor":{{ product.vendor | json }},
"handle":{{ product.handle | json }},
"variants":{{ product.variants | json }},
"url":{{ product.url | within: product.collections.last | json }},
"thumbnail":{{ product.featured_image.src | product_img_url: 'thumb' | json }}
    }
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
{% endpaginate %}

{% endcapture %}
searchCallback({
"results_count":{{ search.results_count }},
"results":[{{ results }}]
}); 